@charset "UTF-8";
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

#lnb h2 {
  padding-top: 35px !important;
  padding-bottom: 35px !important; }

#content .page-header {
  background-image: url(/assets/images/about/bg_visual.jpg); }

#content.korea-univ .u-title {
  margin-top: 45px;
  margin-bottom: 40px; }
  @media (min-width: 768px) {
    #content.korea-univ .u-title {
      margin-top: 70px; } }
  @media (min-width: 1280px) {
    #content.korea-univ .u-title {
      margin-top: 80px;
      margin-bottom: 60px; } }
#content.korea-univ .facts > li .fact-item i {
  float: left;
  margin-right: 15px;
  width: 85px; }
  #content.korea-univ .facts > li .fact-item i .img-responsive {
    margin: 0 auto; }
#content.korea-univ .facts > li .fact-item p {
  margin-bottom: 0;
  line-height: 20px; }
#content.korea-univ .facts > li .fact-item-1 p {
  position: relative;
  top: 15px; }
#content.korea-univ .facts > li + li {
  margin-top: 40px; }
@media (min-width: 768px) {
  #content.korea-univ .facts > li .fact-item i {
    margin-right: 20px; }
  #content.korea-univ .facts > li + li {
    margin-top: 15px; } }
@media (min-width: 1280px) {
  #content.korea-univ .facts > li .fact-item i {
    margin-right: 40px; } }
#content.korea-univ .rank-graph {
  padding: 40px 10px 45px;
  margin-top: 60px;
  border: 1px solid #e4ebf1; }
  #content.korea-univ .rank-graph p {
    margin-bottom: 40px; }
    #content.korea-univ .rank-graph p .img-responsive {
      margin: 0 auto; }
  #content.korea-univ .rank-graph figcaption {
    line-height: 16px;
    text-align: center; }
  @media (min-width: 768px) {
    #content.korea-univ .rank-graph {
      padding-top: 35px;
      padding-bottom: 35px; }
      #content.korea-univ .rank-graph p {
        margin-bottom: 35px; }
      #content.korea-univ .rank-graph figcaption {
        font-size: 13px; } }
  @media (min-width: 1280px) {
    #content.korea-univ .rank-graph {
      padding-top: 45px;
      padding-bottom: 40px; }
      #content.korea-univ .rank-graph p {
        margin-bottom: 45px; } }
#content.korea-univ .stats {
  margin-top: 60px; }
  #content.korea-univ .stats > li .stats-item i {
    float: left;
    margin-right: 15px;
    width: 75px; }
    #content.korea-univ .stats > li .stats-item i .img-responsive {
      margin: 0 auto; }
  #content.korea-univ .stats > li .stats-item dl dt, #content.korea-univ .stats > li .stats-item dl dd {
    line-height: 18px; }
  #content.korea-univ .stats > li .stats-item dl dt {
    font-weight: normal; }
  #content.korea-univ .stats > li .stats-item dl dd {
    margin-top: 5px;
    font-size: 22px;
    color: #920326;
    font-weight: bold; }
  #content.korea-univ .stats > li .stats-item-1 dl {
    position: relative;
    top: 15px; }
  #content.korea-univ .stats > li .stats-item-2 dl {
    position: relative;
    top: 15px; }
  #content.korea-univ .stats > li + li {
    margin-top: 55px; }
  @media (min-width: 768px) {
    #content.korea-univ .stats {
      margin-top: 125px; }
      #content.korea-univ .stats > li .stats-item i {
        margin-right: 20px; }
      #content.korea-univ .stats > li .stats-item dl {
        top: 10px; }
        #content.korea-univ .stats > li .stats-item dl dd {
          margin-top: 10px;
          font-size: 24px; }
      #content.korea-univ .stats > li + li {
        margin-top: 0; } }
  @media (min-width: 1280px) {
    #content.korea-univ .stats {
      margin-top: 110px; }
      #content.korea-univ .stats > li .stats-item i {
        margin-right: 40px; } }
#content.korea-univ .stats-graph {
  margin-top: 110px;
  text-align: center; }
  #content.korea-univ .stats-graph h5 {
    margin-bottom: 75px;
    font-size: 16px;
    line-height: 20px;
    color: #333; }
  #content.korea-univ .stats-graph .img-responsive {
    margin: 0 auto; }
  @media (min-width: 768px) {
    #content.korea-univ .stats-graph {
      margin-top: 100px; }
      #content.korea-univ .stats-graph h5 {
        margin-bottom: 60px; } }
  @media (min-width: 1280px) {
    #content.korea-univ .stats-graph {
      margin-top: 130px; }
      #content.korea-univ .stats-graph h5 {
        margin-bottom: 40px; } }

#content.about-us .page-title {
  margin-bottom: 10px; }
  @media (min-width: 768px) {
    #content.about-us .page-title {
      margin-bottom: 70px; } }
#content.about-us .figure {
  height: 185px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover; }

@media (min-width: 768px) {
  #content.staff-list .page-title {
    margin-bottom: 40px; } }
@media (min-width: 1280px) {
  #content.staff-list .page-title {
    margin-bottom: 70px; } }
#content.staff-list .staff-list > li figure > p {
  margin-bottom: 20px; }
  #content.staff-list .staff-list > li figure > p .img-responsive {
    margin: 0 auto;
    border: 1px solid #dadada; }
#content.staff-list .staff-list > li figure figcaption {
  text-align: center; }
  #content.staff-list .staff-list > li figure figcaption dl dt {
    font-size: 14px;
    line-height: 25px;
    color: #666; }
  #content.staff-list .staff-list > li figure figcaption dl dd {
    font-size: 13px;
    line-height: 25px; }
    #content.staff-list .staff-list > li figure figcaption dl dd.contact:before {
      margin-right: 5px;
      font-family: "fontello";
      content: "\e804"; }
#content.staff-list .staff-list > li + li {
  margin-top: 60px; }
#content.staff-list .notice {
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 15px;
  max-width: 300px;
  background-color: #f2f2f2; }
  #content.staff-list .notice p {
    margin-bottom: 0;
    line-height: 18px;
    color: #333; }
    #content.staff-list .notice p a {
      text-decoration: none; }
      #content.staff-list .notice p a:before {
        margin-right: 8px;
        font-family: "fontello";
        content: "\e803"; }
      #content.staff-list .notice p a:hover span, #content.staff-list .notice p a:focus span {
        text-decoration: underline; }
    #content.staff-list .notice p i {
      font-style: normal;
      color: #920326; }
    #content.staff-list .notice p + p {
      margin-top: 10px; }
@media (min-width: 768px) {
  #content.staff-list .staff-list > li figure {
    overflow: hidden; }
    #content.staff-list .staff-list > li figure > p {
      float: left; }
    #content.staff-list .staff-list > li figure > figcaption {
      margin-left: 250px;
      padding-top: 130px;
      height: 238px;
      text-align: left; }
  #content.staff-list .notice {
    max-width: none;
    padding-left: 65px;
    padding-right: 65px; }
    #content.staff-list .notice p {
      font-size: 13px; } }
@media (min-width: 1280px) {
  #content.staff-list .staff-list > li + li {
    margin-top: 50px; }
  #content.staff-list .notice {
    padding-left: 80px;
    padding-right: 80px; } }

#content.contact-us .img-responsive {
  margin: 0 auto; }
#content.contact-us .page-title {
  margin-bottom: 40px; }
  @media (min-width: 768px) {
    #content.contact-us .page-title {
      margin-bottom: 60px; } }
  @media (min-width: 768px) {
    #content.contact-us .page-title {
      margin-bottom: 70px; } }
#content.contact-us .page-common .main-building {
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 250px;
  background-color: #eee; }
  @media (min-width: 768px) {
    #content.contact-us .page-common .main-building {
      width: 100%;
      height: 400px; } }
#content.contact-us .page-common .u-title {
  margin-bottom: 15px; }
  #content.contact-us .page-common .u-title.add-mark span:nth-of-type(1):before {
    content: "* "; }
  #content.contact-us .page-common .u-title.add-mark span:nth-of-type(2):before {
    content: "- "; }
  #content.contact-us .page-common .u-title + p {
    margin-bottom: 50px; }
  @media (min-width: 768px) {
    #content.contact-us .page-common .u-title {
      margin-bottom: 20px; } }
#content.contact-us .page-common dl {
  margin-bottom: 50px; }
  #content.contact-us .page-common dl dt {
    position: relative;
    float: left;
    margin-bottom: 7px;
    padding-left: 25px;
    font-weight: normal; }
    #content.contact-us .page-common dl dt:before {
      position: absolute;
      left: 0;
      font-family: "fontello";
      color: #777; }
    #content.contact-us .page-common dl dt.tel:before {
      content: "\E804"; }
    #content.contact-us .page-common dl dt.email:before {
      content: "\E803"; }
    #content.contact-us .page-common dl dt.fax:before {
      content: "\f1ac"; }
  #content.contact-us .page-common dl dd {
    margin-bottom: 7px; }
    #content.contact-us .page-common dl dd:before {
      margin-left: 5px;
      margin-right: 5px;
      content: ":"; }
    #content.contact-us .page-common dl dd a {
      color: #666; }
#content.contact-us .page-common address {
  margin-bottom: 25px;
  font-size: 13px;
  line-height: 25px; }
  @media (min-width: 768px) {
    #content.contact-us .page-common address {
      font-size: 14px;
      margin-bottom: 50px; } }
#content.contact-us .page-common figure figcaption {
  margin-top: 20px; }
@media (min-width: 768px) {
  #content.contact-us .page-common figure {
    margin-top: 50px; } }
#content.contact-us .tabs {
  margin-top: 50px; }
#content.contact-us #about-us-1 h4 + p {
  margin-bottom: 50px; }
#content.contact-us #about-us-1 .route-6100 .route-graph {
  margin-top: 55px; }
@media (min-width: 768px) {
  #content.contact-us #about-us-1 .route-6100 .route-graph {
    margin-top: 20px;
    margin-bottom: 35px; } }
#content.contact-us #about-us-1 h6 {
  margin-bottom: 15px;
  font-size: 13px;
  line-height: 25px; }
  @media (min-width: 768px) {
    #content.contact-us #about-us-1 h6 {
      font-size: 14px; } }
#content.contact-us #about-us-1 .u-list {
  margin-bottom: 30px; }
#content.contact-us #about-us-2 .img-responsive {
  margin: inherit; }
#content.contact-us #about-us-2 .co-list {
  margin-top: 40px; }
  #content.contact-us #about-us-2 .co-list > li p {
    margin-bottom: 15px; }
    #content.contact-us #about-us-2 .co-list > li p:nth-of-type(1) {
      margin-top: 30px; }
  #content.contact-us #about-us-2 .co-list > li + li {
    margin-top: 40px; }
  @media (min-width: 768px) {
    #content.contact-us #about-us-2 .co-list > li {
      font-size: 14px;
      line-height: 22px; }
      #content.contact-us #about-us-2 .co-list > li p:nth-of-type(1) {
        margin-top: 15px; } }
#content.contact-us #about-us-2 .how-to-reach {
  margin-top: 30px; }
  #content.contact-us #about-us-2 .how-to-reach p {
    margin-bottom: 0;
    line-height: 22px; }
    #content.contact-us #about-us-2 .how-to-reach p i:before {
      margin-right: 5px;
      content: "※"; }
  #content.contact-us #about-us-2 .how-to-reach .small {
    font-size: 12px; }
  #content.contact-us #about-us-2 .how-to-reach .figure {
    margin-top: 35px; }
  @media (min-width: 768px) {
    #content.contact-us #about-us-2 .how-to-reach p {
      line-height: 25px; } }
#content.contact-us #about-us-3 a {
  color: #666; }
#content.contact-us #about-us-3 p {
  line-height: 22px; }
  #content.contact-us #about-us-3 p:nth-of-type(4) {
    margin-bottom: 7px; }
  #content.contact-us #about-us-3 p:nth-of-type(4), #content.contact-us #about-us-3 p.note {
    line-height: 18px; }
#content.contact-us #about-us-3 .figure {
  margin-top: 35px;
  margin-bottom: 35px; }
@media (min-width: 768px) {
  #content.contact-us #about-us-3 p {
    line-height: 25px; }
  #content.contact-us #about-us-3 .figure {
    margin-top: 55px;
    margin-bottom: 55px; } }
#content.contact-us #about-us-4 .map {
  margin-top: 40px;
  height: 250px;
  background-color: #eee; }
  @media (min-width: 768px) {
    #content.contact-us #about-us-4 .map {
      height: 425px; } }
  @media (min-width: 1280px) {
    #content.contact-us #about-us-4 .map {
      height: 515px; } }

/*# sourceMappingURL=about.css.map */
