@import "common";

#lnb {
	h2 {
		padding-top: 35px !important;
		padding-bottom: 35px !important;
	}
}

#content .page-header {
	background-image: url(/assets/images/about/bg_visual.jpg);
}

#content.korea-univ {
	.u-title {
		margin-top: 45px;
		margin-bottom: 40px;
		@media (min-width: $sm) {
			margin-top: 70px;
		}
		@media (min-width: $lg) {
			margin-top: 80px;
			margin-bottom: 60px;
		}
	}
	.facts {
		> li {
			.fact-item {
				i {
					float: left;
					margin-right: 15px;
					width: 85px;
					.img-responsive {
						margin: 0 auto;
					}
				}
				p {
					margin-bottom: 0;
					line-height: 20px;
				}
			}
			.fact-item-1 {
				p {
					position: relative;
					top: 15px;
				}
			}
			& + li {
				margin-top: 40px;
			}
		}
		@media (min-width: $sm) {
			> li {
				.fact-item {
					i {
						margin-right: 20px;
					}
				}
				& + li {
					margin-top: 15px;
				}
			}
		}
		@media (min-width: $lg) {
			> li {
				.fact-item {
					i {
						margin-right: 40px;
					}
				}
			}
		}
	}
	.rank-graph {
		padding: 40px 10px 45px;
		margin-top: 60px;
		//padding-top: 40px;
		//padding-bottom: 45px;
		border: 1px solid #e4ebf1;
		p {
			margin-bottom: 40px;
			.img-responsive {
				margin: 0 auto;
			}
		}
		figcaption {
			line-height: 16px;
			text-align: center;
		}
		
		@media (min-width: $sm) {
			padding-top: 35px;
			padding-bottom: 35px;
			p {
				margin-bottom: 35px;
			}
			figcaption {
				font-size: 13px;
			}
		}
		@media (min-width: $lg) {
			padding-top: 45px;
			padding-bottom: 40px;
			p {
				margin-bottom: 45px;
			}
		}
	}
	.stats {
		margin-top: 60px;
		> li {
			.stats-item {
				i {
					float: left;
					margin-right: 15px;
					width: 75px;
					.img-responsive {
						margin: 0 auto;
					}
				}
				dl {
					dt, dd {
						line-height: 18px;
					}
					dt {
						 font-weight: normal;
					}
					dd {
						margin-top: 5px;
						font-size: 22px;
						color: $kcolor;
						font-weight: bold;
					}
				}
			}
			.stats-item-1 {
				dl {
					position: relative;
					top: 15px;
				}
			}
			.stats-item-2 {
				dl {
					position: relative;
					top: 15px;
				}
			}
			& + li {
				margin-top: 55px;
			}
		}
		@media (min-width: $sm) {
			margin-top: 125px;
			> li {
				.stats-item {
					i {
						margin-right: 20px;
					}
					dl {
						top: 10px;
						dd {
							margin-top: 10px;
							font-size: 24px;
						}
					}
				}
				& + li {
					margin-top: 0;
				}
			}
		}
		@media (min-width: $lg) {
			margin-top: 110px;
			> li {
				.stats-item {
					i {
						margin-right: 40px;
					}
				}
			}
		}
	}
	.stats-graph {
		margin-top: 110px;
		text-align: center;
		h5 {
			margin-bottom: 75px;
			font-size: 16px;
			line-height: 20px;
			color: #333;
		}
		.img-responsive {
			margin: 0 auto;
		}
		@media (min-width: $sm) {
			margin-top: 100px;
			h5 {
				margin-bottom: 60px;
			}
		}
		@media (min-width: $lg) {
			h5 {
				margin-bottom: 40px;
			}
			margin-top: 130px;
		}
	}
}

#content.about-us {
	.page-title {
		margin-bottom: 10px;
		@media (min-width: $sm) {
			margin-bottom: 70px;
		}
	}
	.figure {
		height: 185px;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
	}
}

#content.staff-list {
	.page-title {
		@media (min-width: $sm) {
			margin-bottom: 40px;
		}
		@media (min-width: $lg) {
			margin-bottom: 70px;
		}
	}
	.staff-list {
		> li {
			figure {
				> p {
					margin-bottom: 20px;
					.img-responsive {
						margin: 0 auto;
						border: 1px solid #dadada;
					}
				}
				figcaption {
					text-align: center;
					dl {
						dt {
							font-size: 14px;
							line-height: 25px;
							color: #666;
						}
						dd {
							font-size: 13px;
							line-height: 25px;
							&.contact {
								&:before {
									margin-right: 5px;
									font-family: "fontello";
									content: "\e804";
								}
							}
						}
					}
				}
			}
			& + li {
				margin-top: 60px;
			}
		}
	}
	.notice {
		margin-top: 90px;
		margin-left: auto;
		margin-right: auto;
		padding: 40px 15px;
		max-width: 300px;
		background-color: #f2f2f2;
		p {
			margin-bottom: 0;
			line-height: 18px;
			color: #333;
			a {
				text-decoration: none;
				&:before {
					margin-right: 8px;
					font-family: "fontello";
					content: "\e803";
				}
				&:hover, &:focus {
					span {
						text-decoration: underline;
					}
				}
			}
			i {
				font-style: normal;
				color: $kcolor;
			}
			& + p {
				margin-top: 10px;
			}
		}
	}
	@media (min-width: $sm) {
		.staff-list {
			> li {
				figure {
					overflow: hidden;
					> p {
						float: left;
					}
					> figcaption {
						margin-left: 250px;
						padding-top: 130px;
						height: 238px;
						text-align: left;
					}
				}
			}
		}
		.notice {
			max-width: none;
			padding-left: 65px;
			padding-right: 65px;
			p {
				font-size: 13px;
			}
		}
	}
	@media (min-width: $lg) {
		.staff-list {
			> li {
				& + li {
					margin-top: 50px;
				}
			}
		}
		.notice {
			padding-left: 80px;
			padding-right: 80px;
		}
	}
}