h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

#lnb h2 {
  padding-top: 35px !important;
  padding-bottom: 35px !important; }

#content .page-header {
  background-image: url(/assets/images/about/bg_visual.jpg); }

#content.korea-univ .u-title {
  margin-top: 45px;
  margin-bottom: 40px; }
  @media (min-width: 768px) {
    #content.korea-univ .u-title {
      margin-top: 70px; } }
  @media (min-width: 1280px) {
    #content.korea-univ .u-title {
      margin-top: 80px;
      margin-bottom: 60px; } }
#content.korea-univ .facts > li .fact-item i {
  float: left;
  margin-right: 15px;
  width: 85px; }
  #content.korea-univ .facts > li .fact-item i .img-responsive {
    margin: 0 auto; }
#content.korea-univ .facts > li .fact-item p {
  margin-bottom: 0;
  line-height: 20px; }
#content.korea-univ .facts > li .fact-item-1 p {
  position: relative;
  top: 15px; }
#content.korea-univ .facts > li + li {
  margin-top: 40px; }
@media (min-width: 768px) {
  #content.korea-univ .facts > li .fact-item i {
    margin-right: 20px; }
  #content.korea-univ .facts > li + li {
    margin-top: 15px; } }
@media (min-width: 1280px) {
  #content.korea-univ .facts > li .fact-item i {
    margin-right: 40px; } }
#content.korea-univ .rank-graph {
  padding: 40px 10px 45px;
  margin-top: 60px;
  border: 1px solid #e4ebf1; }
  #content.korea-univ .rank-graph p {
    margin-bottom: 40px; }
    #content.korea-univ .rank-graph p .img-responsive {
      margin: 0 auto; }
  #content.korea-univ .rank-graph figcaption {
    line-height: 16px;
    text-align: center; }
  @media (min-width: 768px) {
    #content.korea-univ .rank-graph {
      padding-top: 35px;
      padding-bottom: 35px; }
      #content.korea-univ .rank-graph p {
        margin-bottom: 35px; }
      #content.korea-univ .rank-graph figcaption {
        font-size: 13px; } }
  @media (min-width: 1280px) {
    #content.korea-univ .rank-graph {
      padding-top: 45px;
      padding-bottom: 40px; }
      #content.korea-univ .rank-graph p {
        margin-bottom: 45px; } }
#content.korea-univ .stats {
  margin-top: 60px; }
  #content.korea-univ .stats > li .stats-item i {
    float: left;
    margin-right: 15px;
    width: 75px; }
    #content.korea-univ .stats > li .stats-item i .img-responsive {
      margin: 0 auto; }
  #content.korea-univ .stats > li .stats-item dl dt, #content.korea-univ .stats > li .stats-item dl dd {
    line-height: 18px; }
  #content.korea-univ .stats > li .stats-item dl dt {
    font-weight: normal; }
  #content.korea-univ .stats > li .stats-item dl dd {
    margin-top: 5px;
    font-size: 22px;
    color: #920326;
    font-weight: bold; }
  #content.korea-univ .stats > li .stats-item-1 dl {
    position: relative;
    top: 15px; }
  #content.korea-univ .stats > li .stats-item-2 dl {
    position: relative;
    top: 15px; }
  #content.korea-univ .stats > li + li {
    margin-top: 55px; }
  @media (min-width: 768px) {
    #content.korea-univ .stats {
      margin-top: 125px; }
      #content.korea-univ .stats > li .stats-item i {
        margin-right: 20px; }
      #content.korea-univ .stats > li .stats-item dl {
        top: 10px; }
        #content.korea-univ .stats > li .stats-item dl dd {
          margin-top: 10px;
          font-size: 24px; }
      #content.korea-univ .stats > li + li {
        margin-top: 0; } }
  @media (min-width: 1280px) {
    #content.korea-univ .stats {
      margin-top: 110px; }
      #content.korea-univ .stats > li .stats-item i {
        margin-right: 40px; } }
#content.korea-univ .stats-graph {
  margin-top: 110px;
  text-align: center; }
  #content.korea-univ .stats-graph h5 {
    margin-bottom: 75px;
    font-size: 16px;
    line-height: 20px;
    color: #333; }
  #content.korea-univ .stats-graph .img-responsive {
    margin: 0 auto; }
  @media (min-width: 768px) {
    #content.korea-univ .stats-graph {
      margin-top: 100px; }
      #content.korea-univ .stats-graph h5 {
        margin-bottom: 60px; } }
  @media (min-width: 1280px) {
    #content.korea-univ .stats-graph {
      margin-top: 130px; }
      #content.korea-univ .stats-graph h5 {
        margin-bottom: 40px; } }

#content.about-us .page-title {
  margin-bottom: 10px; }
  @media (min-width: 768px) {
    #content.about-us .page-title {
      margin-bottom: 70px; } }
#content.about-us .figure {
  height: 185px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover; }

@media (min-width: 768px) {
  #content.staff-list .page-title {
    margin-bottom: 40px; } }
@media (min-width: 1280px) {
  #content.staff-list .page-title {
    margin-bottom: 70px; } }
#content.staff-list .staff-list > li figure > p {
  margin-bottom: 20px; }
  #content.staff-list .staff-list > li figure > p .img-responsive {
    margin: 0 auto;
    border: 1px solid #dadada; }
#content.staff-list .staff-list > li figure figcaption {
  text-align: center; }
  #content.staff-list .staff-list > li figure figcaption dl dt {
    font-size: 14px;
    line-height: 25px;
    color: #666; }
  #content.staff-list .staff-list > li figure figcaption dl dd {
    font-size: 13px;
    line-height: 25px; }
    #content.staff-list .staff-list > li figure figcaption dl dd.contact:before {
      margin-right: 5px;
      font-family: "fontello";
      content: "\e804"; }
#content.staff-list .staff-list > li + li {
  margin-top: 60px; }
#content.staff-list .notice {
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 15px;
  max-width: 300px;
  background-color: #f2f2f2; }
  #content.staff-list .notice p {
    margin-bottom: 0;
    line-height: 18px;
    color: #333; }
    #content.staff-list .notice p a {
      text-decoration: none; }
      #content.staff-list .notice p a:before {
        margin-right: 8px;
        font-family: "fontello";
        content: "\e803"; }
      #content.staff-list .notice p a:hover span, #content.staff-list .notice p a:focus span {
        text-decoration: underline; }
    #content.staff-list .notice p i {
      font-style: normal;
      color: #920326; }
    #content.staff-list .notice p + p {
      margin-top: 10px; }
@media (min-width: 768px) {
  #content.staff-list .staff-list > li figure {
    overflow: hidden; }
    #content.staff-list .staff-list > li figure > p {
      float: left; }
    #content.staff-list .staff-list > li figure > figcaption {
      margin-left: 250px;
      padding-top: 130px;
      height: 238px;
      text-align: left; }
  #content.staff-list .notice {
    max-width: none;
    padding-left: 65px;
    padding-right: 65px; }
    #content.staff-list .notice p {
      font-size: 13px; } }
@media (min-width: 1280px) {
  #content.staff-list .staff-list > li + li {
    margin-top: 50px; }
  #content.staff-list .notice {
    padding-left: 80px;
    padding-right: 80px; } }

/*# sourceMappingURL=about.css.map */
