@charset "UTF-8";
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

body {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  border-top: 6px solid #920326;
  background-color: #f7f7f7; }

.container {
  width: 1200px !important; }

.form-group {
  margin-bottom: 0; }

.form-control + .form-control {
  margin-left: 10px; }

label {
  margin-bottom: 0;
  font-size: 14px;
  color: #808080;
  font-weight: normal;
  cursor: pointer; }
  label + label [type="radio"] {
    margin-left: 30px; }
  label + label [type="checkbox"] {
    margin-left: 30px; }

select.form-control,
[type="text"].form-control,
[type="email"].form-control,
textarea.form-control {
  display: inline-block;
  width: 142px;
  height: 32px;
  border-radius: 2px !important;
  box-shadow: none !important;
  font-size: 13px;
  color: #999; }
  select.form-control:focus,
  [type="text"].form-control:focus,
  [type="email"].form-control:focus,
  textarea.form-control:focus {
    border-color: #920326;
    color: #666; }

textarea.form-control {
  width: 100%;
  height: inherit; }

.help-inline {
  display: inline-block;
  margin-left: 10px;
  font-size: 12px;
  color: #999; }
  .help-inline.asterisk:before {
    margin-right: 5px;
    content: "*";
    color: #e61937; }

.help-block {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 18px;
  color: #999; }

.table {
  border-top: 2px solid #920326; }
  .table th, .table td {
    min-height: 50px !important;
    vertical-align: middle !important; }
  .table th {
    padding-left: 25px !important;
    padding-right: 20px !important;
    background-color: #f5f5f5;
    color: #444;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px !important; }
    .table th span {
      position: relative; }
    .table th:first-child {
      width: 155px; }
  .table td {
    padding-left: 40px !important;
    padding-right: 40px !important; }
    .table td .dash {
      display: inline-block;
      width: 21px;
      text-align: center;
      color: #999; }
      .table td .dash:before {
        content: "-"; }
    .table td .slash {
      display: inline-block;
      width: 31px;
      text-align: center;
      color: #999; }
      .table td .slash:before {
        content: "/"; }
  .table i.require {
    position: absolute;
    left: -10px;
    color: #e61937; }
    .table i.require:before {
      margin-right: 5px;
      content: '*'; }
  .table tr:last-child th, .table tr:last-child td {
    border-bottom: 1px solid #6f848e; }

#header .logo img {
  display: block; }
#header p {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  text-align: right; }

#content {
  padding-bottom: 100px; }
  #content .guide {
    padding: 40px 70px;
    background-color: #bfbfbf;
    color: #fff;
    font-size: 16px;
    box-shadow: 3px 4px 6.5px 0.5px rgba(0, 0, 0, 0.13); }
    #content .guide ul li:before {
      margin-right: 5px;
      content: '■'; }
    #content .guide ul li + li {
      margin-top: 15px; }
  #content .form-wrap fieldset {
    position: relative;
    margin-top: 40px;
    padding: 145px 70px 65px;
    background-color: #fff;
    box-shadow: 5px 5px 14.72px 1.28px rgba(0, 0, 0, 0.07); }
    #content .form-wrap fieldset h4 {
      position: absolute;
      top: 30px;
      left: -10px;
      padding-top: 25px;
      padding-left: 80px;
      width: 441px;
      height: 62px;
      font-size: 20px;
      color: #fff;
      background-image: url(/assets/images/application/bg_fieldset_head.png);
      background-repeat: no-repeat; }
    #content .form-wrap fieldset .note {
      margin-bottom: 5px;
      color: #920326;
      font-size: 13px; }

.application.step1 .personal-details .nationality .form-control {
  width: 342px; }
.application.step1 .personal-details .passport.number .form-control, .application.step1 .personal-details .email .form-control {
  width: 332px; }
.application.step1 .personal-details .passport.valid .form-control, .application.step1 .personal-details .birthday .form-control, .application.step1 .personal-details .phone .form-control {
  width: 92px;
  text-align: center; }
.application.step1 .personal-details .address .form-control {
  width: 100%; }
.application.step1 .personal-details .disability .help-block {
  margin-bottom: 15px;
  color: #444; }

.application.step2 .academic-background .apply {
  height: 54px;
  color: #444;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px !important;
  padding-left: 25px !important;
  padding-right: 20px !important; }
  .application.step2 .academic-background .apply span {
    position: relative;
    margin-right: 40px; }
.application.step2 .academic-background .major .form-control {
  width: 445px; }
.application.step2 .academic-background .gpa .form-control, .application.step2 .academic-background .recent-year .form-control {
  width: 140px; }
.application.step2 .academic-background .gpa.recent-year th, .application.step2 .academic-background .recent-year.recent-year th {
  padding-left: 18px !important; }
.application.step2 .home-institution .international .form-control, .application.step2 .home-institution email .form-control, .application.step2 .home-institution addr .form-control {
  width: 445px; }
.application.step2 .home-institution .phone .form-control, .application.step2 .home-institution .fax .form-control {
  width: 92px; }
.application.step2 .home-institution .phone.fax th, .application.step2 .home-institution .fax.fax th {
  padding-left: 18px !important; }
.application.step2 .study-plan .form-control {
  height: 40px;
  border-radius: 0 !important; }
.application.step2 .study-plan th {
  height: 54px;
  font-size: 16px;
  color: #303030;
  text-align: center;
  font-weight: 400;
  background-color: #fff;
  border-bottom: 1px solid #910023;
  border-right: 1px solid #e7e7e7; }
  .application.step2 .study-plan th:nth-of-type(1) {
    width: 290px; }
  .application.step2 .study-plan th:nth-of-type(2) {
    width: 155px; }
  .application.step2 .study-plan th:nth-of-type(3) {
    width: 390px; }
  .application.step2 .study-plan th:nth-of-type(4) {
    width: 195px; }
  .application.step2 .study-plan th:last-child {
    border-right: 0; }
.application.step2 .study-plan tr:last-child td {
  border-bottom: 1px solid #910023; }
.application.step2 .study-plan tr td {
  padding: 35px 0 !important;
  text-align: center;
  border-right: 1px solid #e7e7e7; }
  .application.step2 .study-plan tr td:last-child {
    border-right: 0; }
  .application.step2 .study-plan tr td:nth-of-type(1) {
    width: 290px; }
  .application.step2 .study-plan tr td:nth-of-type(2) {
    width: 155px; }
  .application.step2 .study-plan tr td:nth-of-type(3) {
    width: 390px; }
  .application.step2 .study-plan tr td:nth-of-type(4) {
    width: 195px; }
  .application.step2 .study-plan tr td.department .form-control {
    width: 256px;
    margin-left: 0;
    margin-bottom: 10px; }
    .application.step2 .study-plan tr td.department .form-control:last-child {
      margin-bottom: 0; }
  .application.step2 .study-plan tr td.course-code .form-control {
    width: 110px !important; }
  .application.step2 .study-plan tr td.title .form-control {
    width: 344px !important; }
  .application.step2 .study-plan tr td.credit-value select.form-control {
    width: 130px !important; }
.application.step2 .language-proficiency td {
  height: 54px;
  color: #444;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px !important;
  padding-left: 25px !important;
  padding-right: 20px !important; }
  .application.step2 .language-proficiency td span {
    position: relative;
    margin-right: 40px; }

.application.step3 .supporting-documents .table th {
  width: 50%;
  background-color: #fff; }
  .application.step3 .supporting-documents .table th i.require {
    top: 0; }
  .application.step3 .supporting-documents .table th .help-inline {
    margin-left: 0; }
  .application.step3 .supporting-documents .table th .btn-down {
    display: inline-block;
    margin-left: 30px; }
    .application.step3 .supporting-documents .table th .btn-down .btn {
      width: 144px;
      height: 34px;
      font-size: 14px;
      color: #303030;
      line-height: 32px;
      padding: 0;
      border-radius: 0;
      text-align: center;
      border: 1px solid #e9e9e9;
      background-image: url(/assets/images/application/btn_down_bg.gif); }
.application.step3 .supporting-documents .table td {
  width: 50%;
  height: 54px;
  padding-right: 20px !important; }
  .application.step3 .supporting-documents .table td .form-group {
    position: relative;
    display: inline-block;
    width: 100%;
    padding-right: 110px; }
    .application.step3 .supporting-documents .table td .form-group .form-control {
      width: 100%;
      height: 40px;
      border-color: #f6f6f6;
      border-radius: 0;
      background-color: #f6f6f6; }
    .application.step3 .supporting-documents .table td .form-group .btn-search {
      position: absolute;
      top: 0;
      right: 0; }
      .application.step3 .supporting-documents .table td .form-group .btn-search .btn {
        width: 110px;
        height: 40px;
        font-size: 14px;
        color: #fff;
        line-height: 40px;
        text-align: center;
        padding: 0;
        border-radius: 0;
        background-color: #bfbfbf; }
.application.step3 .supporting-documents .table .passport td {
  padding-top: 20px;
  padding-bottom: 20px; }
.application.step3 .supporting-documents .attention {
  width: 100%;
  margin-top: 40px;
  padding: 30px 20px;
  background-color: #f2f2f2; }
  .application.step3 .supporting-documents .attention ul li {
    font-size: 14px;
    color: #303030;
    line-height: 18px;
    margin-bottom: 15px; }
    .application.step3 .supporting-documents .attention ul li:before {
      content: "-"; }
    .application.step3 .supporting-documents .attention ul li:last-child {
      margin-bottom: 0; }
.application.step3 .insurance-submission > span {
  position: relative;
  font-size: 14px;
  display: block;
  color: #333;
  line-height: 22px;
  margin-bottom: 35px; }
  .application.step3 .insurance-submission > span i.require {
    position: absolute;
    left: -10px;
    color: #e61937; }
    .application.step3 .insurance-submission > span i.require:before {
      margin-right: 5px;
      content: '*'; }
.application.step3 .insurance-submission hr {
  width: 100%;
  border-top: 1px solid #d6d6d6;
  margin: 50px 0; }
.application.step3 .insurance-submission .form-group .help-inline {
  margin-left: 50px;
  margin-right: 10px; }
.application.step3 .insurance-submission .form-group .form-control {
  width: 530px;
  height: 40px;
  border-radius: 0 !important; }
.application.step3 .declaration span {
  position: relative;
  font-size: 14px;
  color: #333;
  line-height: 22px;
  margin-bottom: 35px; }
  .application.step3 .declaration span i.require {
    position: absolute;
    left: -10px;
    color: #e61937; }
    .application.step3 .declaration span i.require:before {
      margin-right: 5px;
      content: '*'; }
.application.step3 .declaration .form-group {
  display: inline-block;
  margin-left: 40px; }
.application.step3 .declaration p {
  font-size: 13px;
  color: #777;
  line-height: 22px;
  margin-top: 30px; }
.application.step3 .declaration ul {
  margin-top: 30px; }
  .application.step3 .declaration ul li {
    font-size: 13px;
    color: #777;
    line-height: 22px; }
    .application.step3 .declaration ul li:before {
      content: "-";
      margin-right: 3px; }
.application.step3 .declaration hr {
  width: 100%;
  border-top: 1px solid #d6d6d6;
  margin: 50px 0; }

/*# sourceMappingURL=application.css.map */
