@import 'common';

body {
	font-family: "Arial", sans-serif;
	font-size: 12px;
	border-top: 6px solid $kcolor;
	background-color: #f7f7f7;
}

.container {
	width: 1200px !important;
}

.form-group {
	margin-bottom: 0;
}

.form-control {
	& + .form-control {
		margin-left: 10px;
	}
}

label {
	margin-bottom: 0;
	font-size: 14px;
	color: #808080;
	font-weight: normal;
	cursor: pointer;
	& + label {
		[type="radio"] {
			margin-left: 30px;
		}
	}
    & + label {
		[type="checkbox"] {
			margin-left: 30px;
		}
	}
}

select.form-control,
[type="text"].form-control,
[type="email"].form-control,
textarea.form-control {
	display: inline-block;
	width: 142px;
	height: 32px;
	border-radius: 2px !important;
	box-shadow: none !important;
	font-size: 13px;
	color: #999;
	&:focus {
		border-color: $kcolor;
		color: #666;
	}
}

textarea.form-control {
	width: 100%;
	height: inherit;
}

.help-inline {
	display: inline-block;
	margin-left: 10px;
	font-size: 12px;
	color: #999;
	&.asterisk {
		&:before {
			margin-right: 5px;
			content: "*";
			color: #e61937;
		}
	}
}

.help-block {
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 12px;
	line-height: 18px;
	color: #999;
}

.table {
	border-top: 2px solid #920326;
	th, td {
		min-height: 50px !important;
		vertical-align: middle !important;
	}
	th {
		padding-left: 25px !important;
		padding-right: 20px !important;
		background-color: #f5f5f5;
		color: #444;
		font-size: 14px;
		font-weight: normal;
		line-height: 18px !important;
		span {
			position: relative;
		}
		&:first-child {
			width: 155px;
		}
	}
	td {
		padding-left: 40px !important;
		padding-right: 40px !important;
		.dash {
			display: inline-block;
			width: 21px;
			text-align: center;
			color: #999;
			&:before {
				content: "-";
			}
		}
        .slash {
            display: inline-block;
			width: 31px;
			text-align: center;
			color: #999;
			&:before {
				content: "/";
			}
        }
	}
	i.require {
		position: absolute;
		left: -10px;
		color: #e61937;
		&:before {
			margin-right: 5px;
			content: '*';
		}
	}
	tr:last-child {
		th, td {
			border-bottom: 1px solid #6f848e;
		}
	}
}

#header {
	.logo {
		img {
			display: block;
		}
	}
	p {
		font-size: 16px;
		color: #333;
		font-weight: bold;
		text-align: right;
	}
}

#content {
	padding-bottom: 100px;
	.guide {
		padding: 40px 70px;
		background-color: #bfbfbf;
		color: #fff;
		font-size: 16px;
		box-shadow: 3px 4px 6.5px 0.5px rgba(0, 0, 0, 0.13); 
		ul {
			li {
				&:before {
					margin-right: 5px;
					content: '■';
				}
				& + li {
					margin-top: 15px;
				}
			}
		}
	}
	.form-wrap {
		fieldset {
			position: relative;
			margin-top: 40px;
			padding: 145px 70px 65px;
			background-color: #fff;
			box-shadow: 5px 5px 14.72px 1.28px rgba(0, 0, 0, 0.07);
			h4 {
				position: absolute;
				top: 30px;
				left: -10px;
				padding-top: 25px;
				padding-left: 80px;
				width: 441px;
				height: 62px;
				font-size: 20px;
				color: #fff;
				background-image: url(/assets/images/application/bg_fieldset_head.png);
				background-repeat: no-repeat;
			}
			.note {
				margin-bottom: 5px;
				color: $kcolor;
				font-size: 13px;
			}
		}
	}
}

.application.step1 {
	.personal-details {
		.nationality {
			.form-control {
				width: 342px;
			}
		}
		.passport.number, .email {
			.form-control {
				width: 332px;
			}
		}
		.passport.valid, .birthday, .phone {
			.form-control {
				width: 92px;
				text-align: center;
			}
		}
		.address {
			.form-control {
				width: 100%;
			}
		}
		.disability {
			.help-block {
				margin-bottom: 15px;
				color: #444;
			}
		}
	}
}


.application.step2 {
    .academic-background {
        .apply {
            height: 54px;
            color: #444;
            font-size: 14px;
            font-weight: normal;
            line-height: 18px !important;
            padding-left: 25px !important;
            padding-right: 20px !important;
            span {
                position: relative;
            }
            .form-group {
                display: inline-block;
                margin-left: 40px;
            }
        }
        .major {
            .form-control {
                width: 445px;
            }
        }
        .gpa, .recent-year {
            .form-control {
                width: 140px;
            }
            &.recent-year {
                th {
                    padding-left: 18px !important;
                }
            }
        }
    }
    .home-institution {
        .international, email, addr {
            .form-control {
                width: 445px;
            }
        }
        .phone, .fax {
            .form-control {
                width: 92px;
            }
            &.fax {
                th {
                    padding-left: 18px !important;
                }
            }
        }
    }
    .study-plan {
        .form-control {
            height: 40px;
            border-radius: 0 !important;
        }
        th {
            height: 54px;
            font-size: 16px;
            color: #303030;
            text-align: center;
            font-weight: 400;
            background-color: #fff;
            border-bottom: 1px solid #910023;
            border-right: 1px solid #e7e7e7;
            &:last-child {
                border-right: 0;
            }
        }
        tr {
            &:last-child {
                td {
                    border-bottom: 1px solid #910023;
                }
            }
            td {
                padding: 35px 0 !important;
                text-align: center;
                border-right: 1px solid #e7e7e7;
                &:last-child {
                    border-right: 0;
                }
                &.department {
                    .form-control {
                        width: 256px;
                        margin-left: 0;
                        margin-bottom: 10px; 
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
                &.course-code {
                    .form-control {
                        width: 110px !important;
                    }
                }
                &.title {
                    .form-control {
                        width: 344px !important;
                    }
                }
                &.credit-value {
                    select {
                        &.form-control {
                            width: 130px !important;
                        }
                    }
                }
            }
        }
    }
    .language-proficiency {
        td {
            height: 54px;
            color: #444;
            font-size: 14px;
            font-weight: normal;
            line-height: 18px !important;
            padding-left: 25px !important;
            padding-right: 20px !important;
            span {
                position: relative;
            }
            .form-group {
                display: inline-block;
                margin-left: 40px;
            }
        }
    }
}

.application.step3 {
    .supporting-documents {
        .table {
            th {
                width: 50%;
                background-color: #fff;
                i.require {
                    top: 0;
                }
                .help-inline {
                    margin-left: 0;
                }
                .btn-down {
                    display: inline-block;
                    margin-left: 30px;
                    .btn {
                        width: 144px;
                        height: 34px;
                        font-size: 14px;
                        color: #303030;
                        line-height: 32px;
                        padding: 0;
                        border-radius: 0;
                        text-align: center;
                        border: 1px solid #e9e9e9;
                        background-image: url(/assets/images/application/btn_down_bg.gif);
                    }
                }
            }
            td {
                width: 50%;
                height: 54px;
                padding-right: 20px !important;
                .form-group {
                    position: relative;
                    display: inline-block;
                    width: 100%;
                    padding-right: 110px;
                    .form-control {
                        width: 100%;
                        height: 40px;
                        border-color: #f6f6f6;
                        border-radius: 0;
                        background-color: #f6f6f6;
                    }
                    .btn-search {
                        position: absolute;
                        top: 0;
                        right: 0;
                        .btn {
                            width: 110px;
                            height: 40px;
                            font-size: 14px;
                            color: #fff;
                            line-height: 40px;
                            text-align: center;
                            padding: 0;
                            border-radius: 0;
                            background-color: #bfbfbf;
                        }
                    }
                }
            }
            .passport {
                td {
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
            }
        }
        .attention {
            width: 100%;
            margin-top: 40px;
            padding: 30px 20px;
            background-color: #f2f2f2;
            ul {
                li {
                    font-size: 14px;
                    color: #303030;
                    line-height: 18px;
                    margin-bottom: 15px;
                    &:before {
                        content: "-";
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .insurance-submission {
        h5 {
            font-size: 14px;
            color: #333;
            line-height: 22px;
            margin-bottom: 35px;
        }
        .line {
            width: 100%;
            border-top: 1px solid #d6d6d6;
            margin: 50px 0;
        }
        .form-group {
            .help-inline {
                margin-left: 50px;
                margin-right: 10px;
            }
            .form-control {
                width: 530px;
                height: 40px;
                border-radius: 0 !important;
            }
        }
    }
    .declaration {
        h5 {
            display: inline-block;
            font-size: 14px;
            color: #333;
            &:before {
                content: "*";
                margin-right: 5px;
                color: #e61937;
            }
        }
        .form-group {
            display: inline-block;
            margin-left: 40px;
        }
        p {
            font-size: 13px;
            color: #777;
            line-height: 22px;
            &.declaration-details {
                margin-top: 30px;
            }
            &.attention {
                margin-top: 30px;
                color: #777;
                &:before {
                    content: "※";
                    margin-right: 5px;
                }
            }
        }
        ul {
            margin-top: 30px;
            li {
                font-size: 13px;
                color: #777;
                line-height: 22px;
                &:before {
                    content: "-";
                    margin-right: 3px;
                }
            }
        }
        .line {
            width: 100%;
            border-top: 1px solid #d6d6d6;
            margin: 50px 0;
        }
    }
}



























































