@charset "UTF-8";
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

body {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  border-top: 6px solid #920326;
  background-color: #f7f7f7; }

.noto {
  font-family: 'Noto Sans KR', sans-serif; }

.container {
  width: 1200px !important; }

.form-group {
  margin-bottom: 0; }

.form-control + .form-control {
  margin-left: 10px; }

label {
  margin-bottom: 0;
  font-size: 14px;
  color: #808080;
  font-weight: normal;
  cursor: pointer; }
  label + label [type="radio"] {
    margin-left: 30px; }
  label + label [type="checkbox"] {
    margin-left: 30px; }

select.form-control,
[type="text"].form-control,
[type="email"].form-control,
[type="password"].form-control,
[type="file"].form-control,
textarea.form-control {
  display: inline-block;
  width: 142px;
  height: 32px;
  border-radius: 2px !important;
  box-shadow: none !important;
  font-size: 13px;
  color: #999; }
  select.form-control:focus,
  [type="text"].form-control:focus,
  [type="email"].form-control:focus,
  [type="password"].form-control:focus,
  [type="file"].form-control:focus,
  textarea.form-control:focus {
    border-color: #920326;
    color: #666; }

textarea.form-control {
  width: 100%;
  height: inherit; }

.help-inline {
  display: inline-block;
  margin-left: 10px;
  font-size: 12px;
  color: #999; }
  .help-inline.asterisk:before {
    margin-right: 5px;
    content: "*";
    color: #e61937; }

.help-block {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 18px;
  color: #999; }

.decimal-list {
  list-style: decimal;
  list-style-position: inside; }
  .decimal-list > li {
    font-size: 14px;
    color: #333;
    line-height: 22px;
    margin-bottom: 60px; }
    .decimal-list > li:last-child {
      margin-bottom: 0; }

.table {
  border-top: 2px solid #920326; }
  .table th, .table td {
    min-height: 50px !important;
    vertical-align: middle !important; }
  .table th {
    padding-left: 25px !important;
    padding-right: 20px !important;
    background-color: #f5f5f5;
    color: #444;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px !important; }
    .table th span {
      position: relative; }
    .table th:first-child {
      width: 155px; }
  .table td {
    padding-left: 40px !important;
    padding-right: 40px !important; }
    .table td .dash {
      display: inline-block;
      width: 21px;
      text-align: center;
      color: #999; }
      .table td .dash:before {
        content: "-"; }
    .table td .slash {
      display: inline-block;
      width: 31px;
      text-align: center;
      color: #999; }
      .table td .slash:before {
        content: "/"; }
  .table i.require {
    position: absolute;
    left: -10px;
    color: #e61937; }
    .table i.require:before {
      margin-right: 5px;
      content: '*'; }
  .table tr:last-child th, .table tr:last-child td {
    border-bottom: 1px solid #6f848e; }

#header .logo img {
  display: block; }
#header p {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  text-align: right; }

#content {
  padding-bottom: 100px; }
  #content .guide {
    padding: 40px 70px;
    background-color: #bfbfbf;
    color: #fff;
    font-size: 16px;
    box-shadow: 3px 4px 6.5px 0.5px rgba(0, 0, 0, 0.13); }
    #content .guide ul li:before {
      margin-right: 5px;
      content: '■'; }
    #content .guide ul li + li {
      margin-top: 15px; }
  #content .attachments fieldset {
    padding: 40px 70px;
    background-color: #fff;
    box-shadow: 5px 5px 14.72px 1.28px rgba(0, 0, 0, 0.07); }
    #content .attachments fieldset h5 {
      margin-bottom: 25px;
      font-size: 16px;
      font-family: 'Noto Sans KR', sans-serif; }
    #content .attachments fieldset input[type="file"] {
      height: 42px;
      width: 527px; }
    #content .attachments fieldset .btn-upload, #content .attachments fieldset .btn-download {
      height: 42px;
      border-radius: 2px;
      color: #fff;
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 13px;
      line-height: 28px; }
      #content .attachments fieldset .btn-upload:before, #content .attachments fieldset .btn-download:before {
        margin-right: 5px;
        font-family: "fontello";
        content: "\E80A"; }
    #content .attachments fieldset .btn-upload {
      margin-left: 10px;
      width: 154px;
      background-color: #930629;
      border-color: #930629; }
    #content .attachments fieldset .btn-download {
      width: 245px;
      background-color: #7f7f7f;
      border-color: #7f7f7f; }
    #content .attachments fieldset .down {
      margin-left: 40px;
      padding-left: 40px;
      border-left: 1px solid #ccc; }
  #content .form-wrap fieldset {
    position: relative;
    margin-top: 40px;
    padding: 145px 70px 65px;
    background-color: #fff;
    box-shadow: 5px 5px 14.72px 1.28px rgba(0, 0, 0, 0.07); }
    #content .form-wrap fieldset h4 {
      position: absolute;
      top: 30px;
      left: -10px;
      padding-top: 25px;
      padding-left: 80px;
      width: 441px;
      height: 62px;
      font-size: 20px;
      color: #fff;
      background-image: url(/assets/images/application/bg_fieldset_head.png);
      background-repeat: no-repeat; }
    #content .form-wrap fieldset .note {
      margin-bottom: 5px;
      color: #920326;
      font-size: 13px; }

.recommendation #content .form-wrap h4 {
  padding-top: 27px;
  padding-left: 40px;
  width: 552px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-size: 14px;
  background-image: url(/assets/images/application/bg_fieldset_head_2.png); }

.application {
  padding: 40px 0 30px; }

.personal-details .nationality .form-control {
  width: 342px; }
.personal-details .passport.number .form-control, .personal-details .email .form-control {
  width: 332px; }
.personal-details .passport.valid .form-control, .personal-details .birthday .form-control, .personal-details .phone .form-control {
  width: 92px;
  text-align: center; }
.personal-details .address .form-control {
  width: 100%; }
.personal-details .disability .help-block {
  margin-bottom: 15px;
  color: #444; }
.personal-details .passport.ask {
  padding: 50px 26px; }
  .personal-details .passport.ask h5 {
    display: inline-block;
    font-size: 20px;
    color: #202020;
    font-weight: 400;
    margin-bottom: 35px; }
  .personal-details .passport.ask p {
    font-size: 14px;
    color: #333; }
  .personal-details .passport.ask label {
    position: relative;
    width: 100%;
    margin-top: 25px;
    padding-left: 25px; }
    .personal-details .passport.ask label input[type="radio"] {
      position: absolute;
      top: 0;
      left: 0;
      margin-left: 0; }
  .personal-details .passport.ask .help-block {
    font-size: 14px;
    color: #808080;
    margin: 0;
    padding-left: 25px; }
    .personal-details .passport.ask .help-block:before {
      content: "*";
      color: #e61937; }

.academic-background .apply {
  height: 54px;
  color: #444;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px !important;
  padding-left: 16px !important;
  padding-right: 20px !important; }
  .academic-background .apply .form-group > p {
    display: inline-block; }
    .academic-background .apply .form-group > p:before {
      content: "*";
      color: #e61937;
      margin-right: 3px; }
  .academic-background .apply p {
    position: relative;
    margin-right: 40px; }
.academic-background .major .form-control {
  width: 445px; }
.academic-background .gpa .form-control, .academic-background .recent-year .form-control {
  width: 140px; }
.academic-background .gpa.recent-year th, .academic-background .recent-year.recent-year th {
  padding-left: 16px !important; }

.home-institution .international .form-control, .home-institution email .form-control, .home-institution addr .form-control {
  width: 445px; }
.home-institution .phone .form-control, .home-institution .fax .form-control {
  width: 92px; }
.home-institution .phone.fax th, .home-institution .fax.fax th {
  padding-left: 18px !important; }

.study-plan strong {
  display: inline-block;
  font-size: 16px;
  color: #920326;
  font-weight: 400;
  margin: 80px 0 15px; }
  .study-plan strong:before {
    content: "※";
    margin-right: 5px; }
.study-plan .notice-summary {
  font-size: 14px;
  color: #333;
  line-height: 26px;
  margin-bottom: 35px; }
.study-plan .decimal-list li .registration-courses ul {
  margin-top: 20px; }
  .study-plan .decimal-list li .registration-courses ul li {
    font-size: 14px;
    color: #808080;
    line-height: 20px; }
    .study-plan .decimal-list li .registration-courses ul li:before {
      content: "-";
      margin-right: 5px; }
.study-plan .decimal-list li .registration-courses > p {
  font-size: 14px;
  color: #808080;
  line-height: 20px; }
.study-plan .form-control {
  height: 40px;
  border-radius: 0 !important; }
.study-plan th {
  height: 54px;
  font-size: 16px;
  color: #303030;
  text-align: center;
  font-weight: 400;
  background-color: #fff;
  border-bottom: 1px solid #910023;
  border-right: 1px solid #e7e7e7; }
  .study-plan th:nth-of-type(1) {
    width: 290px; }
  .study-plan th:nth-of-type(2) {
    width: 155px; }
  .study-plan th:nth-of-type(3) {
    width: 390px; }
  .study-plan th:nth-of-type(4) {
    width: 195px; }
  .study-plan th:last-child {
    border-right: 0; }
.study-plan tr:last-child td {
  border-bottom: 1px solid #910023; }
.study-plan tr td {
  padding: 35px 0 !important;
  text-align: center;
  border-right: 1px solid #e7e7e7; }
  .study-plan tr td:last-child {
    border-right: 0; }
  .study-plan tr td:nth-of-type(1) {
    width: 290px; }
  .study-plan tr td:nth-of-type(2) {
    width: 155px; }
  .study-plan tr td:nth-of-type(3) {
    width: 390px; }
  .study-plan tr td:nth-of-type(4) {
    width: 195px; }
  .study-plan tr td.department .form-control {
    width: 256px;
    margin-left: 0;
    margin-bottom: 10px; }
    .study-plan tr td.department .form-control:last-child {
      margin-bottom: 0; }
  .study-plan tr td.course-code .form-control {
    width: 110px !important; }
  .study-plan tr td.title .form-control {
    width: 344px !important; }
  .study-plan tr td.credit-value select.form-control {
    width: 130px !important; }

.language-proficiency td {
  height: 54px;
  color: #444;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px !important;
  padding-left: 25px !important;
  padding-right: 20px !important; }
  .language-proficiency td .form-group p {
    display: inline-block;
    margin-right: 40px; }
    .language-proficiency td .form-group p:before {
      content: "*";
      color: #e61937;
      margin-right: 3px; }

.supporting-documents .table th {
  width: 50%;
  background-color: #fff; }
  .supporting-documents .table th i.require {
    top: 0; }
  .supporting-documents .table th .help-inline {
    margin-left: 0; }
  .supporting-documents .table th .btn-down {
    display: inline-block;
    margin-left: 30px; }
    .supporting-documents .table th .btn-down .btn {
      width: 144px;
      height: 34px;
      font-size: 14px;
      color: #303030;
      line-height: 32px;
      padding: 0;
      border-radius: 0;
      text-align: center;
      border: 1px solid #e9e9e9;
      background-image: url(/assets/images/application/btn_down_bg.gif); }
.supporting-documents .table td {
  width: 50%;
  height: 54px;
  padding-right: 20px !important; }
  .supporting-documents .table td .form-group {
    position: relative;
    display: inline-block;
    width: 100%;
    padding-right: 110px; }
    .supporting-documents .table td .form-group .form-control {
      width: 100%;
      height: 40px;
      border-color: #f6f6f6;
      border-radius: 0;
      background-color: #f6f6f6; }
    .supporting-documents .table td .form-group .btn-search {
      position: absolute;
      top: 0;
      right: 0; }
      .supporting-documents .table td .form-group .btn-search .btn {
        width: 110px;
        height: 40px;
        font-size: 14px;
        color: #fff;
        line-height: 40px;
        text-align: center;
        padding: 0;
        border-radius: 0;
        background-color: #bfbfbf; }
.supporting-documents .table .passport td {
  padding-top: 20px;
  padding-bottom: 20px; }
.supporting-documents .attention {
  width: 100%;
  margin-top: 40px;
  padding: 30px 20px;
  background-color: #f2f2f2; }
  .supporting-documents .attention ul li {
    font-size: 14px;
    color: #303030;
    line-height: 18px;
    margin-bottom: 15px; }
    .supporting-documents .attention ul li:before {
      content: "-"; }
    .supporting-documents .attention ul li:last-child {
      margin-bottom: 0; }

.insurance-submission > p {
  position: relative;
  font-size: 14px;
  display: block;
  color: #333;
  line-height: 22px;
  margin-bottom: 35px; }
  .insurance-submission > p i.require {
    position: absolute;
    left: -10px;
    color: #e61937; }
    .insurance-submission > p i.require:before {
      margin-right: 5px;
      content: '*'; }
.insurance-submission hr {
  width: 100%;
  border-top: 1px solid #d6d6d6;
  margin: 50px 0; }
.insurance-submission .form-group .help-inline {
  margin-left: 50px;
  margin-right: 10px; }
.insurance-submission .form-group .form-control {
  width: 530px;
  height: 40px;
  border-radius: 0 !important; }

.declaration .form-group p {
  display: inline-block; }
.declaration .criminal-records .form-group > p {
  display: inline-block;
  font-size: 14px;
  color: #333;
  line-height: 22px;
  margin-right: 40px; }
  .declaration .criminal-records .form-group > p:before {
    content: "*";
    color: #e61937;
    margin-right: 2px; }
.declaration .criminal-records > p {
  font-size: 13px;
  color: #777;
  line-height: 22px;
  margin-top: 30px; }
.declaration .information-collection .consent {
  font-size: 14px;
  color: #333;
  line-height: 22px; }
  .declaration .information-collection .consent:before {
    content: "*";
    color: #e61937;
    margin-right: 2px; }
.declaration .information-collection p {
  font-size: 13px;
  color: #777;
  line-height: 22px;
  margin-top: 30px; }
  .declaration .information-collection p:before {
    content: "※"; }
.declaration .information-collection ul {
  margin-top: 30px; }
  .declaration .information-collection ul li {
    font-size: 13px;
    color: #777;
    line-height: 22px; }
    .declaration .information-collection ul li:before {
      content: "-";
      margin-right: 3px; }
.declaration .announcement .form-group p {
  display: inline-block;
  font-size: 14px;
  color: #333;
  line-height: 22px;
  margin-right: 40px; }
  .declaration .announcement .form-group p:before {
    content: "*";
    color: #e61937;
    margin-right: 2px; }
.declaration hr {
  width: 100%;
  border-top: 1px solid #d6d6d6;
  margin: 50px 0; }

.steps {
  margin: 90px 0 70px; }
  .steps ul {
    font-size: 0; }
    .steps ul li {
      position: relative;
      width: 33.33%;
      text-align: center;
      display: inline-block; }
      .steps ul li:after {
        position: absolute;
        top: 79px;
        right: -13px;
        content: "\F006";
        font-family: "fontello";
        width: 26px;
        height: 26px;
        font-size: 14px;
        color: #999;
        line-height: 24px;
        text-align: center;
        border-radius: 50%;
        border: 1px solid #999; }
      .steps ul li:last-child:after {
        display: none; }
      .steps ul li.active .item {
        background-color: #920326; }
        .steps ul li.active .item.step-1 {
          background-image: url(/assets/images/application/stap01_bg_ac.png); }
        .steps ul li.active .item.step-2 {
          background-image: url(/assets/images/application/stap02_bg_ac.png); }
        .steps ul li.active .item.step-3 {
          background-image: url(/assets/images/application/stap03_bg_ac.png); }
        .steps ul li.active .item h2 {
          color: #fff; }
      .steps ul li.active:after {
        color: #920326;
        border-color: #920326; }
      .steps ul li.active .details {
        color: #920326;
        opacity: 1; }
      .steps ul li .item {
        display: inline-block;
        width: 176px;
        height: 176px;
        border-radius: 50%;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: 50% 66px;
        box-shadow: 3px 4px 8.55px 0.45px rgba(0, 0, 0, 0.17); }
        .steps ul li .item.step-1 {
          background-image: url(/assets/images/application/stap01_bg.png); }
        .steps ul li .item.step-2 {
          background-image: url(/assets/images/application/stap02_bg.png); }
        .steps ul li .item.step-3 {
          background-image: url(/assets/images/application/stap03_bg.png); }
        .steps ul li .item h2 {
          display: inline-block;
          font-size: 14px;
          color: #b2b2b2;
          font-weight: bold;
          margin-top: 35px; }
      .steps ul li .details {
        font-size: 14px;
        color: #333;
        opacity: .5;
        font-weight: bold;
        margin-top: 30px; }

.recommendation .steps ul li {
  width: 50%; }

.questions {
  margin-top: 40px;
  padding: 40px 70px 50px;
  background-color: #6b6a6a;
  box-shadow: 3px 4px 6.5px 0.5px rgba(0, 0, 0, 0.13); }
  .questions strong {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px; }
  .questions p {
    font-size: 13px;
    color: #fff;
    line-height: 20px; }
  .questions address {
    font-size: 13px;
    color: #fff;
    line-height: 20px; }
  .questions ul li {
    position: relative;
    font-size: 13px;
    color: #fff;
    line-height: 20px;
    padding-left: 20px; }
    .questions ul li a {
      color: #fff;
      text-decoration: none; }
    .questions ul li:before {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 12px;
      font-family: "fontello"; }
    .questions ul li.tel {
      position: relative; }
      .questions ul li.tel:before {
        content: "\E804"; }
    .questions ul li.email:before {
      content: "\E803"; }

.btn-area {
  margin-top: 70px;
  text-align: center;
  font-size: 0; }
  .btn-area p .btn {
    display: inline-block;
    width: 141px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    line-height: 40px;
    text-align: center;
    border: 0;
    border-radius: 0;
    padding: 0;
    margin-right: 10px; }
    .btn-area p .btn:last-child {
      margin-right: 0; }
    .btn-area p .btn:hover, .btn-area p .btn:focus {
      color: #fff;
      background: none;
      box-shadow: none; }
    .btn-area p .btn.btn-cancel {
      background-color: #7f7f7f; }
    .btn-area p .btn.btn-prev {
      background-color: #7f7f7f; }
    .btn-area p .btn.btn-next {
      background-color: #900020; }
    .btn-area p .btn.btn-send {
      background-color: #900020; }

.recommendation .univ-info .form-control {
  width: 312px; }
.recommendation .univ-info .school input.form-control:after {
  font-family: "fontello";
  content: "\E809"; }
.recommendation .univ-info .school .search {
  position: relative;
  display: inline-block;
  margin-left: 15px; }
  .recommendation .univ-info .school .search .btn-search {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    height: 32px;
    width: 35px;
    line-height: 32px;
    text-align: center;
    color: #999;
    font-size: 16px;
    text-decoration: none; }
    .recommendation .univ-info .school .search .btn-search:focus, .recommendation .univ-info .school .search .btn-search:hover {
      color: #920326; }
  .recommendation .univ-info .school .search .form-control {
    padding-right: 40px; }
.recommendation .password .form-control {
  width: 232px; }
.recommendation .password .btn-ok {
  position: absolute;
  margin-left: 10px;
  display: inline-block;
  width: 85px;
  height: 32px;
  border: 1px solid #d6d6d6;
  background-color: #ececec;
  font-size: 12px;
  font-family: "Arial";
  font-weight: bold;
  vertical-align: middle; }
.recommendation .persenal-info .table th, .recommendation .persenal-info .table td {
  height: 49px; }
.recommendation .persenal-info .form-control {
  width: 312px; }
.recommendation .student-info .table th {
  width: 155px; }
.recommendation .student-info .table td {
  width: 360px; }
.recommendation .student-info .form-control {
  width: 272px; }

/*# sourceMappingURL=application.css.map */
