@import 'common';

body {
	font-family: "Arial", sans-serif;
	font-size: 12px;
	border-top: 6px solid $kcolor;
	background-color: #f7f7f7;
}

@mixin noto() {
	font-family: 'Noto Sans KR', sans-serif;
}

.noto {
	font-family: 'Noto Sans KR', sans-serif;
}

.container {
	width: 1200px !important;
}

.form-group {
	margin-bottom: 0;
}

.form-control {
	& + .form-control {
		margin-left: 10px;
	}
}

label {
	margin-bottom: 0;
	font-size: 14px;
	color: #808080;
	font-weight: normal;
	cursor: pointer;
	& + label {
		[type="radio"] {
			margin-left: 30px;
		}
	}
    & + label {
		[type="checkbox"] {
			margin-left: 30px;
		}
	}
}

select.form-control,
[type="text"].form-control,
[type="email"].form-control,
[type="password"].form-control,
[type="file"].form-control,
textarea.form-control {
	display: inline-block;
	width: 142px;
	height: 32px;
	border-radius: 2px !important;
	box-shadow: none !important;
	font-size: 13px;
	color: #999;
	&:focus {
		border-color: $kcolor;
		color: #666;
	}
}

textarea.form-control {
	width: 100%;
	height: inherit;
}

.help-inline {
	display: inline-block;
	margin-left: 10px;
	font-size: 12px;
	color: #999;
	&.asterisk {
		&:before {
			margin-right: 5px;
			content: "*";
			color: #e61937;
		}
	}
}

.help-block {
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 12px;
	line-height: 18px;
	color: #999;
}

.decimal-list {
    list-style: decimal;
    list-style-position: inside;
    > li {
        font-size: 14px;
        color: #333;
        line-height: 22px;
        margin-bottom: 60px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.table {
	border-top: 2px solid #920326;
	th, td {
		min-height: 50px !important;
		vertical-align: middle !important;
	}
	th {
		padding-left: 25px !important;
		padding-right: 20px !important;
		background-color: #f5f5f5;
		color: #444;
		font-size: 14px;
		font-weight: normal;
		line-height: 18px !important;
		span {
			position: relative;
		}
		&:first-child {
			width: 155px;
		}
	}
	td {
		padding-left: 40px !important;
		padding-right: 40px !important;
		.dash {
			display: inline-block;
			width: 21px;
			text-align: center;
			color: #999;
			&:before {
				content: "-";
			}
		}
        .slash {
            display: inline-block;
			width: 31px;
			text-align: center;
			color: #999;
			&:before {
				content: "/";
			}
        }
	}
	i.require {
		position: absolute;
		left: -10px;
		color: #e61937;
		&:before {
			margin-right: 5px;
			content: '*';
		}
	}
	tr:last-child {
		th, td {
			border-bottom: 1px solid #6f848e;
		}
	}
}

#header {
	.logo {
		img {
			display: block;
		}
	}
	p {
		font-size: 16px;
		color: #333;
		font-weight: bold;
		text-align: right;
	}
}

#content {
	padding-bottom: 100px;
	.guide {
		padding: 40px 70px;
		background-color: #bfbfbf;
		color: #fff;
		font-size: 16px;
		box-shadow: 3px 4px 6.5px 0.5px rgba(0, 0, 0, 0.13); 
		ul {
			li {
				&:before {
					margin-right: 5px;
					content: '■';
				}
				& + li {
					margin-top: 15px;
				}
			}
		}
	}
	.attachments {
		fieldset {
			padding: 40px 70px;
			background-color: #fff;
			box-shadow: 5px 5px 14.72px 1.28px rgba(0, 0, 0, 0.07);
			h5 {
				margin-bottom: 25px;
				font-size: 16px;
				@include noto();
			}
			input[type="file"] {
				height: 42px;
				width: 527px;
			}
			.btn-upload, .btn-download {
				height: 42px;
				border-radius: 2px;
				color: #fff;
				@include noto();
				font-size: 13px;
				line-height: 28px;
				&:before {
					margin-right: 5px;
					font-family: "fontello";
					content: "\E80A";
				}
			}
			.btn-upload {
				margin-left: 10px;
				width: 154px;
				background-color: #930629;
				border-color: #930629;
			}
			.btn-download {
				width: 234px;
				background-color: #7f7f7f;
				border-color: #7f7f7f;
			}
			.down {
				margin-left: 45px;
				padding-left: 45px;
				border-left: 1px solid #ccc;
			}
		}
	}
	.form-wrap {
		fieldset {
			position: relative;
			margin-top: 40px;
			padding: 145px 70px 65px;
			background-color: #fff;
			box-shadow: 5px 5px 14.72px 1.28px rgba(0, 0, 0, 0.07);
			h4 {
				position: absolute;
				top: 30px;
				left: -10px;
				padding-top: 25px;
				padding-left: 80px;
				width: 441px;
				height: 62px;
				font-size: 20px;
				color: #fff;
				background-image: url(/assets/images/application/bg_fieldset_head.png);
				background-repeat: no-repeat;
			}
			.note {
				margin-bottom: 5px;
				color: $kcolor;
				font-size: 13px;
			}
		}
	}
}

.recommendation {
	#content {
		.form-wrap {
			h4 {
				width: 552px;
				@include noto();
				font-weight: 300;
				background-image: url(/assets/images/application/bg_fieldset_head_2.png);
			}
		}
	}
}

.application {
	padding: 40px 0 30px;
}

.application.step1 {
	.personal-details {
		.nationality {
			.form-control {
				width: 342px;
			}
		}
		.passport.number, .email {
			.form-control {
				width: 332px;
			}
		}
		.passport.valid, .birthday, .phone {
			.form-control {
				width: 92px;
				text-align: center;
			}
		}
		.address {
			.form-control {
				width: 100%;
			}
		}
		.disability {
			.help-block {
				margin-bottom: 15px;
				color: #444;
			}
		}
        .passport.ask {
            padding: 50px 26px;
            h5 {
                display: inline-block;
                font-size: 20px;
                color: #202020;
                font-weight: 400;
                margin-bottom: 35px;
            }
            p {
                font-size: 14px;
                color: #333;
            }
            label {
                position: relative;
                width: 100%;
                margin-top: 25px;
                padding-left: 25px;
                input[type="radio"] {
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin-left: 0;
                }
            }
            .help-block {
                font-size: 14px;
                color: #808080;
                margin: 0;
                padding-left: 25px;
                &:before {
                    content: "*";
                    color: #e61937;
                }
            }
        }
	}
}

.application.step2 {
    .academic-background {
        .apply {
            height: 54px;
            color: #444;
            font-size: 14px;
            font-weight: normal;
            line-height: 18px !important;
            padding-left: 16px !important;
            padding-right: 20px !important;
            .form-group {
                > p {
                    display: inline-block;
                    &:before {
                        content: "*";
                        color: #e61937;
                        margin-right: 3px;
                    }
                }
            }
            p {
                position: relative;
                margin-right: 40px;
            }
        }
        .major {
            .form-control {
                width: 445px;
            }
        }
        .gpa, .recent-year {
            .form-control {
                width: 140px;
            }
            &.recent-year {
                th {
                    padding-left: 16px !important;
                }
            }
        }
    }
    .home-institution {
        .international, email, addr {
            .form-control {
                width: 445px;
            }
        }
        .phone, .fax {
            .form-control {
                width: 92px;
            }
            &.fax {
                th {
                    padding-left: 18px !important;
                }
            }
        }
    }
    .study-plan {
        strong {
            display: inline-block;
            font-size: 16px;
            color: #920326;
            font-weight: 400;
            margin: 80px 0 15px;
            &:before {
                content: "※";
                margin-right: 5px;
            }
        }
        .notice-summary {
            font-size: 14px;
            color: #333;
            line-height: 26px;
            margin-bottom: 35px;
        }
        .decimal-list {
            li {
                .registration-courses {
                    ul {
                        margin-top: 20px;
                        li {
                            font-size: 14px;
                            color: #808080;
                            line-height: 20px;
                            &:before {
                                content: "-";
                                margin-right: 5px;
                            }
                        }
                    }
                    > p {
                        font-size: 14px;
                        color: #808080;
                        line-height: 20px;
                    }
                }
            }
        }
        .form-control {
            height: 40px;
            border-radius: 0 !important;
        }
        th {
            height: 54px;
            font-size: 16px;
            color: #303030;
            text-align: center;
            font-weight: 400;
            background-color: #fff;
            border-bottom: 1px solid #910023;
            border-right: 1px solid #e7e7e7;
            &:nth-of-type(1) {
                width: 290px;
            }
            &:nth-of-type(2) {
                width: 155px;
            }
            &:nth-of-type(3) {
                width: 390px;
            }
            &:nth-of-type(4) {
                width: 195px;
            }
            &:last-child {
                border-right: 0;
            }
        }
        tr {
            &:last-child {
                td {
                    border-bottom: 1px solid #910023;
                }
            }
            td {
                padding: 35px 0 !important;
                text-align: center;
                border-right: 1px solid #e7e7e7;
                &:last-child {
                    border-right: 0;
                }
                &:nth-of-type(1) {
                    width: 290px;
                }
                &:nth-of-type(2) {
                    width: 155px;
                }
                &:nth-of-type(3) {
                    width: 390px;
                }
                &:nth-of-type(4) {
                    width: 195px;
                }
                &.department {
                    .form-control {
                        width: 256px;
                        margin-left: 0;
                        margin-bottom: 10px; 
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
                &.course-code {
                    .form-control {
                        width: 110px !important;
                    }
                }
                &.title {
                    .form-control {
                        width: 344px !important;
                    }
                }
                &.credit-value {
                    select {
                        &.form-control {
                            width: 130px !important;
                        }
                    }
                }
            }
        }
    }
    .language-proficiency {
        td {
            height: 54px;
            color: #444;
            font-size: 14px;
            font-weight: normal;
            line-height: 18px !important;
            padding-left: 25px !important;
            padding-right: 20px !important;
            .form-group {
                p {
                    display: inline-block;
                    margin-right: 40px;
                    &:before {
                        content: "*";
                        color: #e61937;
                        margin-right: 3px;
                    }
                }
            }
        }
    }
}

.application.step3 {
    .supporting-documents {
        .table {
            th {
                width: 50%;
                background-color: #fff;
                i.require {
                    top: 0;
                }
                .help-inline {
                    margin-left: 0;
                }
                .btn-down {
                    display: inline-block;
                    margin-left: 30px;
                    .btn {
                        width: 144px;
                        height: 34px;
                        font-size: 14px;
                        color: #303030;
                        line-height: 32px;
                        padding: 0;
                        border-radius: 0;
                        text-align: center;
                        border: 1px solid #e9e9e9;
                        background-image: url(/assets/images/application/btn_down_bg.gif);
                    }
                }
            }
            td {
                width: 50%;
                height: 54px;
                padding-right: 20px !important;
                .form-group {
                    position: relative;
                    display: inline-block;
                    width: 100%;
                    padding-right: 110px;
                    .form-control {
                        width: 100%;
                        height: 40px;
                        border-color: #f6f6f6;
                        border-radius: 0;
                        background-color: #f6f6f6;
                    }
                    .btn-search {
                        position: absolute;
                        top: 0;
                        right: 0;
                        .btn {
                            width: 110px;
                            height: 40px;
                            font-size: 14px;
                            color: #fff;
                            line-height: 40px;
                            text-align: center;
                            padding: 0;
                            border-radius: 0;
                            background-color: #bfbfbf;
                        }
                    }
                }
            }
            .passport {
                td {
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
            }
        }
        .attention {
            width: 100%;
            margin-top: 40px;
            padding: 30px 20px;
            background-color: #f2f2f2;
            ul {
                li {
                    font-size: 14px;
                    color: #303030;
                    line-height: 18px;
                    margin-bottom: 15px;
                    &:before {
                        content: "-";
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .insurance-submission {
        > p {
            position: relative;
            font-size: 14px;
            display: block;
            color: #333;
            line-height: 22px;
            margin-bottom: 35px;
            i.require {
                position: absolute;
                left: -10px;
                color: #e61937;
                &:before {
                    margin-right: 5px;
                    content: '*';
                }
            }
        }
        hr {
            width: 100%;
            border-top: 1px solid #d6d6d6;
            margin: 50px 0;
        }
        .form-group {
            .help-inline {
                margin-left: 50px;
                margin-right: 10px;
            }
            .form-control {
                width: 530px;
                height: 40px;
                border-radius: 0 !important;
            }
        }
    }
    .declaration {
        .form-group {
            p {
                display: inline-block;
            }
        }
        .criminal-records {
            .form-group {
                > p {
                    display: inline-block;
                    font-size: 14px;
                    color: #333;
                    line-height: 22px;
                    margin-right: 40px;
                    &:before {
                        content: "*";
                        color: #e61937;
                        margin-right: 2px;
                    }
                }
            }
            > p {
                font-size: 13px;
                color: #777;
                line-height: 22px;
                margin-top: 30px;
            }
        }
        .information-collection {
            .consent {
                font-size: 14px;
                color: #333;
                line-height: 22px;
                &:before {
                    content: "*";
                    color: #e61937;
                    margin-right: 2px;
                }
            }
            p {
                font-size: 13px;
                color: #777;
                line-height: 22px;
                margin-top: 30px;
                &:before {
                    content: "※";
                }
            }
            ul {
                margin-top: 30px;
                li {
                    font-size: 13px;
                    color: #777;
                    line-height: 22px;
                    &:before {
                        content: "-";
                        margin-right: 3px;
                    }
                }
            }
        }
        .announcement {
            .form-group {
                p {
                    display: inline-block;
                    font-size: 14px;
                    color: #333;
                    line-height: 22px;
                    margin-right: 40px;
                    &:before {
                        content: "*";
                        color: #e61937;
                        margin-right: 2px;
                    }
                }
            }
        }
        hr {
            width: 100%;
            border-top: 1px solid #d6d6d6;
            margin: 50px 0;
        }
    }
}

.steps {
    margin: 90px 0 70px;
    ul {
        font-size: 0;
        li {
            position: relative;
            width: 33.33%;
            text-align: center;
            display: inline-block;
            &:after {
                position: absolute;
                top: 79px;
                right: -13px;
                content: "\F006";
                font-family: "fontello";
                width: 26px;
                height: 26px;
                font-size: 14px;
                color: #999;
                line-height: 24px;
                text-align: center;
                border-radius: 50%;
                border: 1px solid #999;
            }
            &:last-child {
                &:after {
                    display: none;
                }
            }
            &.active {
                .item {
                    background-color: #920326;
                    &.step-1 {background-image: url(/assets/images/application/stap01_bg_ac.png);}
                    &.step-2 {background-image: url(/assets/images/application/stap02_bg_ac.png);}
                    &.step-3 {background-image: url(/assets/images/application/stap03_bg_ac.png);}
                    h2 {
                        color: #fff;
                    }
                }
                &:after {
                    color: #920326;
                    border-color: #920326;
                }
                .details {
                    color: #920326;
                    opacity: 1;
                }
            }
            .item {
                display: inline-block;
                width: 176px;
                height: 176px;
                border-radius: 50%;
                background-color: #fff;
                background-repeat: no-repeat;
                background-position: 50% 66px;
                box-shadow: 3px 4px 8.55px 0.45px rgba(0, 0, 0, 0.17);
                &.step-1 {background-image: url(/assets/images/application/stap01_bg.png);}
                &.step-2 {background-image: url(/assets/images/application/stap02_bg.png);}
                &.step-3 {background-image: url(/assets/images/application/stap03_bg.png);}
                h2 {
                    display: inline-block;
                    font-size: 14px;
                    color: #b2b2b2;
                    font-weight: bold;
                    margin-top: 35px;
                }
            }
            .details {
                font-size: 14px;
                color: #333;
                opacity: .5;
                font-weight: bold;
                margin-top: 30px;
            }
        }
    }
}

.recommendation {
	.steps {
		ul {
			li {
				width: 50%;
			}
		}
	}
}

.questions {
    margin-top: 40px;
    padding: 40px 70px 50px;
    background-color: #6b6a6a;
    box-shadow: 3px 4px 6.5px 0.5px rgba(0, 0, 0, 0.13);
    strong {
        display: inline-block;
        font-size: 18px;
        color: #fff;
        margin-bottom: 20px;
    }
    p {
        font-size: 13px;
        color: #fff;
        line-height: 20px;
    }
    address {
        font-size: 13px;
        color: #fff;
        line-height: 20px;
    }
    ul {
        li {
            position: relative;
            font-size: 13px;
            color: #fff;
            line-height: 20px;
            padding-left: 20px;
            a {
                color: #fff;
                text-decoration: none;
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                font-size: 12px;
                font-family: "fontello";
            }
            &.tel {
                position: relative;
                &:before {
                    content: "\E804";
                }
                
            }
            &.email {
                &:before {
                    content: "\E803";
                }
            }
        }
    }
}

.btn-area {
    margin-top: 70px;
    text-align: center;
    font-size: 0;
    p {
        .btn {
            display: inline-block;
            width: 141px;
            height: 40px;
            font-size: 16px;
            font-weight: bold;
            color: #fff;
            line-height: 40px;
            text-align: center;
            border: 0;
            border-radius: 0;
            padding: 0;
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
            &:hover, &:focus {
                color: #fff;
                background: none;
                box-shadow: none;
            }
            &.btn-cancel {background-color: #b8b8b8;}
            &.btn-prev {background-color: #b8b8b8;}
            &.btn-next {background-color: #900020;}
            &.btn-send {background-color: #900020;}
        }
    }
}

#content {
    .application {
        .personal-details {
            .nationality {
                .form-control {
                    width: 342px;
                }
            }
            .passport.number, .email {
                .form-control {
                    width: 332px;
                }
            }
            .passport.valid, .birthday, .phone {
                .form-control {
                    width: 92px;
                    text-align: center;
                }
            }
            .address {
                .form-control {
                    width: 100%;
                }
            }
            .disability {
                .help-block {
                    margin-bottom: 15px;
                    color: #444;
                }
            }
            .passport.ask {
                padding: 50px 26px;
                h5 {
                    display: inline-block;
                    font-size: 20px;
                    color: #202020;
                    font-weight: 400;
                    margin-bottom: 35px;
                }
                p {
                    font-size: 14px;
                    color: #333;
                }
                label {
                    position: relative;
                    width: 100%;
                    margin-top: 25px;
                    padding-left: 25px;
                    input[type="radio"] {
                        position: absolute;
                        top: 0;
                        left: 0;
                        margin-left: 0;
                    }
                }
                .help-block {
                    font-size: 14px;
                    color: #808080;
                    margin: 0;
                    padding-left: 25px;
                    &:before {
                        content: "*";
                        color: #e61937;
                    }
                }
            }
        }
        .academic-background {
            .apply {
                height: 54px;
                color: #444;
                font-size: 14px;
                font-weight: normal;
                line-height: 18px !important;
                padding-left: 16px !important;
                padding-right: 20px !important;
                .form-group {
                    > p {
                        display: inline-block;
                        &:before {
                            content: "*";
                            color: #e61937;
                            margin-right: 3px;
                        }
                    }
                }
                p {
                    position: relative;
                    margin-right: 40px;
                }
            }
            .major {
                .form-control {
                    width: 445px;
                }
            }
            .gpa, .recent-year {
                .form-control {
                    width: 140px;
                }
                &.recent-year {
                    th {
                        padding-left: 16px !important;
                    }
                }
            }
        }
        .home-institution {
            .international, email, addr {
                .form-control {
                    width: 445px;
                }
            }
            .phone, .fax {
                .form-control {
                    width: 92px;
                }
                &.fax {
                    th {
                        padding-left: 18px !important;
                    }
                }
            }
        }
        .study-plan {
            strong {
                display: inline-block;
                font-size: 16px;
                color: #920326;
                font-weight: 400;
                margin: 80px 0 15px;
                &:before {
                    content: "※";
                    margin-right: 5px;
                }
            }
            .notice-summary {
                font-size: 14px;
                color: #333;
                line-height: 26px;
                margin-bottom: 35px;
            }
            .decimal-list {
                li {
                    .registration-courses {
                        ul {
                            margin-top: 20px;
                            li {
                                font-size: 14px;
                                color: #808080;
                                line-height: 20px;
                                &:before {
                                    content: "-";
                                    margin-right: 5px;
                                }
                            }
                        }
                        > p {
                            font-size: 14px;
                            color: #808080;
                            line-height: 20px;
                        }
                    }
                }
            }
            .form-control {
                height: 40px;
                border-radius: 0 !important;
            }
            th {
                height: 54px;
                font-size: 16px;
                color: #303030;
                text-align: center;
                font-weight: 400;
                background-color: #fff;
                border-bottom: 1px solid #910023;
                border-right: 1px solid #e7e7e7;
                &:nth-of-type(1) {
                    width: 290px;
                }
                &:nth-of-type(2) {
                    width: 155px;
                }
                &:nth-of-type(3) {
                    width: 390px;
                }
                &:nth-of-type(4) {
                    width: 195px;
                }
                &:last-child {
                    border-right: 0;
                }
            }
            tr {
                &:last-child {
                    td {
                        border-bottom: 1px solid #910023;
                    }
                }
                td {
                    padding: 35px 0 !important;
                    text-align: center;
                    border-right: 1px solid #e7e7e7;
                    &:last-child {
                        border-right: 0;
                    }
                    &:nth-of-type(1) {
                        width: 290px;
                    }
                    &:nth-of-type(2) {
                        width: 155px;
                    }
                    &:nth-of-type(3) {
                        width: 390px;
                    }
                    &:nth-of-type(4) {
                        width: 195px;
                    }
                    &.department {
                        .form-control {
                            width: 256px;
                            margin-left: 0;
                            margin-bottom: 10px; 
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                    &.course-code {
                        .form-control {
                            width: 110px !important;
                        }
                    }
                    &.title {
                        .form-control {
                            width: 344px !important;
                        }
                    }
                    &.credit-value {
                        select {
                            &.form-control {
                                width: 130px !important;
                            }
                        }
                    }
                }
            }
        }
        .language-proficiency {
            td {
                height: 54px;
                color: #444;
                font-size: 14px;
                font-weight: normal;
                line-height: 18px !important;
                padding-left: 25px !important;
                padding-right: 20px !important;
                .form-group {
                    p {
                        display: inline-block;
                        margin-right: 40px;
                        &:before {
                            content: "*";
                            color: #e61937;
                            margin-right: 3px;
                        }
                    }
                }
            }
        }
        .supporting-documents {
            .table {
                th {
                    width: 50%;
                    background-color: #fff;
                    i.require {
                        top: 0;
                    }
                    .help-inline {
                        margin-left: 0;
                    }
                    .btn-down {
                        display: inline-block;
                        margin-left: 30px;
                        .btn {
                            width: 144px;
                            height: 34px;
                            font-size: 14px;
                            color: #303030;
                            line-height: 32px;
                            padding: 0;
                            border-radius: 0;
                            text-align: center;
                            border: 1px solid #e9e9e9;
                            background-image: url(/assets/images/application/btn_down_bg.gif);
                        }
                    }
                }
                td {
                    width: 50%;
                    height: 54px;
                    padding-right: 20px !important;
                    .form-group {
                        position: relative;
                        display: inline-block;
                        width: 100%;
                        padding-right: 110px;
                        .form-control {
                            width: 100%;
                            height: 40px;
                            border-color: #f6f6f6;
                            border-radius: 0;
                            background-color: #f6f6f6;
                        }
                        .btn-search {
                            position: absolute;
                            top: 0;
                            right: 0;
                            .btn {
                                width: 110px;
                                height: 40px;
                                font-size: 14px;
                                color: #fff;
                                line-height: 40px;
                                text-align: center;
                                padding: 0;
                                border-radius: 0;
                                background-color: #bfbfbf;
                            }
                        }
                    }
                }
                .passport {
                    td {
                        padding-top: 20px;
                        padding-bottom: 20px;
                    }
                }
            }
            .attention {
                width: 100%;
                margin-top: 40px;
                padding: 30px 20px;
                background-color: #f2f2f2;
                ul {
                    li {
                        font-size: 14px;
                        color: #303030;
                        line-height: 18px;
                        margin-bottom: 15px;
                        &:before {
                            content: "-";
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        .insurance-submission {
            > p {
                position: relative;
                font-size: 14px;
                display: block;
                color: #333;
                line-height: 22px;
                margin-bottom: 35px;
                i.require {
                    position: absolute;
                    left: -10px;
                    color: #e61937;
                    &:before {
                        margin-right: 5px;
                        content: '*';
                    }
                }
            }
            hr {
                width: 100%;
                border-top: 1px solid #d6d6d6;
                margin: 50px 0;
            }
            .form-group {
                .help-inline {
                    margin-left: 50px;
                    margin-right: 10px;
                }
                .form-control {
                    width: 530px;
                    height: 40px;
                    border-radius: 0 !important;
                }
            }
        }
        .declaration {
            .form-group {
                p {
                    display: inline-block;
                }
            }
            .criminal-records {
                .form-group {
                    > p {
                        display: inline-block;
                        font-size: 14px;
                        color: #333;
                        line-height: 22px;
                        margin-right: 40px;
                        &:before {
                            content: "*";
                            color: #e61937;
                            margin-right: 2px;
                        }
                    }
                }
                > p {
                    font-size: 13px;
                    color: #777;
                    line-height: 22px;
                    margin-top: 30px;
                }
            }
            .information-collection {
                .consent {
                    font-size: 14px;
                    color: #333;
                    line-height: 22px;
                    &:before {
                        content: "*";
                        color: #e61937;
                        margin-right: 2px;
                    }
                }
                p {
                    font-size: 13px;
                    color: #777;
                    line-height: 22px;
                    margin-top: 30px;
                    &:before {
                        content: "※";
                    }
                }
                ul {
                    margin-top: 30px;
                    li {
                        font-size: 13px;
                        color: #777;
                        line-height: 22px;
                        &:before {
                            content: "-";
                            margin-right: 3px;
                        }
                    }
                }
            }
            .announcement {
                .form-group {
                    p {
                        display: inline-block;
                        font-size: 14px;
                        color: #333;
                        line-height: 22px;
                        margin-right: 40px;
                        &:before {
                            content: "*";
                            color: #e61937;
                            margin-right: 2px;
                        }
                    }
                }
            }
            hr {
                width: 100%;
                border-top: 1px solid #d6d6d6;
                margin: 50px 0;
            }
        }
    }
}

.recommendation {
	.univ-info {
		.form-control {
			width: 312px;
		}
		.school {
			input.form-control {
				&:after {
					font-family: "fontello";
					content: "\E809";
				}
			}
			.search {
				position: relative;
				display: inline-block;
				margin-left: 15px;
				.btn-search {
					position: absolute;
					right: 0;
					top: 0;
					padding: 0;
					height: 32px;
					width: 35px;
					line-height: 32px;
					text-align: center;
					color: #999;
					font-size: 16px;
					text-decoration: none;
					&:focus, &:hover {
						color: $kcolor;
					}
				}
				.form-control {
					padding-right: 40px;
				}
			}
		}
	}
	.password {
		.form-control {
			width: 232px;
		}
		.btn-ok {
			position: absolute;
			margin-left: 10px;
			display: inline-block;
			width: 85px;
			height: 32px;
			border: 1px solid #d6d6d6;
			background-color: #ececec;
			font-size: 12px;
			font-family: "Arial";
			font-weight: bold;
			vertical-align: middle;
		}
	}
	.persenal-info {
		.table {
			th, td {
				height: 49px;
			}
		}
		.form-control {
			width: 312px;
		}
	}
	.student-info {
		.table {
			th {
				width: 155px;
			}
			td {
				width: 360px;
			}
		}
		.form-control {
			width: 272px;
		}
	}
}