@import 'common';

html {
	position: relative;
	min-width: 320px;
	/*
	height: 100%;
	overflow-scrolling: touch;
	-webkit-overflow-scrolling: touch;
	&.nav-opened {
		overflow: hidden;
	}
	@media (min-width: $lg) {
		&.nav-opened {
			overflow: initial;
		}
	}
	*/
}

body {
	position: relative;
	padding-top: 53px;
	min-width: 320px;
	height: 100%;
	font-family: "Arial", sans-serif;
	font-size: 12px;
	overflow-scrolling: touch;
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
	&.nav-opened {
		overflow: hidden;
	}
	@media (min-width: $sm) {
		padding-top: 84px;
	}
	@media (min-width: $lg) {
		padding-top: 98px;
		&.nav-opened {
			overflow: initial;
		}
	}
}

.container,
.container-fluid {
    padding-left: 10px;
    padding-right: 10px;
    .row {
        margin-left: -5px;
        margin-right: -5px;
        @for $i from 1 through 12 {
            .col-xs-#{$i},
            .col-sm-#{$i},
            .col-md-#{$i},
            .col-lg-#{$i} {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }
    @media (min-width: $sm) {
        padding-left: 20px;
        padding-right: 20px;
        .row {
            margin-left: -10px;
            margin-right: -10px;
            @for $i from 1 through 12 {
                .col-xs-#{$i},
                .col-sm-#{$i},
                .col-md-#{$i},
                .col-lg-#{$i} {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }
    @media (min-width: $md) {
        padding-left: 15px;
        padding-right: 15px;
        .row {
            margin-left: -15px;
            margin-right: -15px;
            @for $i from 1 through 12 {
                .col-xs-#{$i},
                .col-sm-#{$i},
                .col-md-#{$i},
                .col-lg-#{$i} {
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }
    }
}

#header {
	z-index: 9000;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 53px;
	border-top: 3px solid $kcolor;
	background-color: #fff;
	.logo {
		margin-top: 13px;
		width: 147px;
		height: 26px;
		a {
			display: block;
			width: 100%;
			height: 100%;
			background-image: url(/assets/images/logo_crimson_xs.png);
			background-repeat: no-repeat;
		}
	}
	.btn-nav-open {
		float: right;
		margin-top: 4px;
		margin-right: -10px;
		padding: 0;
		border: 0;
		color: #333;
		font-size: 30px;
	}
	@media (min-width: $sm) {
		height: 84px;
		border-top-width: 4px;
		.logo {
			margin-top: 22px;
			width: 193px;
			height: 34px;
			a {
				background-image: url(/assets/images/logo_crimson_sm.png);
			}
		}
		.btn-nav-open {
			margin-top: 9px;
			margin-right: -15px;
			font-size: 44px;
		}
	}
	@media (min-width: $lg) {
		height: 98px;
		border-top-width: 6px;
		.logo {
			margin-top: 27px;
			width: 233px;
			height: 41px;
			a {
				background-image: url(/assets/images/logo_crimson_lg.png);
			}
		}
		.nav {
			margin-top: 37px;
			text-align: right;
			> ul {
				display: inline-block;
				> li {
					display: inline-block;
					height: 55px;
					background-ccolor: #fff;
					> a {
						position: relative;
						float: left;
						height: 30px;
						font-size: 18px;
						color: #333;
						text-decoration: none;
						.bar {
							position: absolute;
							bottom: 0;
							left: 50%;
							width: 0;
							height: 1px;
							@include trans();
						}
						/*
						&:hover, &:focus {
							color: $kcolor;
							.bar {
								margin-left: -50%;
								width: 100%;
								background-color: $kcolor;
							}
						}
						*/
					}
					&.active {
						> a {
							color: $kcolor;
							.bar {
								margin-left: -50%;
								width: 100%;
								background-color: $kcolor;
							}
						}
					}
					> .nav-content {
						display: none;
						position: fixed;
						top: 98px;
						left: 0;
						width: 100%;
						height: 427px;
						background-color: #fff;
						text-align: left;
						color: #333;
						.nav-head {
							margin-top: 60px;
							h4 {
								margin-bottom: 25px;
								font-size: 24px;
								color: $kcolor;
							}
							figure {
								figcaption {
									margin-top: 15px;
									font-size: 13px;
									line-height: 18px;
									color: #777;
								}
							}
						}
						.nav-body {
							margin-top: 110px;
							> ul {
								> li {
									a {
										display: block;
										margin-bottom: 15px;
										//margin-left: -5px;
										//margin-right: -5px;
										color: #333;
										padding-left: 10px;
										padding-right: 10px;
										height: 42px;
										line-height: 42px;
										font-size: 15px;
										text-decoration: none;
										border-bottom: 1px solid #ccc;
										color: #555;
										@include trans();
										span {
											word-spacing: -1px;
											letter-spacing: -1px;
										}
										&:before {
											margin-right: 5px;
											font-family: "fontello";
											content: "\E806";
										}
										&:hover, &:focus {
											background-color: $kcolor;
											color: #fff;
											border-bottom: 0;
											font-weight: bold;
										}
									}
								}
							}
						}
					}
					& + li {
						> a {
							margin-left: 50px;
						}
					}
					&:nth-of-type(3) {
						> .nav-content {
							.nav-head {
								h4 {
									margin-right: -30px;
								}
							}
						}
					}
				}
			}
		}
	}
}

body.nav-expanded {
	@media (min-width: $lg) {
		#header {
			height: 525px;
			box-shadow: 0 1px 10px rgba(#000, .15);
			.nav {
				> ul {
					> li.active {
						> .nav-content {
							display: block;
						}
					}
				}
			}
		}
	}
}

body.scrolled {
	#header {
		box-shadow: 0 1px 10px rgba(#000, .15);
	}
}

#side-nav {
	z-index: 9000;
	position: fixed;
	top: 0;
	right: -100%;
	width: 100%;
	height: 100%;
	background-color: rgba(#000, .5);
	.nav-content {
		position: absolute;
		top: 0;
		right: -100%;
		padding-top: 63px;
		max-width: 280px;
		width: 100%;
		height: 100%;
		background-color: #fff;
		@include trans($sec: .3s, $timing: cubic-bezier(0.46, 0.03, 0.52, 0.96));
		.nav-head {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 63px;
			background-color: $kcolor;
			.logo {
				margin-top: 21px;
				margin-left: 22px;
				width: 138px;
				height: 24px;
				a {
					display: block;
					width: 100%;
					height: 100%;
					background-image: url(/assets/images/logo_white_xs.png);
					background-repeat: no-repeat;
				}
			}
			.btn-nav-close {
				position: absolute;
				top: 11px;
				right: 0;
				padding: 10px;
				border: 0;
				width: 36px;
				height: 36px;
				&:before {
					width: 16px;
					height: 16px;
					content: url(/assets/images/ico_close.png);
				}
			}
		}
		.nav-body {
			overflow: auto;
			height: 100%;
			a {
				text-decoration: none;
			}
			> ul {
				> li {
					border-bottom: 1px solid rgba(#000, .2);
					> a {
						display: block;
						padding: 22px 10px 22px 20px;
						color: #333;
						font-size: 13px;
						line-height: 20px;
						font-weight: bold;
						&:after {
							float: right;
							content: url(/assets/images/ico_down.png);
						}
					}
					> ul {
						display: none;
						> li {
							> a {
								display: block;
								padding: 12px 10px 12px 20px;
								font-size: 13px;
								line-height: 20px;
								color: #777;
								border-top: 1px solid rgba(#000, .2);
							}
							&:first-child {
								> a {
									border-top: 0;
								}
							}
							> ul {
								display: none;
								> li {
									> a {
										position: relative;
										display: block;
										padding: 11px 10px 11px 45px;
										font-size: 12px;
										line-height: 17px;
										background-color: #ececec;
										border-top: 1px solid rgba(#000, .2);
										color: #333;
										&:before {
											position: absolute;
											margin-left: -10px;
											content: "-";
										}
									}
								}
							}
							
							&.active {
								> a {
									color: $kcolor;
								}
								> ul {
									display: block;
								}
							}
							&.has-child {
								> a {
									&:after {
										float: right;
										content: url(/assets/images/ico_plus.png); 
									}
								}
								&.active {
									> a {
										&:after {
											content: url(/assets/images/ico_minus.png); 
										}
									}
								}
							}
						}
					}
					&.active {
						border-bottom: 2px solid $kcolor;
						> a {
							color: $kcolor;
							border-bottom: 2px solid $kcolor;
							&:after {
								content: url(/assets/images/ico_up.png);
							}
						}
						> ul {
							display: block;
						}
					}
				}
			}
		}
	}
	@media (min-width: $sm) {
		.nav-content {
			padding-top: 80px;
			max-width: 630px;
			.nav-head {
				height: 80px;
				.logo {
					margin-top: 30px;
					margin-left: 27px;
				}
				.btn-nav-close {
					top: 20px;
					right: 12px;
				}
			}
			.nav-body {
				> ul {
					> li {
						> a {
							padding-left: 30px;
							padding-right: 20px;
							font-size: 16px;
						}
						> ul {
							> li {
								> a {
									padding: 15px 20px 15px 30px;
									font-size: 14px;
								}
								> ul {
									> li {
										> a {
											padding-top: 14px;
											padding-bottom: 14px;
											padding-left: 60px;
											padding-right: 20px;
											font-size: 13px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

body.nav-opened {
	#side-nav {
		right: 0;
		.nav-content {
			right: 0;
		}
	}
}

#content {
	min-height: 500px;
}

#footer {
	padding-top: 30px;
	padding-bottom: 20px;
	background-color: #fff;
	text-align: center;
	border-top: 1px solid #d4d4d4;
	.logo {
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
		width: 138px;
		height: 24px;
		background-image: url(/assets/images/logo_footer_xs.png);
		background-repeat: no-repeat;
	}
	.copyright {
		color: #777;
	}
	@media (min-width: $sm) {
		padding-bottom: 30px;
		text-align: left;
		.logo {
			margin-bottom: 0;
			margin-left: inherit;
			margin-right: inherit;
		}
		.copyright {
			margin-left: -15px;
			padding-top: 8px;
		}
	}
	@media (min-width: $lg) {
		margin-top: 120px;
		padding-bottom: 30px;
		.logo {
			margin-bottom: 15px;
			width: 155px;
			height: 27px;
			background-image: url(/assets/images/logo_footer_lg.png);
		}
		.copyright {
			margin-left: 0;
			padding-top: 0;
		}
		.sitemap {
			float: right;
			margin-top: -15px;
			width: 114px;
			height: 32px;
			border: 1px solid #959595;
			font-size: 13px;
			color: #333;
			text-decoration: none;
			text-align: center;
			line-height: 30px;
			&:hover, &:focus {
				background-color: #959595;
				color: #fff;
				@include trans();
			}
		}
	}
}