h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

#lnb h2 {
  padding-top: 35px !important;
  padding-bottom: 35px !important; }

.form-group {
  margin-bottom: 0; }

.form-control {
  box-shadow: none;
  border-radius: 0;
  border: 1px solid #e5e5e5; }
  .form-control:hover, .form-control:focus {
    box-shadow: none; }

.getting-prepared .page-content .ready-list ol li:last-child .details {
  margin-bottom: 0; }
@media (min-width: 768px) {
  .getting-prepared .page-content .ready-list ol li:nth-of-type(7) {
    margin-bottom: 0; }
  .getting-prepared .page-content .ready-list ol li:nth-of-type(8) {
    margin-bottom: 0; } }
.getting-prepared .page-content .ready-list ol li h4 {
  font-size: 13px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 43px;
  background-color: #77c27c; }
.getting-prepared .page-content .ready-list ol li .details {
  display: table;
  width: 100%;
  text-align: center;
  margin-bottom: 50px; }
  @media (min-width: 768px) {
    .getting-prepared .page-content .ready-list ol li .details {
      margin-bottom: 60px; } }
  .getting-prepared .page-content .ready-list ol li .details > div {
    display: table-cell;
    height: 135px;
    vertical-align: middle;
    border: 1px solid #e8e8e8; }
    .getting-prepared .page-content .ready-list ol li .details > div p {
      font-size: 13px;
      color: #333;
      line-height: 20px; }
      .getting-prepared .page-content .ready-list ol li .details > div p span {
        position: relative;
        display: inline-block; }
        .getting-prepared .page-content .ready-list ol li .details > div p span:after {
          position: absolute;
          bottom: 1px;
          left: 0;
          content: " ";
          width: 100%;
          border-top: 1px solid #adadad;
          border-bottom: 1px solid #d8d8d8; }
    .getting-prepared .page-content .ready-list ol li .details > div small {
      display: inline-block;
      font-size: 12px;
      color: #a2a2a2;
      line-height: 16px; }

.downloads .downloads-list ul li:last-child a {
  margin-bottom: 0; }
.downloads .downloads-list ul li a {
  position: relative;
  display: table;
  width: 100%;
  padding-left: 30px;
  padding-right: 20px;
  margin-bottom: 10px;
  text-decoration: none;
  border: 1px solid #d0cfcf;
  background-color: #fff;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }
  @media (min-width: 768px) {
    .downloads .downloads-list ul li a {
      margin-bottom: 20px; } }
  .downloads .downloads-list ul li a:after {
    position: absolute;
    top: 50%;
    right: 20px;
    display: block;
    width: 24px;
    height: 24px;
    content: "\E80C";
    font-size: 12px;
    color: #828282;
    text-align: center;
    line-height: 22px;
    margin-top: -12px;
    font-family: "fontello";
    border-radius: 50%;
    border: 1px solid #828282; }
    @media (min-width: 768px) {
      .downloads .downloads-list ul li a:after {
        right: 10px; } }
  .downloads .downloads-list ul li a:hover, .downloads .downloads-list ul li a:focus {
    background-color: #910023;
    border-color: #910023; }
    .downloads .downloads-list ul li a:hover:after, .downloads .downloads-list ul li a:focus:after {
      color: #fff;
      border-color: #fff; }
    .downloads .downloads-list ul li a:hover p, .downloads .downloads-list ul li a:focus p {
      color: #fff; }
  .downloads .downloads-list ul li a p {
    display: table-cell;
    height: 76px;
    font-size: 13px;
    color: #777;
    line-height: 18px !important;
    vertical-align: middle; }

.absence-returning .account-information {
  margin-top: 60px;
  margin-bottom: 60px; }
  @media (min-width: 768px) {
    .absence-returning .account-information {
      margin-bottom: 70px; } }
  .absence-returning .account-information .u-title {
    margin-bottom: 20px; }
    @media (min-width: 768px) {
      .absence-returning .account-information .u-title {
        margin-bottom: 30px !important; } }
  .absence-returning .account-information ul li {
    position: relative;
    padding-left: 15px;
    line-height: 18px;
    margin-bottom: 10px; }
    .absence-returning .account-information ul li:last-child {
      margin-bottom: 0; }
    .absence-returning .account-information ul li:before {
      position: absolute;
      top: 0;
      left: 0;
      content: "\E80B";
      font-size: 18px;
      color: #333;
      font-family: "fontello"; }
  .absence-returning .account-information i {
    position: relative;
    display: inline-block;
    line-height: 18px;
    opacity: .9;
    margin-top: 15px;
    padding-left: 10px; }
    .absence-returning .account-information i:before {
      position: absolute;
      top: 0;
      left: 0;
      content: "*"; }

.accomodation .tabs {
  margin-top: 35px; }
@media (min-width: 768px) {
  .accomodation .tabs {
    margin-top: 55px; } }
.accomodation #accomodation-3 figure {
  margin-bottom: 20px; }
  .accomodation #accomodation-3 figure .img-responsive {
    margin: 0 auto 10px; }
  .accomodation #accomodation-3 figure figcaption {
    margin-top: 10px; }
.accomodation #accomodation-3 .box:nth-of-type(1) dl dt {
  margin-bottom: 7px;
  font-weight: normal; }
.accomodation #accomodation-3 .box:nth-of-type(1) dl dd {
  margin-bottom: 12px; }
  .accomodation #accomodation-3 .box:nth-of-type(1) dl dd a {
    word-break: break-all;
    word-wrap: break-word; }
.accomodation #accomodation-3 .box:nth-of-type(1) p {
  margin-bottom: 7px !important;
  line-height: 18px; }
.accomodation #accomodation-3 .box:nth-of-type(2) {
  margin-bottom: 0; }
@media (min-width: 768px) {
  .accomodation #accomodation-3 .box:nth-of-type(1) {
    margin-bottom: 30px; }
    .accomodation #accomodation-3 .box:nth-of-type(1) dl dt {
      float: left;
      margin-right: 10px; }
    .accomodation #accomodation-3 .box:nth-of-type(1) dl dd {
      margin-bottom: 7px; }
    .accomodation #accomodation-3 .box:nth-of-type(1) p {
      font-size: 13px; }
  .accomodation #accomodation-3 .box:nth-of-type(2) {
    margin-bottom: inherit; } }
@media (min-width: 1280px) {
  .accomodation #accomodation-3 figure {
    margin-bottom: 30px; }
  .accomodation #accomodation-3 .box:nth-of-type(1) {
    margin-bottom: 10px; } }

.student-visa .summary a {
  color: #920326; }
.student-visa .required-documents {
  margin-top: 60px; }
  .student-visa .required-documents .co-list {
    padding: 50px 10px 40px;
    background-color: #f2f2f2; }
    @media (min-width: 768px) {
      .student-visa .required-documents .co-list {
        margin-top: 30px;
        padding-left: 40px;
        padding-right: 40px; } }
    @media (min-width: 1280px) {
      .student-visa .required-documents .co-list {
        padding-left: 75px;
        padding-right: 75px; } }
    .student-visa .required-documents .co-list li .dot-list {
      padding-top: 5px; }
      @media (min-width: 768px) {
        .student-visa .required-documents .co-list li .dot-list {
          padding-top: 0; } }
      .student-visa .required-documents .co-list li .dot-list li {
        color: #666;
        opacity: .8;
        margin-top: 15px; }
        .student-visa .required-documents .co-list li .dot-list li:before {
          content: "\E80B";
          font-family: "fontello"; }
        @media (min-width: 768px) {
          .student-visa .required-documents .co-list li .dot-list li {
            margin-top: 5px; } }
    .student-visa .required-documents .co-list li p {
      display: block;
      color: #777;
      opacity: .9;
      margin-top: 25px; }
      .student-visa .required-documents .co-list li p:before {
        content: "("; }
      .student-visa .required-documents .co-list li p:after {
        content: ")"; }
      @media (min-width: 768px) {
        .student-visa .required-documents .co-list li p {
          margin-top: 10px;
          margin-bottom: 15px !important; } }
    .student-visa .required-documents .co-list li i {
      position: relative;
      display: inline-block;
      padding-left: 10px;
      color: #777; }
      .student-visa .required-documents .co-list li i:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "*"; }
      .student-visa .required-documents .co-list li i span {
        color: #910023; }

.faq-list .tab-content .tab-pane .question-type {
  margin-bottom: 40px; }
  @media (min-width: 768px) {
    .faq-list .tab-content .tab-pane .question-type {
      margin-bottom: 65px; } }
  @media (min-width: 992px) {
    .faq-list .tab-content .tab-pane .question-type {
      margin-bottom: 50px; } }

@media (min-width: 768px) {
  .question-type .row {
    margin-left: 0 !important;
    margin-right: 0 !important; } }
@media (min-width: 992px) {
  .question-type .row {
    margin-right: -5px !important; } }
.question-type .row li {
  display: table;
  margin-bottom: 10px; }
  @media (min-width: 768px) {
    .question-type .row li {
      padding-left: 0 !important;
      padding-right: 0 !important;
      margin-bottom: 0;
      border: 1px solid #e3e3e3;
      border-right: 0; }
      .question-type .row li:last-child {
        border-right: 1px solid #e3e3e3; } }
  .question-type .row li a {
    height: 65px;
    display: table-cell;
    font-size: 12px;
    color: #777 !important;
    vertical-align: middle;
    text-align: center;
    line-height: 14px;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    margin-bottom: 10px;
    text-decoration: none;
    background-color: #f7f7f7; }
    .question-type .row li a:hover, .question-type .row li a:focus {
      color: #fff !important;
      background-color: #910023; }
    @media (min-width: 768px) {
      .question-type .row li a {
        font-size: 13px; } }
  .question-type .row li.active a {
    cursor: default;
    color: #fff !important;
    background-color: #910023; }

.question-list {
  margin: 0; }
  .question-list .panel {
    margin-top: 0 !important;
    border: 0;
    border-radius: 0;
    box-shadow: none; }
    .question-list .panel:last-child {
      border-bottom: 1px solid #e3e3e3; }
    .question-list .panel .panel-heading {
      padding: 0;
      border-radius: 0;
      border-top: 1px solid #e3e3e3;
      background-color: #fff; }
      .question-list .panel .panel-heading a {
        position: relative;
        display: block;
        color: #777 !important;
        line-height: 18px;
        vertical-align: top;
        padding: 25px 0;
        padding-right: 40px;
        padding-left: 60px;
        text-decoration: none; }
        .question-list .panel .panel-heading a .question {
          position: absolute;
          top: 25px;
          left: 15px;
          display: inline-block;
          vertical-align: top;
          width: 22px;
          height: 22px;
          font-family: "Myriad Pro", sans-serif;
          font-size: 12px;
          font-weight: bold;
          text-align: center;
          font-style: normal;
          margin-right: 20px;
          color: #fff;
          padding: 4px 0;
          border-radius: 50%;
          background-color: #483d3d; }
        .question-list .panel .panel-heading a.collapsed:after {
          content: "\F107"; }
        .question-list .panel .panel-heading a:after {
          position: absolute;
          top: 25px;
          right: 15px;
          content: "\F106";
          font-family: "fontello";
          font-size: 24px;
          color: #666; }
          @media (min-width: 768px) {
            .question-list .panel .panel-heading a:after {
              right: 20px; } }
          @media (min-width: 992px) {
            .question-list .panel .panel-heading a:after {
              right: 30px; } }
    .question-list .panel .panel-collapse {
      border-radius: 0;
      border: 0; }
      .question-list .panel .panel-collapse .panel-body {
        position: relative;
        color: rgba(102, 102, 102, 0.8);
        line-height: 20px;
        padding: 25px 0;
        padding-right: 35px;
        padding-left: 60px;
        border-top: 0;
        background-color: #f5f5f5; }
        @media (min-width: 768px) {
          .question-list .panel .panel-collapse .panel-body {
            padding-right: 40px; } }
        @media (min-width: 992px) {
          .question-list .panel .panel-collapse .panel-body {
            padding-right: 50px; } }
        .question-list .panel .panel-collapse .panel-body .asked {
          position: absolute;
          top: 25px;
          left: 15px;
          display: inline-block;
          vertical-align: top;
          width: 22px;
          height: 22px;
          font-family: "Myriad Pro", sans-serif;
          font-size: 12px;
          font-weight: bold;
          text-align: center;
          font-style: normal;
          margin-right: 20px;
          padding: 2px 0;
          color: #fff;
          border-radius: 50%;
          background-color: #910023; }

.new {
  display: inline-block;
  width: 35px;
  height: 17px;
  font-size: 10px;
  line-height: 17px;
  color: #fff;
  text-align: center;
  background-color: #db073a; }

.qna-list .search-form {
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    .qna-list .search-form {
      margin-bottom: 30px; } }
.qna-list .table-responsive {
  border-color: #e3e3e3 !important;
  margin-bottom: 0; }
  .qna-list .table-responsive .table {
    table-layout: fixed; }
    .qna-list .table-responsive .table thead tr th {
      font-size: 12px !important;
      font-weight: 400;
      padding-top: 25px !important;
      padding-bottom: 25px !important;
      border-color: #e3e3e3 !important;
      background-color: #f5f5f5 !important; }
      @media (min-width: 768px) {
        .qna-list .table-responsive .table thead tr th {
          font-size: 14px !important; } }
      .qna-list .table-responsive .table thead tr th:nth-of-type(1) {
        display: none; }
        @media (min-width: 768px) {
          .qna-list .table-responsive .table thead tr th:nth-of-type(1) {
            display: table-cell; } }
      .qna-list .table-responsive .table thead tr th:nth-of-type(2) {
        border-left: 0;
        width: 70%; }
        @media (min-width: 768px) {
          .qna-list .table-responsive .table thead tr th:nth-of-type(2) {
            width: 430px; } }
      .qna-list .table-responsive .table thead tr th:nth-of-type(3) {
        display: none; }
        @media (min-width: 768px) {
          .qna-list .table-responsive .table thead tr th:nth-of-type(3) {
            display: table-cell;
            border-left: 1px solid #e3e3e3; } }
    .qna-list .table-responsive .table tbody tr td {
      font-size: 12px !important;
      padding-top: 20px !important;
      padding-bottom: 20px !important;
      border-color: #e3e3e3 !important; }
      @media (min-width: 768px) {
        .qna-list .table-responsive .table tbody tr td {
          font-size: 13px !important; } }
      .qna-list .table-responsive .table tbody tr td:nth-of-type(1) {
        display: none; }
        @media (min-width: 768px) {
          .qna-list .table-responsive .table tbody tr td:nth-of-type(1) {
            display: table-cell; } }
      .qna-list .table-responsive .table tbody tr td:nth-of-type(2) {
        width: 70%;
        text-align: left !important;
        border-left: 0;
        padding-left: 18px !important;
        padding-right: 18px !important; }
        @media (min-width: 768px) {
          .qna-list .table-responsive .table tbody tr td:nth-of-type(2) {
            width: 430px;
            border-left: 1px solid #e3e3e3; } }
      .qna-list .table-responsive .table tbody tr td:nth-of-type(3) {
        display: none; }
        @media (min-width: 768px) {
          .qna-list .table-responsive .table tbody tr td:nth-of-type(3) {
            display: table-cell; } }
      .qna-list .table-responsive .table tbody tr td a {
        display: block;
        overflow: hidden;
        font-size: 12px;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: bold;
        color: #777 !important;
        text-decoration: none; }
        @media (min-width: 768px) {
          .qna-list .table-responsive .table tbody tr td a {
            font-size: 13px; } }
        .qna-list .table-responsive .table tbody tr td a .new {
          margin-right: 15px; }
      .qna-list .table-responsive .table tbody tr td.reply {
        padding-left: 36px !important;
        background-image: url(/assets/images/international/reply_bg.gif);
        background-repeat: no-repeat;
        background-position: 20px 20px; }
        .qna-list .table-responsive .table tbody tr td.reply a:before {
          content: "RE :";
          font-weight: 400;
          margin-right: 10px; }
.qna-list .btn-area {
  text-align: center;
  margin-top: 30px; }
  @media (min-width: 768px) {
    .qna-list .btn-area {
      text-align: right;
      margin-top: 20px; } }
  .qna-list .btn-area .btn-primary {
    width: 300px;
    display: inline-block; }
    @media (min-width: 768px) {
      .qna-list .btn-area .btn-primary {
        width: 120px; } }
.qna-list .paging {
  margin-top: 40px; }
  @media (min-width: 768px) {
    .qna-list .paging {
      margin-top: 30px; } }
  @media (min-width: 992px) {
    .qna-list .paging {
      margin-top: 25px; } }

.qna-view .table-wrap {
  border-top: 0; }
  .qna-view .table-wrap .table {
    border-color: #e3e3e3 !important; }
    .qna-view .table-wrap .table tbody tr th {
      font-size: 13px !important;
      color: #666 !important;
      font-weight: 400;
      text-align: left !important;
      vertical-align: top !important;
      padding: 25px 10px 25px 20px !important;
      border-color: #e3e3e3 !important;
      background-color: #f5f5f5; }
      @media (min-width: 768px) {
        .qna-view .table-wrap .table tbody tr th {
          font-size: 14px !important; } }
      .qna-view .table-wrap .table tbody tr th.content {
        vertical-align: middle !important; }
    .qna-view .table-wrap .table tbody tr td {
      font-size: 13px !important;
      color: #777 !important;
      font-weight: 400;
      text-align: left !important;
      padding: 25px 10px 25px 20px !important;
      border-color: #e3e3e3 !important; }
      @media (min-width: 768px) {
        .qna-view .table-wrap .table tbody tr td {
          font-size: 14px !important; } }
      .qna-view .table-wrap .table tbody tr td .new {
        margin-left: 10px; }
      .qna-view .table-wrap .table tbody tr td.content {
        line-height: 24px !important;
        border: 0;
        display: inline-block;
        min-height: 370px; }
        @media (min-width: 768px) {
          .qna-view .table-wrap .table tbody tr td.content {
            min-height: 520px; } }
      .qna-view .table-wrap .table tbody tr td.attach a {
        display: inline-block;
        color: #333 !important;
        font-weight: bold; }
        .qna-view .table-wrap .table tbody tr td.attach a:after {
          content: ",";
          margin-right: 5px; }
        .qna-view .table-wrap .table tbody tr td.attach a:last-child:after {
          content: ""; }
        .qna-view .table-wrap .table tbody tr td.attach a:first-child:before {
          display: inline-block;
          content: "\E80F";
          font-family: "fontello";
          margin-right: 5px; }
.qna-view .btn-area {
  text-align: center;
  margin-top: 30px; }
  @media (min-width: 768px) {
    .qna-view .btn-area {
      text-align: right;
      margin-top: 20px; } }
  .qna-view .btn-area .btn-primary {
    width: 300px;
    display: inline-block; }
    @media (min-width: 768px) {
      .qna-view .btn-area .btn-primary {
        width: 120px; } }

.qna-write .table-wrap .table {
  border: 0 !important; }
  .qna-write .table-wrap .table tbody tr th {
    font-size: 13px !important;
    color: #666 !important;
    font-weight: 400;
    text-align: left !important;
    padding-left: 20px !important;
    padding-right: 10px !important;
    border-color: #e3e3e3 !important;
    background-color: #f5f5f5; }
    .qna-write .table-wrap .table tbody tr th label {
      margin-bottom: 0;
      font-weight: 300; }
    @media (min-width: 768px) {
      .qna-write .table-wrap .table tbody tr th {
        font-size: 14px !important; } }
    .qna-write .table-wrap .table tbody tr th.attach {
      vertical-align: top !important; }
      @media (min-width: 768px) {
        .qna-write .table-wrap .table tbody tr th.attach {
          vertical-align: middle !important; } }
    .qna-write .table-wrap .table tbody tr th.content {
      vertical-align: top !important; }
  .qna-write .table-wrap .table tbody tr td {
    font-size: 13px !important;
    color: #777 !important;
    font-weight: 400;
    text-align: left !important;
    padding: 8px 10px 8px 15px !important;
    border-color: #e3e3e3 !important;
    border-right: 0 !important; }
    @media (min-width: 768px) {
      .qna-write .table-wrap .table tbody tr td {
        font-size: 14px !important;
        padding-left: 20px !important;
        padding-right: 44px !important; } }
    @media (min-width: 992px) {
      .qna-write .table-wrap .table tbody tr td {
        padding-left: 30px !important;
        padding-right: 20px !important; } }
    .qna-write .table-wrap .table tbody tr td .form-group .form-control {
      width: 100%;
      height: 44px; }
    .qna-write .table-wrap .table tbody tr td.attach {
      font-size: 0; }
      .qna-write .table-wrap .table tbody tr td.attach .form-group .form-control {
        font-size: 13px; }
        @media (min-width: 768px) {
          .qna-write .table-wrap .table tbody tr td.attach .form-group .form-control {
            width: 380px;
            display: inline-block;
            font-size: 14px; } }
        @media (min-width: 992px) {
          .qna-write .table-wrap .table tbody tr td.attach .form-group .form-control {
            width: 624px; } }
        @media (min-width: 1280px) {
          .qna-write .table-wrap .table tbody tr td.attach .form-group .form-control {
            width: 554px; } }
      .qna-write .table-wrap .table tbody tr td.attach .btn-default {
        margin-top: 5px;
        width: 100%;
        max-width: 190px;
        height: 44px !important;
        font-size: 14px; }
        @media (min-width: 768px) {
          .qna-write .table-wrap .table tbody tr td.attach .btn-default {
            display: inline-block;
            width: 142px;
            margin-top: 0;
            margin-left: 9px; } }
    .qna-write .table-wrap .table tbody tr td.password .form-group .form-control {
      width: 220px; }
    .qna-write .table-wrap .table tbody tr td.content {
      padding-bottom: 15px !important; }
      @media (min-width: 768px) {
        .qna-write .table-wrap .table tbody tr td.content {
          padding-top: 20px !important;
          padding-bottom: 20px !important; } }
      .qna-write .table-wrap .table tbody tr td.content .form-group textarea {
        width: 100%;
        height: 300px; }
        @media (min-width: 768px) {
          .qna-write .table-wrap .table tbody tr td.content .form-group textarea {
            height: 395px; } }
.qna-write .btn-area {
  text-align: center;
  margin-top: 30px; }
  @media (min-width: 768px) {
    .qna-write .btn-area {
      text-align: right;
      margin-top: 20px; } }
  .qna-write .btn-area .btn-primary {
    width: 300px;
    display: inline-block; }
    @media (min-width: 768px) {
      .qna-write .btn-area .btn-primary {
        width: 120px; } }

.counseling-service .page-content .counseling {
  margin-top: 100px; }
.counseling-service .page-content .group-sessions {
  margin-top: 100px; }
.counseling-service .page-content .btn {
  width: 300px; }
  @media (min-width: 992px) {
    .counseling-service .page-content .btn {
      margin-top: 5px; } }
  .counseling-service .page-content .btn.btn-default:before {
    display: inline-block;
    content: "\E801";
    font-family: "fontello";
    margin-right: 10px; }
  .counseling-service .page-content .btn.btn-primary:before {
    display: inline-block;
    content: "\E810";
    font-family: "fontello";
    margin-right: 10px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg); }

.career .tabs {
  margin-top: 60px !important;
  margin-bottom: 60px !important; }
.career .search-form {
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    .career .search-form {
      margin-bottom: 30px; } }
.career .table-responsive {
  border-color: #e3e3e3 !important;
  margin-bottom: 0; }
  .career .table-responsive .table {
    table-layout: fixed; }
    .career .table-responsive .table thead tr th {
      font-size: 12px !important;
      font-weight: 400;
      padding-top: 25px !important;
      padding-bottom: 25px !important;
      border-color: #e3e3e3 !important;
      background-color: #f5f5f5 !important; }
      @media (min-width: 768px) {
        .career .table-responsive .table thead tr th {
          font-size: 14px !important; } }
      .career .table-responsive .table thead tr th:nth-of-type(1) {
        display: none; }
        @media (min-width: 768px) {
          .career .table-responsive .table thead tr th:nth-of-type(1) {
            display: table-cell; } }
      .career .table-responsive .table thead tr th:nth-of-type(2) {
        border-left: 0;
        width: 70%; }
        @media (min-width: 768px) {
          .career .table-responsive .table thead tr th:nth-of-type(2) {
            width: 430px; } }
      .career .table-responsive .table thead tr th:nth-of-type(3) {
        display: none; }
        @media (min-width: 768px) {
          .career .table-responsive .table thead tr th:nth-of-type(3) {
            display: table-cell;
            border-left: 1px solid #e3e3e3; } }
    .career .table-responsive .table tbody tr td {
      font-size: 12px !important;
      padding-top: 20px !important;
      padding-bottom: 20px !important;
      border-color: #e3e3e3 !important; }
      @media (min-width: 768px) {
        .career .table-responsive .table tbody tr td {
          font-size: 13px !important; } }
      .career .table-responsive .table tbody tr td:nth-of-type(1) {
        display: none; }
        @media (min-width: 768px) {
          .career .table-responsive .table tbody tr td:nth-of-type(1) {
            display: table-cell; } }
      .career .table-responsive .table tbody tr td:nth-of-type(2) {
        width: 70%;
        text-align: left !important;
        border-left: 0;
        padding-left: 18px !important;
        padding-right: 18px !important; }
        @media (min-width: 768px) {
          .career .table-responsive .table tbody tr td:nth-of-type(2) {
            width: 430px;
            border-left: 1px solid #e3e3e3; } }
      .career .table-responsive .table tbody tr td:nth-of-type(3) {
        display: none; }
        @media (min-width: 768px) {
          .career .table-responsive .table tbody tr td:nth-of-type(3) {
            display: table-cell; } }
      .career .table-responsive .table tbody tr td a {
        display: block;
        overflow: hidden;
        font-size: 12px;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: bold;
        color: #777 !important;
        text-decoration: none; }
        @media (min-width: 768px) {
          .career .table-responsive .table tbody tr td a {
            font-size: 13px; } }
        .career .table-responsive .table tbody tr td a .new {
          margin-right: 15px; }
      .career .table-responsive .table tbody tr td.reply {
        padding-left: 36px !important;
        background-image: url(/assets/images/international/reply_bg.gif);
        background-repeat: no-repeat;
        background-position: 20px 20px; }
        .career .table-responsive .table tbody tr td.reply a:before {
          content: "RE :";
          font-weight: 400;
          margin-right: 10px; }
.career .paging {
  margin-top: 40px; }

.announcements .tabs {
  margin-top: 60px !important;
  margin-bottom: 60px !important; }
  .announcements .tabs .dropdown-menu .nav-tabs li a {
    padding-left: 5px;
    padding-right: 5px; }
.announcements .search-form {
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    .announcements .search-form {
      margin-bottom: 30px; } }
.announcements .table-responsive {
  border-color: #e3e3e3 !important;
  margin-bottom: 0; }
  .announcements .table-responsive .table {
    table-layout: fixed; }
    .announcements .table-responsive .table thead tr th {
      font-size: 13px !important;
      font-weight: 400;
      padding-top: 25px !important;
      padding-bottom: 25px !important;
      border-color: #e3e3e3 !important;
      background-color: #f5f5f5 !important; }
      @media (min-width: 768px) {
        .announcements .table-responsive .table thead tr th {
          font-size: 14px !important; } }
      .announcements .table-responsive .table thead tr th:nth-of-type(1) {
        display: none; }
        @media (min-width: 768px) {
          .announcements .table-responsive .table thead tr th:nth-of-type(1) {
            display: table-cell; } }
      .announcements .table-responsive .table thead tr th:nth-of-type(2) {
        border-left: 0; }
      .announcements .table-responsive .table thead tr th:nth-of-type(3) {
        border-right: 0;
        width: 70%; }
        @media (min-width: 768px) {
          .announcements .table-responsive .table thead tr th:nth-of-type(3) {
            width: 430px; } }
        @media (min-width: 992px) {
          .announcements .table-responsive .table thead tr th:nth-of-type(3) {
            width: 520px; } }
      .announcements .table-responsive .table thead tr th:nth-of-type(4) {
        display: none; }
        @media (min-width: 768px) {
          .announcements .table-responsive .table thead tr th:nth-of-type(4) {
            display: table-cell; } }
    .announcements .table-responsive .table tbody tr td {
      font-size: 13px !important;
      padding-top: 20px !important;
      padding-bottom: 20px !important;
      border-color: #e3e3e3 !important; }
      @media (min-width: 768px) {
        .announcements .table-responsive .table tbody tr td {
          font-size: 14px !important; } }
      .announcements .table-responsive .table tbody tr td:nth-of-type(1) {
        display: none; }
        @media (min-width: 768px) {
          .announcements .table-responsive .table tbody tr td:nth-of-type(1) {
            display: table-cell; } }
      .announcements .table-responsive .table tbody tr td:nth-of-type(2) {
        border-left: 0; }
      .announcements .table-responsive .table tbody tr td:nth-of-type(3) {
        width: 70%;
        text-align: left !important;
        border-right: 0;
        padding-left: 18px !important;
        padding-right: 18px !important; }
        @media (min-width: 768px) {
          .announcements .table-responsive .table tbody tr td:nth-of-type(3) {
            width: 430px; } }
        @media (min-width: 992px) {
          .announcements .table-responsive .table tbody tr td:nth-of-type(3) {
            width: 520px; } }
      .announcements .table-responsive .table tbody tr td:nth-of-type(4) {
        display: none; }
        @media (min-width: 768px) {
          .announcements .table-responsive .table tbody tr td:nth-of-type(4) {
            display: table-cell; } }
      .announcements .table-responsive .table tbody tr td a {
        display: block;
        overflow: hidden;
        font-size: 13px;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 300;
        color: #777 !important;
        text-decoration: none; }
        @media (min-width: 768px) {
          .announcements .table-responsive .table tbody tr td a {
            font-size: 14px; } }
.announcements .paging {
  margin-top: 40px; }

/*# sourceMappingURL=international.css.map */
