@import "common";

.getting-prepared {
    padding-bottom: 100px;
    @media(min-width: $sm) {
        padding-bottom: 130px;
    }
    @media(min-width: $md) {
        padding-bottom: 165px;
    }
    .page-content {
        .ready-list {
            ol {
                li {
                    &:last-child {
                        .details {
                            margin-bottom: 0;
                        }
                    }
                    @media(min-width: $sm) {
                        &:nth-of-type(7) {margin-bottom: 0;}
                        &:nth-of-type(8) {margin-bottom: 0;}
                    }
                    h4 {
                        font-size: 13px;
                        color: #fff;
                        font-weight: bold;
                        text-align: center;
                        line-height: 43px;
                        background-color: #77c27c;
                    }
                    .details {
                        display: table;
                        width: 100%;
                        text-align: center;
                        margin-bottom: 50px;
                        @media(min-width: $sm) {
                            margin-bottom: 60px;
                        }
                        > div {
                            display: table-cell;
                            height: 135px;
                            vertical-align: middle;
                            border: 1px solid #e8e8e8;
                            p {
                                font-size: 13px;
                                color: #333;
                                line-height: 20px;
                                span {
                                    position: relative;
                                    display: inline-block;
                                    &:after {
                                        position: absolute;
                                        bottom: 1px;
                                        left: 0;
                                        content: " ";
                                        width: 100%;
                                        border-top: 1px solid #adadad;
                                        border-bottom: 1px solid #d8d8d8;
                                    }
                                }
                            }
                            small {
                                display: inline-block;
                                font-size: 12px;
                                color: #a2a2a2;
                                line-height: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}