h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

body {
  padding-top: 0;
  background-color: #e9e9e9; }

#header {
  background-color: transparent; }
  #header .logo a {
    background-image: url(/assets/images/logo_white_xs.png); }
  #header .btn-nav-open {
    color: #fff; }
  @media (min-width: 768px) {
    #header .logo a {
      background-image: url(/assets/images/logo_white_sm.png); } }
  @media (min-width: 1280px) {
    #header .logo a {
      background-image: url(/assets/images/logo_white_lg.png); }
    #header .nav > ul > li > a {
      color: #fff; } }

body.nav-expanded #header,
body.scrolled #header {
  background-color: #fff; }
  body.nav-expanded #header .logo a,
  body.scrolled #header .logo a {
    background-image: url(/assets/images/logo_crimson_xs.png); }
  body.nav-expanded #header .btn-nav-open,
  body.scrolled #header .btn-nav-open {
    color: #333; }
@media (min-width: 768px) {
  body.nav-expanded #header .logo a,
  body.scrolled #header .logo a {
    background-image: url(/assets/images/logo_crimson_sm.png); } }
@media (min-width: 1280px) {
  body.nav-expanded #header .logo a,
  body.scrolled #header .logo a {
    background-image: url(/assets/images/logo_crimson_lg.png); }
  body.nav-expanded #header .nav > ul > li > a,
  body.scrolled #header .nav > ul > li > a {
    color: inherit; }
  body.nav-expanded #header .nav > ul > li.active > a,
  body.scrolled #header .nav > ul > li.active > a {
    color: #920326; } }

#visual .carousel-inner .item {
  height: 426px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  #visual .carousel-inner .item .carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    bottom: auto;
    z-index: auto;
    margin: 0 auto;
    padding-top: initial;
    padding-bottom: initial;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: none;
    max-width: 320px; }
#visual .carousel-inner .item-1 .carousel-caption {
  position: relative;
  top: 150px;
  text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.12); }
  #visual .carousel-inner .item-1 .carousel-caption h2 {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold; }
  #visual .carousel-inner .item-1 .carousel-caption p {
    font-size: 13px;
    line-height: 16px; }
#visual .carousel-inner .item-2 .carousel-caption {
  padding-top: 75px;
  max-width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75); }
  #visual .carousel-inner .item-2 .carousel-caption .rank-logo {
    margin: 0 auto;
    width: 128px; }
  #visual .carousel-inner .item-2 .carousel-caption h2 {
    margin-top: 15px;
    font-size: 17px;
    line-height: 20px; }
  #visual .carousel-inner .item-2 .carousel-caption ul {
    overflow: hidden;
    margin: 30px auto 0;
    max-width: 300px; }
    #visual .carousel-inner .item-2 .carousel-caption ul li {
      float: left;
      padding-left: 5px;
      padding-right: 5px;
      width: 33.33%; }
      #visual .carousel-inner .item-2 .carousel-caption ul li:nth-of-type(1), #visual .carousel-inner .item-2 .carousel-caption ul li:nth-of-type(3) {
        padding-top: 30px; }
      #visual .carousel-inner .item-2 .carousel-caption ul li figure figcaption {
        margin-top: 15px;
        font-size: 12px;
        line-height: 15px; }
@media (min-width: 768px) {
  #visual .carousel-inner .item {
    height: 558px; }
  #visual .carousel-inner .item-1 .carousel-caption {
    top: 200px;
    max-width: 476px; }
    #visual .carousel-inner .item-1 .carousel-caption h2 {
      margin-bottom: 30px;
      font-size: 46px;
      line-height: 50px; }
    #visual .carousel-inner .item-1 .carousel-caption p {
      font-size: 16px;
      line-height: 20px; }
  #visual .carousel-inner .item-2 .carousel-caption {
    position: relative;
    top: 87px;
    padding-top: 20px;
    width: 710px;
    height: 413px; }
    #visual .carousel-inner .item-2 .carousel-caption .rank-logo {
      width: 180px; }
    #visual .carousel-inner .item-2 .carousel-caption h2 {
      margin-top: 25px;
      font-size: 30px;
      line-height: 1.2em; }
    #visual .carousel-inner .item-2 .carousel-caption ul {
      margin-top: 35px;
      max-width: 640px; }
      #visual .carousel-inner .item-2 .carousel-caption ul li:nth-of-type(1), #visual .carousel-inner .item-2 .carousel-caption ul li:nth-of-type(3) {
        padding-top: 0; }
      #visual .carousel-inner .item-2 .carousel-caption ul li figure .img-responsive {
        margin: 0 auto;
        max-width: 125px; }
      #visual .carousel-inner .item-2 .carousel-caption ul li figure figcaption {
        margin-top: 25px;
        font-size: 16px;
        line-height: 20px; }
    #visual .carousel-inner .item-2 .carousel-caption .more {
      display: inline-block;
      margin-top: 20px;
      color: #fff;
      font-size: 14px;
      line-height: 20px;
      text-decoration: underline; } }
@media (min-width: 1280px) {
  #visual .carousel-inner .item {
    height: 920px; }
  #visual .carousel-inner .item-1 .carousel-caption {
    top: 316px;
    padding-top: 50px;
    max-width: 852px;
    height: 216px; }
    #visual .carousel-inner .item-1 .carousel-caption small {
      position: absolute;
      top: -25px;
      left: 0;
      font-family: "Times New Roman", serif;
      font-size: 16px;
      line-height: 20px; }
    #visual .carousel-inner .item-1 .carousel-caption h2 {
      margin-bottom: 40px;
      font-size: 48px; }
    #visual .carousel-inner .item-1 .carousel-caption .bar {
      position: absolute;
      background-color: #fff; }
      #visual .carousel-inner .item-1 .carousel-caption .bar.top, #visual .carousel-inner .item-1 .carousel-caption .bar.left {
        top: 0;
        left: 0;
        box-shadow: 1px 1px 0 rgba(66, 84, 127, 0.5); }
      #visual .carousel-inner .item-1 .carousel-caption .bar.bottom, #visual .carousel-inner .item-1 .carousel-caption .bar.right {
        bottom: 0;
        right: 0;
        box-shadow: -1px -1px 0 rgba(66, 84, 127, 0.5); }
      #visual .carousel-inner .item-1 .carousel-caption .bar.top, #visual .carousel-inner .item-1 .carousel-caption .bar.bottom {
        width: 633px;
        height: 1px; }
      #visual .carousel-inner .item-1 .carousel-caption .bar.left, #visual .carousel-inner .item-1 .carousel-caption .bar.right {
        width: 1px;
        height: 138px; }
  #visual .carousel-inner .item-2 .carousel-caption {
    top: 175px;
    padding-top: 55px;
    width: 1170px;
    height: 570px; }
    #visual .carousel-inner .item-2 .carousel-caption h2 {
      margin-top: 30px;
      font-size: 36px; }
    #visual .carousel-inner .item-2 .carousel-caption ul {
      margin-top: 70px;
      max-width: 940px; }
      #visual .carousel-inner .item-2 .carousel-caption ul li figure .img-responsive {
        max-width: 100%; }
      #visual .carousel-inner .item-2 .carousel-caption ul li figure figcaption {
        font-size: 18px;
        line-height: 22px; }
    #visual .carousel-inner .item-2 .carousel-caption .more {
      margin-top: 60px; } }
#visual .carousel-indicators {
  bottom: 15px; }
  #visual .carousel-indicators > li {
    margin: 0;
    width: 12px;
    height: 12px;
    background-color: #fff; }
    #visual .carousel-indicators > li.active {
      background-color: #920326;
      border-color: #920326; }
    #visual .carousel-indicators > li + li {
      margin-left: 3px; }
  @media (min-width: 768px) {
    #visual .carousel-indicators {
      bottom: 25px; } }

#community {
  margin: 10px auto 0; }
  #community #sns {
    margin-bottom: 25px; }
    #community #sns > ul {
      overflow: hidden;
      margin: -5px; }
      #community #sns > ul > li {
        float: left;
        padding: 5px;
        width: 50%; }
        #community #sns > ul > li > a {
          display: block;
          height: 123px;
          text-align: center;
          background-color: blue;
          font-size: 14px;
          font-weight: bold;
          color: #fff;
          text-decoration: none; }
          #community #sns > ul > li > a i {
            display: block;
            height: 85px;
            background-repeat: no-repeat;
            background-position: 50% 50%; }
          #community #sns > ul > li > a.announcements {
            background-color: #9a1736; }
            #community #sns > ul > li > a.announcements i {
              background-image: url(/assets/images/main/ico_microphone.png);
              background-position: 50% 30px; }
          #community #sns > ul > li > a.career {
            background-color: #8e8f8f; }
            #community #sns > ul > li > a.career i {
              background-image: url(/assets/images/main/ico_career.png);
              background-size: auto 51px;
              background-position: 50% 26px; }
          #community #sns > ul > li > a.kakaotalk {
            background-color: #fee900; }
            #community #sns > ul > li > a.kakaotalk i {
              height: 100%;
              background-image: url(/assets/images/main/ico_kakaotalk_xs.png);
              background-position: 50% 18px; }
          #community #sns > ul > li > a.buddy {
            background-color: #5599e2; }
            #community #sns > ul > li > a.buddy i {
              background-image: url(/assets/images/main/ico_buddy.png);
              background-size: auto 45px;
              background-position: 50% 27px; }
  #community #upcoming h4 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px; }
  #community #upcoming ol li a {
    display: block;
    padding: 15px 10px;
    text-decoration: none;
    background-color: #fff; }
    #community #upcoming ol li a .date {
      float: left;
      margin-right: 10px;
      width: 35px;
      height: 40px;
      background-color: #920326;
      color: #fff;
      text-align: center;
      line-height: 14px; }
      #community #upcoming ol li a .date .day {
        display: block;
        margin-top: 7px;
        font-size: 16px; }
      #community #upcoming ol li a .date .month {
        display: block;
        font-size: 10px;
        font-family: "Tahoma", sans-serif; }
    #community #upcoming ol li a h5 {
      color: #333;
      font-weight: bold;
      font-size: 12px;
      line-height: 20px;
      min-height: 40px; }
    #community #upcoming ol li a p {
      margin-top: 15px;
      color: rgba(102, 102, 102, 0.7);
      font-size: 12px;
      line-height: 16px;
      font-family: "Tahoma", sans-serif; }
  #community #upcoming ol li + li {
    margin-top: 5px; }
  #community #upcoming .more {
    margin-top: 10px;
    text-align: center; }
    #community #upcoming .more a {
      font-size: 13px;
      line-height: 18px;
      color: #920326;
      font-style: italic;
      text-decoration: none; }
      #community #upcoming .more a:after {
        margin-left: 5px;
        font-family: "fontello";
        content: "\E806"; }
  @media (min-width: 768px) {
    #community {
      margin: auto;
      max-width: none; }
      #community #announcements {
        overflow: hidden;
        margin-top: 20px;
        padding: 25px 20px;
        background-color: #fff; }
        #community #announcements h4 {
          position: relative;
          margin-bottom: 30px;
          height: 30px;
          font-size: 18px;
          border-bottom: 2px solid #f0f0f0; }
          #community #announcements h4 .bar {
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 24px;
            height: 2px;
            border-right: 6px solid #fff;
            background-color: #920326; }
        #community #announcements figure > p {
          float: left;
          width: 345px;
          height: 185px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: 50% 50%; }
        #community #announcements figure > figcaption {
          margin-left: 370px; }
          #community #announcements figure > figcaption h5 {
            margin-bottom: 25px;
            font-size: 16px;
            line-height: 24px; }
            #community #announcements figure > figcaption h5 a {
              color: #333; }
          #community #announcements figure > figcaption ul {
            margin-bottom: 35px; }
            #community #announcements figure > figcaption ul li {
              display: inline-block;
              font-size: 12px;
              color: #999;
              font-family: "Tahoma", sans-serif; }
              #community #announcements figure > figcaption ul li i {
                margin-right: 5px;
                color: rgba(59, 59, 59, 0.7); }
              #community #announcements figure > figcaption ul li + li {
                margin-left: 25px; }
          #community #announcements figure > figcaption p {
            font-size: 13px;
            line-height: 20px;
            color: #999;
            font-family: "Tahome", sans-serif; }
      #community #events {
        margin-top: 20px;
        height: 282px;
        background-color: #fff; }
        #community #events .calendar {
          float: left;
          width: 290px; }
          #community #events .calendar .ui-datepicker {
            padding: 0 15px 5px;
            width: 100%; }
            #community #events .calendar .ui-datepicker .ui-datepicker-header {
              margin-left: -15px;
              margin-right: -15px;
              padding-top: 15px;
              padding-bottom: 0;
              height: 60px;
              font-size: 18px;
              font-weight: bold;
              background-color: #920326;
              color: #fff;
              line-height: 30px; }
              #community #events .calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-prev,
              #community #events .calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-next {
                top: 18px;
                width: 24px;
                height: 24px;
                border: 2px solid #fff;
                border-radius: 50%;
                text-decoration: none;
                cursor: pointer;
                text-align: center;
                line-height: 16px; }
                #community #events .calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-prev:before,
                #community #events .calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-next:before {
                  font-family: "fontello";
                  color: #fff;
                  font-weight: normal;
                  font-size: 12px; }
              #community #events .calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
                left: 20px; }
                #community #events .calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-prev:before {
                  content: "\F007"; }
              #community #events .calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-next {
                right: 20px; }
                #community #events .calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-next:before {
                  content: "\F006"; }
            #community #events .calendar .ui-datepicker .ui-datepicker-calendar {
              margin-top: 10px;
              margin-bottom: 0;
              height: 200px;
              background-color: #fff; }
              #community #events .calendar .ui-datepicker .ui-datepicker-calendar th {
                font-size: 15px;
                color: #920326; }
              #community #events .calendar .ui-datepicker .ui-datepicker-calendar td a {
                padding: .1em;
                text-align: center;
                font-size: 15px;
                color: #9099b7; }
        #community #events .article.first {
          padding: 10px;
          margin-left: 290px;
          background-color: #fff; }
          #community #events .article.first figure > p {
            height: 137px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%; }
          #community #events .article.first figure > figcaption {
            padding: 20px 20px 10px 20px;
            height: 122px;
            background-color: #920326; }
            #community #events .article.first figure > figcaption .date {
              float: left;
              margin-right: 15px;
              width: 25px;
              height: 40px;
              background-color: #920326;
              color: #fff;
              text-align: center;
              line-height: 20px; }
              #community #events .article.first figure > figcaption .date .day {
                display: block;
                font-size: 20px; }
              #community #events .article.first figure > figcaption .date .month {
                display: block;
                font-size: 10px;
                font-family: "Tahoma", sans-serif; }
            #community #events .article.first figure > figcaption h5 {
              font-weight: bold;
              font-size: 13px;
              line-height: 20px;
              min-height: 40px; }
              #community #events .article.first figure > figcaption h5 a {
                color: #fff; }
            #community #events .article.first figure > figcaption p {
              margin-top: 5px;
              color: rgba(255, 255, 255, 0.7);
              font-size: 12px;
              line-height: 20px;
              font-family: "Tahoma", sans-serif; }
      #community #sns {
        margin-top: 20px;
        margin-bottom: 20px; }
        #community #sns > ul {
          margin-top: 0;
          margin-bottom: 0;
          margin-left: -10px;
          margin-right: -10px; }
          #community #sns > ul > li {
            padding: 0 10px;
            width: 33.33%; }
            #community #sns > ul > li > a {
              height: 208px;
              font-size: 16px; }
              #community #sns > ul > li > a i {
                height: 130px; }
              #community #sns > ul > li > a.buddy i {
                background-size: auto 53px;
                background-position: 50% 57px; }
              #community #sns > ul > li > a.career i {
                background-size: auto 62px;
                background-position: 50% 50px; }
              #community #sns > ul > li > a.kakaotalk i {
                background-image: url(/assets/images/main/ico_kakaotalk_sm.png);
                background-position: 50% 45px; }
            #community #sns > ul > li:nth-of-type(2) {
              position: relative;
              left: 66.66%; }
            #community #sns > ul > li:nth-of-type(4) {
              position: relative;
              margin-left: -66.66%; } }
  @media (min-width: 1280px) {
    #community {
      padding-top: 40px;
      padding-bottom: 40px; }
      #community .container {
        position: relative;
        height: 710px; }
      #community #announcements {
        margin-top: 0;
        margin-left: 310px;
        padding: 40px 35px 55px;
        height: 450px; }
        #community #announcements h4 {
          margin-bottom: 45px;
          height: 40px;
          font-size: 24px;
          border-bottom-width: 4px; }
          #community #announcements h4 .bar {
            bottom: -4px;
            width: 33px;
            height: 4px;
            border-right-width: 4px; }
        #community #announcements figure > p {
          width: 392px;
          height: 272px; }
        #community #announcements figure > figcaption {
          margin-left: 420px; }
          #community #announcements figure > figcaption h5 {
            padding-top: 75px;
            font-size: 20px;
            line-height: 28px; }
          #community #announcements figure > figcaption ul {
            margin-bottom: 30px; }
            #community #announcements figure > figcaption ul li + li {
              margin-left: 30px; }
          #community #announcements figure > figcaption p {
            font-size: 13px;
            line-height: 18px; }
      #community #events {
        position: absolute;
        top: 0;
        left: 15px;
        margin-top: 0;
        width: 300px;
        height: 710px; }
        #community #events .calendar {
          float: none;
          width: 100%; }
        #community #events .article.first {
          margin-left: 0; }
          #community #events .article.first figure > p {
            height: 150px; }
          #community #events .article.first figure > figcaption {
            padding: 20px 15px;
            height: 130px; }
            #community #events .article.first figure > figcaption p {
              margin-top: 10px; }
        #community #events .article.second {
          display: block;
          padding: 10px;
          text-decoration: none;
          background-color: #fff; }
          #community #events .article.second .date {
            float: left;
            margin-right: 10px;
            width: 52px;
            height: 48px;
            background-color: #920326;
            color: #fff;
            text-align: center; }
            #community #events .article.second .date .day {
              display: block;
              margin-top: 8px;
              font-size: 20px;
              line-height: 20px; }
            #community #events .article.second .date .month {
              display: block;
              font-size: 10px;
              line-height: 14px;
              font-family: "Tahoma", sans-serif; }
          #community #events .article.second h5 {
            font-size: 14px;
            line-height: 20px; }
            #community #events .article.second h5 a {
              color: #333; }
          #community #events .article.second p {
            margin-top: 3px;
            color: rgba(102, 102, 102, 0.7);
            font-size: 12px;
            line-height: 20px;
            font-family: "Tahoma", sans-serif; }
        #community #events .more {
          position: absolute;
          right: 25px;
          bottom: 20px; }
          #community #events .more a {
            font-size: 12px;
            line-height: 18px;
            color: #920326;
            font-style: italic;
            text-decoration: none; }
            #community #events .more a:after {
              margin-left: 5px;
              font-family: "fontello";
              content: "\E806"; }
            #community #events .more a:hover span, #community #events .more a:focus span {
              text-decoration: underline; }
      #community #sns {
        margin-top: 10px;
        margin-bottom: 0;
        margin-left: 310px;
        width: 860px; }
        #community #sns > ul {
          margin-left: -5px;
          margin-right: -5px; }
          #community #sns > ul > li {
            padding-left: 5px;
            padding-right: 5px; }
            #community #sns > ul > li > a {
              height: 250px; }
              #community #sns > ul > li > a i {
                height: 150px; }
              #community #sns > ul > li > a.buddy i {
                background-size: auto 53px;
                background-position: 50% 78px; }
              #community #sns > ul > li > a.career i {
                background-size: auto 62px;
                background-position: 50% 69px; }
              #community #sns > ul > li > a.kakaotalk i {
                background-image: url(/assets/images/main/ico_kakaotalk.png);
                background-position: 50% 66px; } }

#statistics {
  padding-top: 60px;
  padding-bottom: 40px;
  background-image: url(/assets/images/main/bg_statistics.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  color: #fff; }
  #statistics h4 {
    margin-bottom: 75px;
    font-size: 30px;
    text-align: center; }
  #statistics h5 {
    font-size: 16px;
    line-height: 22px;
    text-align: center; }
  #statistics .note {
    font-size: 12px;
    line-height: 20px;
    text-align: center; }
    #statistics .note:before {
      content: "*"; }
  #statistics .contries {
    position: relative;
    margin-bottom: 110px;
    margin-left: auto;
    margin-right: auto;
    max-width: 710px; }
    #statistics .contries h5 {
      margin-bottom: 50px; }
    #statistics .contries .list {
      position: absolute;
      top: 105px;
      left: 50px;
      padding: 15px;
      width: 222px;
      height: 175px;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 3px; }
      #statistics .contries .list > ul > li > a {
        font-size: 12px;
        line-height: 24px;
        color: #333;
        font-family: "Tahoma", sans-serif; }
      #statistics .contries .list > ul > li > div {
        display: none;
        overflow: auto;
        position: absolute;
        top: 15px;
        right: 15px;
        width: 85px;
        height: 145px; }
        #statistics .contries .list > ul > li > div ul > li > a {
          display: block;
          padding-top: 5px;
          padding-bottom: 5px;
          font-size: 12px;
          line-height: 14px;
          color: #666;
          font-family: "Tahoma", sans-serif; }
        #statistics .contries .list > ul > li > div .mCSB_inside > .mCSB_container {
          margin-right: 10px; }
      #statistics .contries .list > ul > li.active > a {
        font-weight: bold;
        text-decoration: none;
        color: #920326; }
      #statistics .contries .list > ul > li.active > div {
        display: block; }
    #statistics .contries .map {
      margin: 0 auto;
      width: 580px;
      height: 200px; }
      #statistics .contries .map .asia {
        background-image: url(/assets/images/main/img_map_asia.png); }
      #statistics .contries .map .africa {
        background-image: url(/assets/images/main/img_map_africa.png); }
      #statistics .contries .map .north-america {
        background-image: url(/assets/images/main/img_map_north_america.png); }
      #statistics .contries .map .south-america {
        background-image: url(/assets/images/main/img_map_south_america.png); }
      #statistics .contries .map .europe {
        background-image: url(/assets/images/main/img_map_europe.png); }
      #statistics .contries .map .australia {
        background-image: url(/assets/images/main/img_map_australia.png); }
      #statistics .contries .map > div {
        display: none;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: 100% 100%; }
        #statistics .contries .map > div.active {
          display: block; }
  #statistics .students {
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    max-width: 710px; }
    #statistics .students h5 {
      margin-bottom: 30px; }
    #statistics .students ol {
      display: table;
      margin: 0 auto;
      width: 450px;
      table-layout: fixed; }
      #statistics .students ol li {
        position: relative;
        display: table-cell;
        text-align: center;
        vertical-align: bottom; }
        #statistics .students ol li dl {
          margin-bottom: 30px; }
          #statistics .students ol li dl dt {
            position: absolute;
            bottom: 0;
            width: 100%;
            font-size: 13px;
            line-height: 16px;
            color: rgba(255, 255, 255, 0.7);
            font-family: "Tahoma", sans-serif;
            font-weight: normal; }
          #statistics .students ol li dl .count {
            margin-bottom: 15px;
            font-size: 18px; }
          #statistics .students ol li dl .person {
            opacity: .75; }
            #statistics .students ol li dl .person .img-responsive {
              margin: 0 auto; }
        #statistics .students ol li:nth-of-type(1) dl .person .img-responsive {
          height: 60px; }
        #statistics .students ol li:nth-of-type(2) dl .person .img-responsive {
          height: 72px; }
        #statistics .students ol li:nth-of-type(3) dl .person .img-responsive {
          height: 97px; }
        #statistics .students ol li:last-child dl .person {
          opacity: .9; }
  @media (min-width: 1280px) {
    #statistics .contries {
      margin-bottom: 70px; }
      #statistics .contries .list {
        top: 110px;
        left: 0; }
      #statistics .contries .map {
        width: 100%; }
    #statistics .students {
      margin-bottom: 70px; }
      #statistics .students h5 {
        margin-bottom: 50px; } }

#contact {
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 auto; }
  #contact h5 {
    font-size: 16px;
    line-height: 20px;
    color: #333;
    font-weight: bold; }
  #contact h6 {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 16px;
    color: #b8485e; }
  #contact address {
    font-family: "Tahoma", sans-serif; }
  #contact dl dt, #contact dl dd {
    font-size: 12px;
    line-height: 18px;
    color: #333;
    font-family: "Tahoma", sans-serif; }
  #contact dl dt {
    float: left;
    font-weight: normal; }
    #contact dl dt:after {
      margin-left: 5px;
      margin-right: 5px;
      content: ":"; }
  #contact dl dd a {
    color: #333; }
  #contact ul li {
    margin-top: 20px;
    font-size: 12px;
    line-height: 18px;
    font-family: "Tahoma", sans-serif; }
    #contact ul li a {
      color: #333; }
      #contact ul li a:hover, #contact ul li a:focus {
        color: #920326; }
  #contact .contact-us {
    margin-bottom: 35px; }
  #contact .map {
    margin-bottom: 35px; }
    #contact .map > div {
      height: 285px;
      background-image: url(/assets/images/main/img_map.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%; }
  @media (min-width: 768px) {
    #contact {
      margin: auto;
      max-width: none; }
      #contact h6 {
        margin-top: 20px; }
      #contact dl dt, #contact dl dd {
        font-size: 13px; }
      #contact ul li {
        float: left;
        width: 33.33%;
        font-size: 13px; }
        #contact ul li:nth-of-type(3n+1) {
          clear: both; }
        #contact ul li:nth-of-type(3n+3) {
          padding-left: 25px; }
      #contact .map {
        margin-bottom: 40px; }
        #contact .map > div {
          height: 325px; } }
  @media (min-width: 1280px) {
    #contact {
      padding-top: 85px;
      padding-bottom: 50px; }
      #contact ul {
        margin-top: 30px; }
        #contact ul li {
          float: none;
          width: auto; }
          #contact ul li:nth-of-type(3n+1) {
            clear: none; }
          #contact ul li:nth-of-type(3n+3) {
            padding-left: 0; }
      #contact .contact-us {
        margin-bottom: 0; }
      #contact .map {
        margin-bottom: 0;
        padding-left: 33px;
        padding-right: 24px; } }

#footer {
  margin-top: 0; }

/*# sourceMappingURL=main2.css.map */
