h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

#lnb h2 {
  padding-top: 35px !important;
  padding-bottom: 35px !important; }

#content .page-header {
  background-image: url(/assets/images/service/bg_visual.jpg); }

.accomodation .tabs {
  margin-top: 35px; }
@media (min-width: 768px) {
  .accomodation .tabs {
    margin-top: 55px; } }
.accomodation #accomodation-1 p i {
  color: #910023;
  font-style: normal; }
.accomodation #accomodation-1 .section {
  margin-top: 60px; }
  .accomodation #accomodation-1 .section .u-title {
    margin-bottom: 30px; }
  .accomodation #accomodation-1 .section figure ul li:last-child .img-responsive {
    margin-bottom: 20px; }
  .accomodation #accomodation-1 .section figure ul li .img-responsive {
    margin: 0 auto 10px; }
    @media (min-width: 768px) {
      .accomodation #accomodation-1 .section figure ul li .img-responsive {
        margin-bottom: 30px; } }
  .accomodation #accomodation-1 .section .room-rates {
    margin-top: 30px; }
.accomodation #accomodation-2 .section {
  margin-top: 60px; }
  .accomodation #accomodation-2 .section .u-title {
    margin-bottom: 30px; }
  .accomodation #accomodation-2 .section figure ul li:last-child .img-responsive {
    margin-bottom: 20px; }
  .accomodation #accomodation-2 .section figure ul li .img-responsive {
    margin: 0 auto 10px; }
    @media (min-width: 768px) {
      .accomodation #accomodation-2 .section figure ul li .img-responsive {
        margin-bottom: 30px; } }
  .accomodation #accomodation-2 .section i {
    font-style: normal;
    color: #910023; }
.accomodation #accomodation-2 .box {
  padding: 40px 10px;
  margin-top: 30px;
  margin-bottom: 60px;
  background-color: #f2f2f2; }
  @media (min-width: 768px) {
    .accomodation #accomodation-2 .box {
      padding: 50px 40px; } }
  @media (min-width: 992px) {
    .accomodation #accomodation-2 .box {
      padding: 50px; } }
  .accomodation #accomodation-2 .box .co-list {
    margin-bottom: 0 !important; }
.accomodation #accomodation-3 figure {
  margin-bottom: 20px; }
  .accomodation #accomodation-3 figure .img-responsive {
    margin: 0 auto 10px; }
  .accomodation #accomodation-3 figure figcaption {
    margin-top: 10px; }
.accomodation #accomodation-3 .box:nth-of-type(1) dl dt {
  margin-bottom: 7px;
  font-weight: normal; }
.accomodation #accomodation-3 .box:nth-of-type(1) dl dd {
  margin-bottom: 12px; }
  .accomodation #accomodation-3 .box:nth-of-type(1) dl dd a {
    word-break: break-all;
    word-wrap: break-word; }
.accomodation #accomodation-3 .box:nth-of-type(1) p {
  margin-bottom: 7px !important;
  line-height: 18px; }
.accomodation #accomodation-3 .box:nth-of-type(2) {
  margin-bottom: 0; }
@media (min-width: 768px) {
  .accomodation #accomodation-3 .box:nth-of-type(1) {
    margin-bottom: 30px; }
    .accomodation #accomodation-3 .box:nth-of-type(1) dl dt {
      float: left;
      margin-right: 10px; }
    .accomodation #accomodation-3 .box:nth-of-type(1) dl dd {
      margin-bottom: 7px; }
    .accomodation #accomodation-3 .box:nth-of-type(1) p {
      font-size: 13px; }
  .accomodation #accomodation-3 .box:nth-of-type(2) {
    margin-bottom: inherit; } }
@media (min-width: 1280px) {
  .accomodation #accomodation-3 figure {
    margin-bottom: 30px; }
  .accomodation #accomodation-3 .box:nth-of-type(1) {
    margin-bottom: 10px; } }

.student-life .title ~ .title {
  margin-top: 100px; }
.student-life .u-title {
  margin-top: 60px; }
.student-life h6 {
  font-size: 15px;
  color: #111;
  margin: 60px 0 30px; }
.student-life .btn-area {
  text-align: center; }
  @media (min-width: 768px) {
    .student-life .btn-area {
      text-align: left; } }
  .student-life .btn-area .btn-basic {
    display: inline-block;
    width: 300px;
    height: 60px !important;
    font-size: 13px !important;
    color: #fff !important;
    line-height: 20px;
    padding: 10px 0;
    background-color: #a3a3a3; }
    .student-life .btn-area .btn-basic .icon-info-circled {
      font-size: 13px;
      margin-right: 5px; }
    .student-life .btn-area .btn-basic:hover, .student-life .btn-area .btn-basic:focus {
      color: #fff !important; }
    @media (min-width: 768px) {
      .student-life .btn-area .btn-basic {
        width: 370px;
        height: 46px !important;
        padding: 13px 0; } }
.student-life .collapse-list .collapse-content .btn small {
  font-size: 14px; }
  @media (min-width: 768px) {
    .student-life .collapse-list .collapse-content .btn small {
      font-size: 13px; } }
.student-life .collapse-list .collapse-content .well .co-list {
  margin-bottom: 0 !important; }
  .student-life .collapse-list .collapse-content .well .co-list li a {
    color: #777 !important; }
.student-life .box {
  padding: 40px 10px;
  background-color: #f2f2f2; }
  .student-life .box strong {
    display: block;
    font-size: 13px;
    color: #910023;
    margin-bottom: 30px; }
    .student-life .box strong ~ strong {
      margin-top: 60px; }
  .student-life .box .co-list {
    margin-bottom: 0 !important; }
  @media (min-width: 768px) {
    .student-life .box {
      padding: 40px 50px; }
      .student-life .box strong {
        font-size: 14px; } }
.student-life figure .img-responsive {
  margin: 0 auto; }

.counseling-service .title {
  margin-top: 100px; }
.counseling-service .btn-area {
  text-align: center; }
  .counseling-service .btn-area .btn-default {
    display: inline-block;
    width: 300px;
    color: #fff !important;
    line-height: 45px;
    padding: 0 !important;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
    .counseling-service .btn-area .btn-default:hover, .counseling-service .btn-area .btn-default:focus {
      color: #fff !important;
      background-color: #910023 !important; }
  @media (min-width: 768px) {
    .counseling-service .btn-area {
      text-align: left; }
      .counseling-service .btn-area .btn-default {
        width: 270px; } }

.support-center .title {
  margin-top: 100px; }
.support-center .u-title {
  margin-top: 60px; }
.support-center .note {
  margin-bottom: 0 !important;
  line-height: 20px !important; }
.support-center .help-block {
  display: block;
  font-size: 12px;
  line-height: 20px !important;
  color: #aaa;
  margin: 0 !important; }
.support-center dl {
  overflow: hidden; }
  .support-center dl dt {
    float: left;
    clear: both;
    font-size: 13px;
    font-weight: 300; }
    .support-center dl dt:before {
      content: "\E804";
      font-family: "fontello";
      color: #777;
      opacity: .7;
      margin-right: 10px; }
    .support-center dl dt:after {
      content: ":";
      padding: 0 3px; }
  .support-center dl dd {
    font-size: 13px; }
  @media (min-width: 768px) {
    .support-center dl dt {
      font-size: 14px; }
    .support-center dl dd {
      font-size: 14px; } }
.support-center .table-responsive .table thead tr th {
  padding-top: 20px !important;
  padding-bottom: 20px !important; }
.support-center .table-responsive .table tbody tr td {
  padding-top: 20px !important;
  padding-bottom: 20px !important; }

.mentoring-program .title {
  margin-top: 100px; }
.mentoring-program ol li {
  position: relative;
  width: 100%;
  margin-bottom: 50px; }
  .mentoring-program ol li:after {
    position: absolute;
    bottom: -37px;
    left: 50%;
    margin-left: -8px;
    font-size: 20px;
    content: "\E80D";
    font-family: "fontello"; }
  .mentoring-program ol li:last-child {
    margin-bottom: 0; }
    .mentoring-program ol li:last-child:after {
      content: ""; }
  .mentoring-program ol li strong {
    display: block;
    color: #fff;
    font-size: 13px;
    line-height: 44px;
    text-align: center;
    background-color: #8b8b8b; }
  .mentoring-program ol li .details {
    border: 1px solid #e8e8e8;
    padding: 30px 0;
    text-align: center;
    font-size: 13px;
    line-height: 20px; }

.service-center .title {
  margin-top: 100px; }
.service-center .u-title {
  margin-top: 60px; }
.service-center .space {
  margin-top: 25px; }
.service-center .note i span {
  color: #910023; }
.service-center .table-responsive {
  border: 0 !important; }
  .service-center .table-responsive .table {
    border: 1px solid #bfbfbf;
    border-top: 0 !important; }
    .service-center .table-responsive .table tbody tr th {
      padding: 20px !important;
      background-color: #f7f7f7; }
    .service-center .table-responsive .table tbody tr td {
      padding: 20px !important; }
.service-center .box {
  margin-top: 30px;
  padding: 40px 10px;
  background-color: #f2f2f2; }
  .service-center .box .title {
    margin-top: 0; }
    .service-center .box .title ~ .title {
      margin-top: 50px; }
  .service-center .box .co-list li dl {
    overflow: hidden;
    margin-top: 10px; }
    .service-center .box .co-list li dl dt {
      position: relative;
      float: left;
      clear: both;
      font-size: 12px;
      color: #777;
      opacity: .8;
      line-height: 20px;
      font-weight: 300;
      padding-left: 25px; }
      .service-center .box .co-list li dl dt:before {
        position: absolute;
        top: 0;
        left: 0;
        font-family: "fontello"; }
      .service-center .box .co-list li dl dt:after {
        content: ":";
        margin: 0 3px; }
      .service-center .box .co-list li dl dt.tel:before {
        content: "\E804"; }
      .service-center .box .co-list li dl dt.email:before {
        content: "\E803"; }
      .service-center .box .co-list li dl dt.fax:before {
        content: "\F1AC"; }
      .service-center .box .co-list li dl dt.location:before {
        content: "\E811"; }
    .service-center .box .co-list li dl dd {
      font-size: 12px;
      color: #777;
      opacity: .8;
      font-weight: 300;
      line-height: 20px; }
      .service-center .box .co-list li dl dd a {
        color: #777 !important; }
  @media (min-width: 768px) {
    .service-center .box {
      padding: 40px 50px; } }

.health-center .title {
  margin-top: 100px; }
.health-center .u-title {
  margin-top: 60px; }
.health-center dl {
  overflow: hidden; }
  .health-center dl dt {
    position: relative;
    float: left;
    clear: both;
    font-size: 12px;
    color: #777;
    opacity: .8;
    line-height: 20px;
    font-weight: 300;
    padding-left: 25px; }
    .health-center dl dt:before {
      position: absolute;
      top: 0;
      left: 0;
      font-family: "fontello"; }
    .health-center dl dt:after {
      content: ":";
      margin: 0 3px; }
    .health-center dl dt.tel:before {
      content: "\E804"; }
    .health-center dl dt.site:before {
      content: "\E817"; }
    .health-center dl dt.clock:before {
      content: "\E818"; }
    .health-center dl dt.location:before {
      content: "\E811"; }
    @media (min-width: 768px) {
      .health-center dl dt {
        font-size: 14px;
        line-height: 25px; } }
  .health-center dl dd {
    font-size: 12px;
    color: #777;
    opacity: .8;
    font-weight: 300;
    line-height: 20px; }
    .health-center dl dd a {
      color: #777 !important; }
    @media (min-width: 768px) {
      .health-center dl dd {
        font-size: 14px;
        line-height: 25px; } }

.libraries .u-title {
  margin-top: 60px; }
.libraries figure {
  text-align: center; }
  .libraries figure .img-responsive {
    display: inline-block; }
  @media (min-width: 768px) {
    .libraries figure {
      text-align: right; }
      .libraries figure .img-responsive {
        margin-bottom: 20px; }
        .libraries figure .img-responsive:last-child {
          margin-bottom: 0; } }
.libraries .detils {
  margin-top: 30px; }
  .libraries .detils p {
    font-size: 13px !important;
    line-height: 22px !important; }
    .libraries .detils p i {
      font-style: normal;
      color: #910023; }
  @media (min-width: 768px) {
    .libraries .detils {
      margin-top: 0; }
      .libraries .detils p {
        font-size: 14px !important;
        line-height: 25px !important; } }
  .libraries .detils .dot-list li {
    position: relative;
    padding-left: 10px;
    margin-bottom: 10px; }
    .libraries .detils .dot-list li:before {
      position: absolute;
      top: 0;
      left: 0;
      content: "\E80B";
      font-family: "fontello"; }
    .libraries .detils .dot-list li:last-child {
      margin-bottom: 0; }
    .libraries .detils .dot-list li dl dt {
      float: left;
      clear: both;
      font-size: 12px;
      color: #666;
      line-height: 18px;
      font-weight: 300; }
      .libraries .detils .dot-list li dl dt:after {
        content: ":";
        margin: 0 3px; }
      @media (min-width: 768px) {
        .libraries .detils .dot-list li dl dt {
          font-size: 13px; } }
    .libraries .detils .dot-list li dl dd {
      font-size: 12px;
      color: #666;
      line-height: 18px; }
      @media (min-width: 768px) {
        .libraries .detils .dot-list li dl dd {
          font-size: 13px; } }

.sports-center .u-title {
  margin-top: 60px; }
.sports-center p i {
  font-style: normal;
  color: #910023; }
.sports-center .s-title {
  font-size: 13px;
  color: #333;
  line-height: 22px;
  margin-top: 40px;
  margin-bottom: 20px; }
  .sports-center .s-title + p {
    font-size: 12px !important;
    margin-bottom: 0 !important; }
    @media (min-width: 768px) {
      .sports-center .s-title + p {
        font-size: 14px !important; } }
  @media (min-width: 768px) {
    .sports-center .s-title {
      font-size: 14px; } }
.sports-center .note {
  font-size: 12px !important;
  line-height: 18px !important; }
  @media (min-width: 768px) {
    .sports-center .note {
      font-size: 13px !important;
      line-height: 25px !important; } }

.useful-sites .website-list ul li .website-information {
  position: relative;
  text-align: center;
  padding-bottom: 30px;
  margin-bottom: 20px;
  border: 1px solid #d4d4d4; }
  .useful-sites .website-list ul li .website-information .logo {
    display: inline-block;
    height: 80px;
    line-height: 80px !important;
    margin: 0 !important; }
    .useful-sites .website-list ul li .website-information .logo img {
      display: inline-block; }
  .useful-sites .website-list ul li .website-information .site-title {
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
    padding-bottom: 35px; }
    .useful-sites .website-list ul li .website-information .site-title.high {
      padding-bottom: 15px; }
    @media (min-width: 768px) {
      .useful-sites .website-list ul li .website-information .site-title {
        font-size: 14px; } }
    .useful-sites .website-list ul li .website-information .site-title small {
      font-weight: bold;
      font-size: 12px !important;
      letter-spacing: -.5px; }
  .useful-sites .website-list ul li .website-information .btn-area {
    position: absolute;
    bottom: 0;
    text-align: center; }
    .useful-sites .website-list ul li .website-information .btn-area .btn-basic {
      width: 148px;
      height: 30px !important;
      font-size: 13px !important;
      color: #666 !important;
      line-height: 28px !important;
      padding: 0;
      border: 1px solid #b2b2b2 !important;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      .useful-sites .website-list ul li .website-information .btn-area .btn-basic .icon-home {
        margin-right: 3px; }
      .useful-sites .website-list ul li .website-information .btn-area .btn-basic:hover, .useful-sites .website-list ul li .website-information .btn-area .btn-basic:focus {
        color: #fff !important;
        background-color: #910023 !important;
        border-color: #910023 !important; }
@media (min-width: 992px) {
  .useful-sites .website-list ul {
    margin-left: -10px;
    margin-right: -10px; }
    .useful-sites .website-list ul li {
      padding-left: 10px !important;
      padding-right: 10px !important; } }

/*# sourceMappingURL=service.css.map */
