h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

#content {
  font-family: "Tahoma", sans-serif;
  font-size: 13px;
  line-height: 25px;
  color: #666; }
  @media (min-width: 768px) {
    #content {
      font-size: 14px; } }
  @media (min-width: 1280px) {
    #content .container-fluid {
      width: 1200px; } }
  #content a {
    color: #920326; }
    #content a:hover, #content a:focus {
      color: #920326; }
  #content .title {
    margin-bottom: 30px !important;
    font-size: 15px;
    line-height: 22px;
    color: #920326;
    font-weight: bold; }
    @media (min-width: 768px) {
      #content .title {
        font-size: 16px; } }
  #content .u-title {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 22px;
    color: #333;
    text-decoration: underline; }
    @media (min-width: 768px) {
      #content .u-title {
        font-size: 16px; } }
  #content .c-title {
    position: relative;
    margin-bottom: 20px;
    padding-left: 30px;
    font-size: 13px;
    line-height: 20px;
    color: #666; }
    #content .c-title i {
      position: absolute;
      left: 0;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      background-color: #920326;
      border-radius: 50%;
      font-style: normal;
      color: #fff; }
  #content p {
    margin-bottom: 25px;
    font-size: 13px;
    line-height: 25px; }
    @media (min-width: 768px) {
      #content p {
        font-size: 14px; } }
  @media (min-width: 768px) {
    #content .page-content {
      margin: 0 auto;
      width: 710px; } }
  @media (min-width: 992px) {
    #content .page-content {
      width: 940px; } }
  @media (min-width: 1280px) {
    #content .page-content {
      width: 100%; } }
  #content .page-header {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 45px;
    padding-bottom: 45px;
    border-bottom: 0;
    text-align: center;
    background-color: #000;
    font-family: "Arial", sans-serif; }
    #content .page-header h1 {
      margin-bottom: 20px;
      font-size: 40px;
      color: #fff; }
    #content .page-header p {
      font-size: 16px;
      line-height: 24px;
      color: #fff; }
    @media (min-width: 1280px) {
      #content .page-header {
        margin-bottom: 80px;
        padding-top: 120px;
        padding-bottom: 120px; }
        #content .page-header h1 {
          font-size: 34px; }
        #content .page-header p {
          font-size: 14px;
          line-height: 22px; } }
  #content #lnb {
    z-index: 1001;
    margin-left: -10px;
    margin-right: -10px; }
    #content #lnb .btn {
      padding: 16px 20px;
      font-size: 14px;
      line-height: 18px;
      background-color: #920326;
      color: #fff;
      text-decoration: none;
      border: 0; }
      #content #lnb .btn:after {
        position: absolute;
        right: 10px;
        font-family: "fontello";
        content: "\F107"; }
    #content #lnb .dropdown-menu {
      margin-top: 0;
      padding-top: 0;
      padding-bottom: 0;
      width: 100%;
      border: 0;
      border-radius: 0;
      box-shadow: none;
      text-align: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
      #content #lnb .dropdown-menu > li > a {
        display: block;
        padding-top: 16px;
        padding-bottom: 16px;
        font-size: 14px;
        line-height: 18px;
        background-color: #333;
        color: #fff;
        border-top: 1px solid rgba(255, 255, 255, 0.1); }
      #content #lnb .dropdown-menu > li > ul {
        display: none; }
        #content #lnb .dropdown-menu > li > ul > li > a {
          display: block;
          padding: 16px 20px;
          font-size: 13px;
          line-height: 17px;
          background-color: #efefef;
          color: #777;
          text-decoration: none;
          border-top: 1px solid rgba(51, 51, 51, 0.1); }
      #content #lnb .dropdown-menu > li:first-child > a {
        border-top: 0; }
      #content #lnb .dropdown-menu > li.has-child > a:after {
        position: absolute;
        right: 10px;
        font-family: "fontello";
        content: "\E807";
        color: #fff; }
      #content #lnb .dropdown-menu > li.active > ul {
        display: block; }
      #content #lnb .dropdown-menu > li.active.has-child > a:after {
        content: "\E808"; }
    #content #lnb.open .btn:after {
      content: "\F106"; }
    @media (min-width: 768px) {
      #content #lnb {
        margin-left: -20px;
        margin-right: -20px; }
        #content #lnb .btn {
          font-size: 16px; }
        #content #lnb .dropdown-menu > li > a {
          padding-top: 18px;
          padding-bottom: 18px;
          font-size: 16px; }
        #content #lnb .dropdown-menu > li > ul > li > a {
          padding-top: 18px;
          padding-bottom: 18px;
          font-size: 14px;
          line-height: 18px; } }
    @media (min-width: 992px) {
      #content #lnb {
        margin-left: -15px;
        margin-right: -15px; } }
    @media (min-width: 1280px) {
      #content #lnb {
        margin-left: 0;
        margin-right: 0;
        width: 240px;
        /*
        &.lnb-about {
        	h2 {
        		padding-top: 40px;
        		padding-bottom: 40px;
        	}
        }
        */ }
        #content #lnb h2 {
          margin-bottom: 4px;
          padding-top: 20px;
          padding-bottom: 20px;
          height: 100px;
          background-color: #920326;
          color: #fff;
          font-size: 18px;
          line-height: 30px;
          text-align: center;
          font-weight: bold; }
        #content #lnb .btn {
          display: none; }
        #content #lnb .dropdown-menu {
          display: block !important;
          position: relative;
          text-align: left;
          border-bottom: 2px solid #920326; }
          #content #lnb .dropdown-menu > li > a {
            font-size: 13px;
            line-height: 17px;
            background-color: #fff;
            color: #777;
            border-top: 1px solid rgba(0, 0, 0, 0.1); }
            #content #lnb .dropdown-menu > li > a:hover, #content #lnb .dropdown-menu > li > a:focus {
              color: #920326; }
          #content #lnb .dropdown-menu > li > ul {
            padding-top: 12px;
            padding-bottom: 12px;
            background-color: #f6f6f6;
            border-top: 1px solid rgba(0, 0, 0, 0.1); }
            #content #lnb .dropdown-menu > li > ul > li > a {
              padding-top: 9px;
              padding-bottom: 9px;
              padding-left: 40px;
              border-top: 0;
              font-size: 12px;
              line-height: 16px;
              background-color: transparent; }
              #content #lnb .dropdown-menu > li > ul > li > a:before {
                position: absolute;
                margin-left: -10px;
                content: "-"; }
              #content #lnb .dropdown-menu > li > ul > li > a:hover, #content #lnb .dropdown-menu > li > ul > li > a:focus {
                color: #920326; }
          #content #lnb .dropdown-menu > li:first-child {
            border-top: 0; }
          #content #lnb .dropdown-menu > li.has-child > a {
            padding-right: 40px; }
            #content #lnb .dropdown-menu > li.has-child > a:after {
              right: 20px;
              content: "\F107";
              color: inherit; }
          #content #lnb .dropdown-menu > li.active > a {
            position: relative;
            background-color: #920326;
            color: #fff; }
            #content #lnb .dropdown-menu > li.active > a:after {
              position: absolute;
              top: 50%;
              right: 20px;
              margin-top: -9px;
              font-family: "fontello";
              content: "\F105"; }
          #content #lnb .dropdown-menu > li.active.has-child > a:after {
            content: "\F106";
            color: inherit; } }
  #content .page-title {
    margin-top: 55px;
    margin-bottom: 45px;
    height: 39px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    #content .page-title h3 {
      float: left;
      height: 40px;
      border-bottom: 2px solid #000;
      font-size: 18px;
      color: #333; }
    @media (min-width: 768px) {
      #content .page-title {
        margin-top: 65px;
        margin-bottom: 65px;
        height: 51px; }
        #content .page-title h3 {
          height: 52px;
          font-size: 26px; } }
    @media (min-width: 1280px) {
      #content .page-title {
        margin-top: 34px;
        height: 67px; }
        #content .page-title h3 {
          height: 68px;
          font-size: 28px; } }
  #content .tabs {
    margin-bottom: 55px; }
    #content .tabs .btn {
      padding-top: 14px;
      padding-bottom: 14px;
      padding-right: 30px;
      padding-left: 30px;
      height: auto;
      border: 1px solid #920326;
      background-color: #fff;
      color: #920326;
      font-size: 13px;
      line-height: 16px;
      font-weight: bold; }
      #content .tabs .btn:after {
        position: absolute;
        top: 50%;
        right: 20px;
        margin-top: -8px;
        font-family: "fontello";
        content: "\E80D"; }
    #content .tabs .dropdown-menu {
      margin-top: -1px;
      padding-top: 0;
      padding-bottom: 0;
      width: 100%;
      box-shadow: none;
      border-radius: 0;
      border: 1px solid #920326 !important; }
      #content .tabs .dropdown-menu ul > li {
        margin-bottom: 0; }
        #content .tabs .dropdown-menu ul > li > a {
          margin-bottom: 0;
          padding-top: 14px;
          padding-bottom: 14px;
          border-radius: 0;
          border-top: 0;
          border-left: 0;
          border-right: 0;
          border-bottom: 1px solid #e2e2e2;
          font-size: 13px;
          line-height: 16px;
          color: #666; }
        #content .tabs .dropdown-menu ul > li:last-child > a {
          border-bottom: 0; }
        #content .tabs .dropdown-menu ul > li.active > a {
          background-color: #920326;
          color: #fff; }
    #content .tabs.open .btn:after {
      content: "\E80E"; }
    @media (min-width: 768px) {
      #content .tabs {
        position: relative;
        height: 50px; }
        #content .tabs .btn {
          display: none; }
        #content .tabs .dropdown-menu {
          position: relative;
          top: 0;
          display: block;
          margin-top: 0;
          border-top: 0 !important;
          border-left: 0 !important;
          border-right: 0 !important; }
          #content .tabs .dropdown-menu > ul {
            padding-left: 1px; }
            #content .tabs .dropdown-menu > ul > li {
              vertical-align: top; }
              #content .tabs .dropdown-menu > ul > li > a {
                z-index: 0;
                position: relative;
                margin-left: -1px;
                padding-top: 16px;
                padding-bottom: 16px;
                border-top: 1px solid #e3e3e3;
                border-left: 1px solid #e3e3e3;
                border-right: 1px solid #e3e3e3;
                border-bottom: 0;
                background-color: #f7f7f7;
                height: 49px; }
                #content .tabs .dropdown-menu > ul > li > a.high {
                  padding-top: 8px;
                  padding-bottom: 8px; }
              #content .tabs .dropdown-menu > ul > li.active > a {
                z-index: 1;
                margin-bottom: -1px;
                height: 50px;
                background-color: #fff;
                color: #920326;
                font-weight: bold;
                border-top: 1px solid #920326;
                border-left: 1px solid #920326;
                border-right: 1px solid #920326;
                border-bottom: 1px solid #fff; } }
  #content .co-list {
    margin-bottom: 20px;
    counter-reset: section; }
    #content .co-list > li {
      position: relative;
      padding-left: 30px;
      color: #777;
      font-size: 13px;
      line-height: 20px; }
      #content .co-list > li:before {
        counter-increment: section;
        content: counter(section);
        position: absolute;
        left: 0;
        min-width: 20px;
        min-height: 20px;
        line-height: 20px;
        text-align: center;
        background-color: #920326;
        border-radius: 50%;
        color: #fff;
        font-size: 10px; }
      #content .co-list > li + li {
        margin-top: 20px; }
      #content .co-list > li * {
        font-size: 12px;
        line-height: 20px; }
  #content .u-list {
    margin-bottom: 20px; }
    #content .u-list > li {
      position: relative;
      padding-left: 10px;
      color: #777;
      font-size: 13px;
      line-height: 18px; }
      #content .u-list > li + li {
        margin-top: 7px; }
      #content .u-list > li:before {
        position: absolute;
        left: 0;
        font-family: "fontello";
        content: "\E80B"; }
  #content .box {
    margin-bottom: 35px;
    font-size: 13px; }
    #content .box.grey {
      background-color: #f5f5f5; }
    #content .box.space {
      padding: 40px 20px; }
    @media (min-width: 768px) {
      #content .box.space {
        padding: 40px 35px; } }
    @media (min-width: 1280px) {
      #content .box.space {
        padding: 30px 50px; } }
  #content .table-responsive {
    border-color: #bfbfbf; }
  #content .table.table-bordered {
    border-color: #bfbfbf; }
    #content .table.table-bordered th, #content .table.table-bordered td {
      padding-top: 10px;
      padding-bottom: 10px;
      border-color: #bfbfbf;
      font-size: 13px;
      line-height: 18px;
      vertical-align: middle;
      text-align: center;
      color: #666; }
    #content .table.table-bordered thead th {
      border-bottom-width: 1px;
      background-color: #f7f7f7; }
    #content .table.table-bordered .border-bottom-0 {
      border-bottom: 0; }
  #content .btn {
    height: 45px;
    border: 0;
    border-radius: 0;
    color: #fff;
    font-size: 14px; }
    #content .btn.btn-primary {
      background-color: #920326; }
    #content .btn.btn-default {
      background-color: #a3a3a3; }
  #content .btn-area {
    position: relative;
    margin-left: -5px;
    margin-right: -5px; }
    #content .btn-area:before, #content .btn-area:after {
      display: table;
      content: " "; }
    #content .btn-area p {
      display: table-cell;
      width: 50%;
      margin-bottom: 0;
      padding-left: 5px;
      padding-right: 5px; }
      #content .btn-area p .btn {
        overflow: hidden;
        width: 100%; }
  #content .note {
    margin-bottom: 7px !important;
    font-size: 12px;
    line-height: 18px;
    color: #666; }
    #content .note:before {
      margin-right: 5px;
      content: "*"; }

.paging {
  text-align: center;
  height: 30px; }
  .paging .pagination {
    display: inline-block;
    margin: 0; }
    .paging .pagination li a {
      width: 30px;
      height: 30px;
      font-size: 14px;
      color: #999 !important;
      line-height: 30px;
      padding: 0;
      text-align: center;
      border: 0;
      border-radius: 0;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      .paging .pagination li a i:before {
        margin: 0; }
      .paging .pagination li a:hover, .paging .pagination li a:focus {
        color: #910023 !important;
        background: none;
        font-weight: bold; }
      @media (min-width: 768px) {
        .paging .pagination li a {
          font-size: 13px; } }
    .paging .pagination li.active a {
      color: #910023 !important;
      background: none;
      font-weight: bold; }
    .paging .pagination li.angle a {
      width: 25px; }

.collapse-list .collapse-content {
  width: 100%;
  background-color: #f5f5f5; }
  .collapse-list .collapse-content .btn-collapse {
    position: relative;
    display: block;
    width: 100%;
    height: auto !important;
    font-size: 14px !important;
    color: #333 !important;
    text-align: left;
    padding: 20px 10px; }
    .collapse-list .collapse-content .btn-collapse:hover, .collapse-list .collapse-content .btn-collapse:focus {
      box-shadow: none; }
    .collapse-list .collapse-content .btn-collapse:after {
      position: absolute;
      top: 20px;
      right: 10px;
      display: block;
      width: 20px;
      height: 20px;
      font-size: 19px;
      color: #fff;
      text-align: center;
      line-height: 20px;
      content: "\F106";
      font-family: "fontello";
      border-radius: 50%;
      background-color: #9f9f9f; }
      @media (min-width: 768px) {
        .collapse-list .collapse-content .btn-collapse:after {
          right: 40px; } }
      @media (min-width: 992px) {
        .collapse-list .collapse-content .btn-collapse:after {
          right: 30px; } }
    .collapse-list .collapse-content .btn-collapse.btn-collapse.collapsed:after {
      content: "\F107"; }
    @media (min-width: 768px) {
      .collapse-list .collapse-content .btn-collapse {
        font-size: 16px !important;
        padding-left: 40px;
        padding-right: 40px; } }
    @media (min-width: 992px) {
      .collapse-list .collapse-content .btn-collapse {
        padding-left: 30px;
        padding-right: 30px; } }
  .collapse-list .collapse-content .well {
    font-size: 13px;
    color: #777;
    line-height: 22px;
    padding: 35px 0;
    margin: 0 10px;
    border: 0;
    border-top: 1px solid #cecece;
    border-radius: 0;
    box-shadow: none;
    background: none; }
    @media (min-width: 768px) {
      .collapse-list .collapse-content .well {
        margin: 0 40px;
        padding-bottom: 45px; } }
    @media (min-width: 992px) {
      .collapse-list .collapse-content .well {
        margin: 0 30px;
        padding-bottom: 40px; } }

.search-form {
  width: 100%;
  text-align: center;
  padding: 20px 10px;
  background-color: #f5f5f5; }
  @media (min-width: 768px) {
    .search-form {
      padding: 28px 0; } }
  .search-form .form-group {
    position: relative;
    width: 280px;
    font-size: 0;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .search-form .form-group {
        width: 357px; } }
    .search-form .form-group select {
      width: 86px;
      margin-right: 10px; }
      @media (min-width: 768px) {
        .search-form .form-group select {
          width: 105px; } }
    .search-form .form-group input {
      width: 184px;
      padding-right: 30px; }
      @media (min-width: 768px) {
        .search-form .form-group input {
          width: 242px; } }
    .search-form .form-group .form-control {
      display: inline-block;
      height: 35px;
      font-size: 12px;
      box-shadow: none;
      border-radius: 0;
      border: 1px solid #eaeaea; }
      @media (min-width: 768px) {
        .search-form .form-group .form-control {
          font-size: 14px; } }
    .search-form .form-group .btn-search {
      position: absolute;
      top: 1px;
      right: 1px;
      width: 33px;
      height: 33px;
      line-height: 33px;
      padding: 0;
      border: 0;
      border-radius: 0;
      background: none; }
      .search-form .form-group .btn-search .icon-search {
        font-size: 18px; }

/*# sourceMappingURL=sub.css.map */
