@import 'common';

#content {
	
	font-family: "Tahoma", sans-serif;
	font-size: 13px;
	line-height: 25px;
	color: #333;
	@media (min-width: $sm) {
		font-size: 14px;
	}
	@media (min-width: $lg) {
		padding-bottom: 100px;
		background-color: #f2f2f2;
	}

	.container-fluid {
		@media (min-width: $lg) {
			width: 1200px;
		}
	}

	a {
		color: $kcolor;
		&:hover, &:focus {
			color: $kcolor;
		}
	}

	.title {
		margin-bottom: 30px !important;
		font-size: 15px;
		line-height: 22px;
		color: $kcolor;
		font-weight: bold;
		@media (min-width: $sm) {
			font-size: 16px;
		}
	}
	
	.u-title {
		margin-bottom: 20px;
		font-size: 15px;
		line-height: 22px;
		color: #333;
		text-decoration: underline;
		@media (min-width: $sm) {
			font-size: 16px;
		}
	}
	
	.c-title {
		position: relative;
		margin-bottom: 20px;
		padding-left: 30px;
		font-size: 13px;
		line-height: 20px;
		color: #666;
		i {
			position: absolute;
			left: 0;
			width: 20px;
			height: 20px;
			line-height: 20px;
			text-align: center;
			background-color: $kcolor;
			border-radius: 50%;
			font-style: normal;
			color: #fff;
		}
	}

	p {
		margin-bottom: 25px;
		font-size: 13px;
		line-height: 25px;
		@media (min-width: $sm) {
			font-size: 14px;
		}
	}

	.page-content {
		@media (min-width: $sm) {
			margin: 0 auto;
			width: 710px;
		}
		@media (min-width: $md) {
			width: 940px;
		}
		@media (min-width: $lg) {
			margin-left: -30px;
			padding-top: 34px;
			padding-left: 30px;
			padding-right: 30px;
			padding-bottom: 40px;
			width: 900px;
			background-color: #ffffff;
		}
	}

	.page-header {
		display: table;
		margin-top: 0;
		margin-bottom: 0;
		padding-bottom: 0;
		width: 100%;
		height: 200px;
		border-bottom: 0;
		text-align: center;
		background-color: #000;
		font-family: "Arial", sans-serif;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		> div {
			display: table-cell;
			vertical-align: middle;
			h1 {
				margin-bottom: 20px;
				font-size: 40px;
				color: #fff;
			}
			p {
				margin-bottom: 0;
				font-size: 16px;
				line-height: 24px;
				color: #fff;
			}
		}
		@media (min-width: $lg) {
			margin-bottom: 80px;
			height: 316px;
			background-color: #fff;
			h1 {
				font-size: 34px;
			}
			p {
				font-size: 14px;
				line-height: 22px;
			}
		}
	}

	#lnb {
		z-index: 1001;
		margin-left: -10px;
		margin-right: -10px;
		.btn {
			padding: 16px 20px;
			font-size: 14px;
			line-height: 18px;
			background-color: $kcolor;
			color: #fff;
			text-decoration: none;
			border: 0;
			&:after {
				position: absolute;
				right: 10px;
				font-family: "fontello";
				content: "\F107";
			}
		}
		.dropdown-menu {
			margin-top: 0;
			padding-top: 0;
			padding-bottom: 0;
			width: 100%;
			border: 0;
			border-radius: 0;
			box-shadow: none;
			text-align: center;
			border-bottom: 1px solid rgba(#000, .1);
			> li {
				> a {
					display: block;
					padding-top: 16px;
					padding-bottom: 16px;
					font-size: 14px;
					line-height: 18px;
					background-color: #333;
					color: #fff;
					border-top: 1px solid rgba(#fff, .1);
					&:hover, &:focus {
						font-weight: bold;
					}
				}
				> ul {
					display: none;
					> li {
						> a {
							display: block;
							padding: 16px 20px;
							font-size: 13px;
							line-height: 17px;
							background-color: #efefef;
							color: #333;
							text-decoration: none;
							border-top: 1px solid rgba(#333, .1);
						}
					}
				}
				&:first-child {
					> a {
						border-top: 0;
					}
				}
				&.has-child {
					> a {
						&:after {
							position: absolute;
							right: 10px;
							font-family: "fontello";
							content: "\E807";
							color: #fff;
						}
					}
				}
				&.active {
					> ul {
						display: block;
					}
					&.has-child {
						> a {
							&:after {
								content: "\E808";
							}
						}
					}
				}
			}
		}
		&.open {
			.btn {
				&:after {
					content: "\F106";
				}
			}
		}
		@media (min-width: $sm) {
			margin-left: -20px;
			margin-right: -20px;
			.btn {
				font-size: 16px;
			}
			.dropdown-menu {
				> li {
					> a {
						padding-top: 18px;
						padding-bottom: 18px;
						font-size: 16px;
					}
					> ul {
						> li {
							> a {
								padding-top: 18px;
								padding-bottom: 18px;
								font-size: 14px;
								line-height: 18px;
							}
						}
					}
				}
			}
		}
		@media (min-width: $md) {
			margin-left: -15px;
			margin-right: -15px;
		}
		@media (min-width: $lg) {
			margin-left: 0;
			margin-right: 0;
			width: 240px;
			h2 {
				margin-bottom: 4px;
				padding-top: 20px;
				padding-bottom: 20px;
				height: 100px;
				background-color: $kcolor;
				color: #fff;
				font-size: 18px;
				line-height: 30px;
				text-align: center;
				font-weight: bold;
			}
			.btn {
				display: none;
			}
			.dropdown-menu {
				display: block !important;
				position: relative;
				text-align: left;
				border-bottom: 2px solid $kcolor;
				> li {
					> a {
						font-size: 13px;
						line-height: 17px;
						background-color: #fff;
						color: #333;
						border-top: 1px solid rgba(#000, .1);
						&:hover, &:focus {
							color: $kcolor;
						}
					}
					> ul {
						padding-top: 12px;
						padding-bottom: 12px;
						background-color: #fafafa;
						border-top: 1px solid rgba(#000, .1);
						> li {
							> a {
								padding-top: 9px;
								padding-bottom: 9px;
								padding-left: 40px;
								border-top: 0;
								font-size: 12px;
								line-height: 16px;
								background-color: transparent;
								&:before {
									position: absolute;
									margin-left: -10px;
									content: "-";
								}
								&:hover, &:focus {
									color: $kcolor;
								}
							}
							&.active {
								> a {
									color: $kcolor;
								}
							}
						}
					}
					&:first-child {
						border-top: 0;
					}
					&.has-child {
						> a {
							padding-right: 40px;
							&:after {
								right: 20px;
								content: "\F107";
								color: inherit;
							}
						}
					}
					&.active {
						> a {
							position: relative;
							background-color: $kcolor;
							color: #fff;
							&:after {
								position: absolute;
								top: 50%;
								right: 20px;
								margin-top: -9px;
								font-family: "fontello";
								content: "\F105";
							}
						}
						&.has-child {
							> a {
								&:after {
									content: "\F106";
									color: inherit;
								}
							}
						}
					}
				}
			}
			/*
			&.lnb-about {
				h2 {
					padding-top: 40px;
					padding-bottom: 40px;
				}
			}
			*/
		}
	}

	.page-title {
		margin-top: 55px;
		margin-bottom: 45px;
		height: 39px;
		border-bottom: 1px solid rgba(#000, .1);
		h3 {
			float: left;
			height: 40px;
			border-bottom: 2px solid #000;
			font-size: 18px;
			color: #333;
		}
		@media (min-width: $sm) {
			margin-top: 65px;
			margin-bottom: 65px;
			height: 51px;
			h3 {
				height: 52px;
				font-size: 26px;
			}
		}
		@media (min-width: $lg) {
			//margin-top: 34px;
			margin-top: 0;
			height: 67px;
			h3 {
				height: 68px;
				font-size: 28px;
			}
		}
	}
	
	.tabs {
		margin-bottom: 55px;
		.btn {
			padding-top: 14px;
			padding-bottom: 14px;
			padding-right: 30px;
			padding-left: 30px;
			height: auto;
			border: 1px solid #436112;
			background-color: #6e8e3b;
			color: #fff;
			font-size: 13px;
			line-height: 16px;
			font-weight: bold;
			&:after {
				position: absolute;
				top: 50%;
				right: 20px;
				margin-top: -8px;
				font-family: "fontello";
				content: "\E80D";
			}
		}
		.dropdown-menu {
			margin-top: -1px;
			padding-top: 0;
			padding-bottom: 0;
			width: 100%;
			box-shadow: none;
			border-radius: 0;
			border: 1px solid #6e8e3b !important;
			ul {
				> li {
					margin-bottom: 0;
					> a {
						margin-bottom: 0;
						padding-top: 14px;
						padding-bottom: 14px;
						border-radius: 0;
						border-top: 0;
						border-left: 0;
						border-right: 0;
						border-bottom: 1px solid #e2e2e2;
						font-size: 13px;
						line-height: 16px;
						color: #666;
					}
					&:last-child {
						> a {
							border-bottom: 0;
						}
					}
					&.active {
						> a {
							background-color: #eee;
							color: #333;
						}
					}
				}
			}
		}
		&.open {
			.btn {
				&:after {
					content: "\E80E";
				}
			}
		}
		@media (min-width: $sm) {
			position: relative;
			height: 50px;
			.btn {
				display: none;
			}
			.dropdown-menu {
				position: relative;
				top: 0;
				display: block;
				margin-top: 0;
				border-top: 0 !important;
				border-left: 0 !important;
				border-right: 0 !important;
				border-bottom: 0 !important;
				> ul {
					> li {
						vertical-align: top;
						> a {
							z-index: 0;
							position: relative;
							margin-right: 1px;
							padding-top: 16px;
							padding-bottom: 16px;
							border-top: 1px solid #969696;
							border-left: 1px solid #969696;
							border-right: 1px solid #969696;
							border-bottom: 1px solid #969696;
							//background-color: #f7f7f7;
							height: 50px;
							color: #fff;
							font-size: 14px;
							border-top-left-radius: 5px;
							border-top-right-radius: 5px;
							background: #969696; /* Old browsers */
							background: -moz-linear-gradient(top, #c0c0c0 0%, #969696 50%); /* FF3.6-15 */
							background: -webkit-linear-gradient(top, #c0c0c0 0%, #969696 50%); /* Chrome10-25,Safari5.1-6 */
							background: linear-gradient(to bottom, #c0c0c0 0%, #969696 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7bb89', endColorstr='#6e8e3b',GradientType=0 ); /* IE6-9 */
							&.high {
								padding-top: 8px;
								padding-bottom: 8px;
							}
						}
						&.active {
							> a {
								z-index: 1;
								margin-bottom: -1px;
								height: 50px;
								//background-color: #fff;
								color: #fff;
								font-weight: bold;
								border-top: 1px solid #6e8e3b;
								border-left: 1px solid #6e8e3b;
								border-right: 1px solid #6e8e3b;
								border-bottom: 1px solid #6e8e3b;
								background: #6e8e3b; /* Old browsers */
								background: -moz-linear-gradient(top, #a7bb89 0%, #6e8e3b 50%); /* FF3.6-15 */
								background: -webkit-linear-gradient(top, #a7bb89 0%, #6e8e3b 50%); /* Chrome10-25,Safari5.1-6 */
								background: linear-gradient(to bottom, #a7bb89 0%, #6e8e3b 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7bb89', endColorstr='#6e8e3b',GradientType=0 ); /* IE6-9 */
							}
						}
					}
				}
			}
		}
	}
	
	.co-list {
		margin-bottom: 20px;
		counter-reset: section;
		> li {
			position: relative;
			padding-left: 30px;
			color: #333;
			font-size: 13px;
			line-height: 20px;
			&:before {
				counter-increment: section;
				content: counter(section); 
				position: absolute;
				left: 0;
				min-width: 20px;
				min-height: 20px;
				line-height: 20px;
				text-align: center;
				background-color: $kcolor;
				border-radius: 50%;
				color: #fff;
				font-size: 10px;
			}
			& + li {
				margin-top: 20px;
			}
			* {
				font-size: 12px;
				line-height: 20px;
			}
		}
	}
	
	.u-list {
		margin-bottom: 20px;
		> li {
			position: relative;
			padding-left: 10px;
			color: #777;
			font-size: 13px;
			line-height: 18px;
			& + li {
				margin-top: 7px;
			}
			&:before {
				position: absolute;
				left: 0;
				font-family: "fontello";
				content: "\E80B";
			}
		}
	}	
	
	.box {
		margin-bottom: 35px;
		font-size: 13px;
		&.grey {
			background-color: #f5f5f5;
		}
		&.space {
			padding: 40px 20px;
		}
		@media (min-width: $sm) {
			&.space {
				padding: 40px 35px;
			}
		}
		@media (min-width: $lg) {
			&.space {
				padding: 30px 50px;
			}
		}
	}
	
	.table-responsive {
		border-color: #bfbfbf;
		border-left: 0;
		border-right: 0;
	}
	.table.table-bordered {
		border-color: #bfbfbf;
		border-left: 0;
		border-right: 0;
		th, td {
			padding-top: 12px !important;
			padding-bottom: 12px !important;
			border-color: #bfbfbf;
			font-size: 13px;
			line-height: 18px;
			vertical-align: middle;
			text-align: center;
			color: #666;
			border-left: 0;
			border-right: 0;
		}
		thead {
			th {
				border-bottom-width: 1px;
				background-color: #f7f7f7;
			}
		}
		.border-bottom-0 {
			border-bottom: 0;
		}
	}
	
	.btn {
		height: 45px;
		border: 0;
		border-radius: 0;
		color: #fff;
		font-size: 14px;
		&.btn-primary {
			background-color: $kcolor;
		}
		&.btn-default {
			background-color: #a3a3a3;
		}
	}
	
	.btn-area {
		position: relative;
		p {
			margin-bottom: 0;
			& + p {
				.btn {
					margin-top: 10px;
				}
			}
		}
		@media (min-width: $sm) {
			div {
				display: inline-block;
				p {
					margin-top: 0;
					display: inline;
					.btn {
						float: left;
					}
					& + p {
						.btn {
							margin-top: 0;
							margin-left: 10px;
						}
					}
				}
			}
		}
	}
	
	.note {
		margin-bottom: 7px !important;
		font-size: 12px;
		line-height: 18px;
		color: #666;
		&:before {
			margin-right: 5px;
			content: "*";
		}
	}
	
	.paging {
		text-align: center;
		height: 30px;
		.pagination {
			display: inline-block;
			margin: 0;
			li {
				a {
					width: 30px;
					height: 30px;
					font-size: 14px;
					color: #999 !important;
					line-height: 30px;
					padding: 0;
					text-align: center;
					border: 0;
					border-radius: 0;
					@include trans();
					i {
						&:before {
							margin: 0;
						}
					}
					&:hover, &:focus {
						color: #910023 !important;
						background: none;
						font-weight: bold;
					}
					@media(min-width: $sm) {
						font-size: 13px;
					}
				}
				&.active {
					a {
						color: #910023 !important;
						background: none;
						font-weight: bold;
					}
				}
				&.angle {
					a {
						width: 25px;
					}
				}
			}
		}
	}

	.collapse-list {
		.collapse-content {
			width: 100%;
			background-color: #f5f5f5;
			.btn-collapse {
				position: relative;
				display: block;
				width: 100%;
				height: auto !important;
				font-size: 14px !important;
				color: #333 !important;
				text-align: left;
				padding: 20px 10px;
				&:hover, &:focus {
					box-shadow: none;
				}
				&:after {
					position: absolute;
					top: 20px;
					right: 10px;
					display: block;
					width: 20px;
					height: 20px;
					font-size: 19px;
					color: #fff;
					text-align: center;
					line-height: 20px;
					content: "\F106";
					font-family: "fontello";
					border-radius: 50%;
					background-color: #9f9f9f;
					@media(min-width: $sm) {
						right: 40px;
					}
					@media(min-width: $md) {
						right: 30px;
					}
				}
				&.btn-collapse.collapsed {
					&:after {
						content: "\F107";
					}
				}
				@media(min-width: $sm) {
					font-size: 16px !important;
					padding-left: 40px;
					padding-right: 40px;
				}
				@media(min-width: $md) {
					padding-left: 30px;
					padding-right: 30px;
				}
			}
			.well {
				font-size: 13px;
				color: #333;
				line-height: 22px;
				padding: 35px 0;
				margin: 0 10px;
				border: 0;
				border-top: 1px solid #cecece;
				border-radius: 0;
				box-shadow: none;
				background: none;
				@media(min-width: $sm) {
					margin: 0 40px;
					padding-bottom: 45px;
				}
				@media(min-width: $md) {
					margin: 0 30px;
					padding-bottom: 40px;
				}
			}
		}
	}

	.search-form {
		width: 100%;
		text-align: center;
		padding: 20px 10px;
		background-color: #f5f5f5;
		@media(min-width: $sm) {
			padding: 28px 0;
		}
		.form-group {
			position: relative;
			width: 280px;
			font-size: 0;
			margin: 0 auto;
			@media(min-width: $sm) {
				width: 357px;
			}
			select {
				width: 86px;
				margin-right: 10px;
				@media(min-width: $sm) {
					width: 105px;
				}
			}
			input {
				width: 184px;
				padding-right: 30px;
				@media(min-width: $sm) {
					width: 242px;
				}
			}
			.form-control {
				display: inline-block;
				height: 35px;
				font-size: 12px;
				box-shadow: none;
				border-radius: 0;
				border: 1px solid #eaeaea;
				@media(min-width: $sm) {
					font-size: 14px;
				}
			}
			.btn-search {
				position: absolute;
				top: 1px;
				right: 1px;
				width: 33px;
				height: 33px;
				line-height: 33px;
				padding: 0;
				border: 0;
				border-radius: 0;
				background: none;
				.icon-search {
					font-size: 18px;
				}
			}
		}
	}
	
	.password-area {
		margin-top: 60px;
		margin-bottom: 20px;
		text-align: center;
		.ico {
			img {
				width: 65px;
			}
		}
		.u-title {
			margin-top: 25px;
		}
		p {
			margin-bottom: 40px;
			line-height: 20px;
		}
		form {
			position: relative;
			padding-right: 100px;
			margin: 0 auto;
			max-width: 300px;
			height: 44px;
			.form-control {
				width: 100%;
				height: 45px;
				&:focus {
					border-color: $kcolor;
				}
			}
			.btn {
				position: absolute;
				top: 0;
				right: 0;
				width: 90px;
				font-size: 14px;
			}
		}
		@media (min-width: $sm) {
			margin-top: 130px;
			margin-bottom: 130px;
			.ico {
				img {
					width: auto;
				}
			}
			.u-title {
				margin-top: 45px;
			}
			form {
				padding-right: 130px;
				max-width: 400px;
				.btn {
					width: 120px;
				}
			}
		}
		@media (min-width: $lg) {
			margin-top: 110px;
		}
	}
}

#goto-top {
	display: none;
	z-index: 1000;
	position: fixed;
	bottom: 10px;
	right: 10px;
	padding-top: 15px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #ccc;
	color: #fff;
	text-decoration: none;
	text-align: center;
	font-family: "Tahoma", sans-serif;
	font-size: 12px;
	font-weight: bold;
	&:before {
		position: absolute;
		top: 3px;
		left: 16px;
		font-family: "fontello";
		content: "\f106";
	}
	&.show {
		display: block;
	}
	@media (min-width: 1350px) {
		bottom: 25px;
		right: auto;
		left: 50%;
		margin-left: 615px;
		padding-top: 20px;
		width: 49px;
		height: 49px;
		font-size: 13px;
		&:before {
			top: 5px;
			left: 20px;
		}
	}
}